{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}



      <li class="header-menu-wrapper" >
        <a class="#" href="#" data-value="NZ">
        

          <img src="{{ 'nzd.svg' | asset_url }}" loading="lazy"  width="40" height="40">  NZD
        </a>

        
      </li>
      <li class="header-menu-wrapper" >
        <a class="" href="#" data-value="CA">
         
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/1200px-Flag_of_Canada_%28Pantone%29.svg.png" loading="lazy"  width="40" height="40"> CAD
        </a>
      </li>


   <li class="header-menu-wrapper" >
        <a class="" href="#" data-value="US">
    
          <img src="{{ 'usd.svg' | asset_url }}" loading="lazy" width="40" height="40">  USD
        </a>
      </li>

      
      <li class="header-menu-wrapper" >
        <a class="" href="#" data-value="AU">
   
          <img src="{{ 'aud.svg' | asset_url }}" loading="lazy" width="40" height="40" alt="Aud"> AUD
        </a>
      </li>
   <li class="header-menu-wrapper" >
        <a class="" href="#" data-value="AX">
       
          <img src="{{ 'eur.svg' | asset_url }}" loading="lazy"  width="40" height="40" alt="Eur"> EUR
        </a>
      </li>
      <li class="header-menu-wrapper" value="GBP" >
        <a class="" href="#" value="GBP" data-value="GBP">

          <img src="{{ 'gbp.svg' | asset_url }} " loading="lazy"  width="40" height="40" alt="GBP"> GBP

        </a>
      </li>
      <li class="header-menu-wrapper" >
        <a class="" href="#" data-value="ZA">
       
          
          <img src="{{ 'zar.svg' | asset_url }}" loading="lazy"  width="40" height="40" alt="ZAR"> ZAR
        </a>
      </li>
      


<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">


<style>
.header-menu-wrapper{
 margin:3px 0;
}
</style>