{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}
  {%- if block.settings.picker_type == 'button' -%}
    <div class="variant-btn">
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      data-variant="{{ value | handle }}"
      data-price="{{ product.variants[forloop.index0].price | money }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
        {% else %}
        class="variant-option"
      {% endif %}
    >
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
    {% if forloop.first == true %}
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1189_1084)">
              <path d="M6.50002 1.20311C6.39064 1.24217 6.23439 1.3242 6.16017 1.39061C5.9297 1.57811 2.23048 6.20311 2.1172 6.44139C1.91798 6.86717 2.01564 7.39842 2.35548 7.72655C2.50002 7.86327 12.0039 14.6758 12.457 14.9687C12.6836 15.1094 12.9375 15.1172 13.1328 14.9883C13.207 14.9375 14.543 13.875 16.1055 12.625C17.8672 11.2148 18.9649 10.3086 19.0039 10.2383C19.086 10.0781 19.0781 9.81248 18.9883 9.66795C18.9414 9.58983 16.9219 8.10545 13.2656 5.46873C10.1602 3.22264 7.52736 1.33592 7.41798 1.27342C7.16017 1.12498 6.79298 1.09764 6.50002 1.20311ZM15.0039 9.46483C15.1563 9.56639 15.2735 9.77342 15.2735 9.94139C15.2735 10.1094 15.1563 10.3164 15.0039 10.418C14.7266 10.6055 14.3203 10.4961 14.1719 10.1953C13.9766 9.81248 14.2539 9.37498 14.6875 9.37498C14.8125 9.37498 14.9141 9.40233 15.0039 9.46483Z" fill="black"/>
              <path d="M4.39453 11.1797C4.05859 11.6563 4.01562 11.8203 4.16406 12.1133C4.19141 12.1719 4.33203 12.3008 4.47656 12.4023C4.61719 12.5039 4.71875 12.6016 4.69922 12.6172C4.25781 13.0117 3.67969 13.3242 3.12891 13.4609C2.82031 13.5391 2.61719 13.5625 1.96484 13.582L1.17188 13.6055V12.8945C1.17188 12.2617 1.16406 12.168 1.09375 12.0313C1.00391 11.8555 0.78125 11.7188 0.585938 11.7188C0.390625 11.7188 0.167969 11.8555 0.078125 12.0313C0 12.1797 0 12.2539 0 15.293C0 18.332 0 18.4063 0.078125 18.5547C0.167969 18.7305 0.390625 18.8672 0.585938 18.8672C0.78125 18.8672 1.00391 18.7305 1.09375 18.5547C1.16406 18.418 1.17188 18.3242 1.17188 17.7617V17.125L2.08203 17.0781C2.76172 17.0469 3.10547 17.0078 3.45703 16.9375C4.92188 16.6289 6.12891 15.9883 7.22656 14.9375L7.60156 14.5781L7.94922 14.8164C8.26953 15.0352 8.32031 15.0586 8.50391 15.0586C8.76172 15.0586 8.85938 14.9883 9.15625 14.5742C9.38281 14.2578 9.38672 14.25 9.3125 14.1836C9.21484 14.0898 4.74609 10.9023 4.67578 10.875C4.64453 10.8633 4.53906 10.9766 4.39453 11.1797Z" fill="black"/>
              <path d="M17.3008 13.1679C16.0899 14.1367 15.086 14.9414 15.0703 14.957C15.0352 14.9882 16.336 15.9297 16.4922 15.9843C16.6289 16.0312 16.8477 16.0039 16.9766 15.9218C17.0899 15.8437 19.836 12.4492 19.9297 12.2656C20.0664 12 19.9883 11.7187 19.7227 11.5273C19.6328 11.4609 19.5469 11.4062 19.5313 11.4062C19.5157 11.4062 18.5117 12.1992 17.3008 13.1679Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_1189_1084">
                <rect width="20" height="20" fill="black"/>
              </clipPath>
            </defs>
          </svg>
      {% endif %}
      {% if forloop.last  == true %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1189_1098)">
            <path d="M3.66662 0.0357952C3.60492 0.0578299 3.51678 0.104103 3.47492 0.141562C3.34491 0.247329 1.25822 2.85625 1.19432 2.99066C1.08194 3.23084 1.13703 3.53051 1.32873 3.71561C1.41026 3.79273 6.77132 7.63559 7.02693 7.80086C7.15473 7.88018 7.29795 7.88459 7.40813 7.81187C7.44999 7.78323 8.20358 7.18388 9.08498 6.47877C10.0787 5.68331 10.6979 5.1721 10.72 5.13244C10.7662 5.0421 10.7618 4.89226 10.7111 4.81073C10.6847 4.76666 9.5455 3.92934 7.48305 2.44199C5.73128 1.17499 4.24614 0.110713 4.18444 0.0754576C4.03901 -0.00827456 3.83188 -0.0236988 3.66662 0.0357952ZM8.4636 4.69615C8.54953 4.75344 8.61564 4.87023 8.61564 4.96498C8.61564 5.05973 8.54953 5.17651 8.4636 5.2338C8.30715 5.33957 8.07799 5.27787 7.99425 5.1082C7.88408 4.89226 8.04053 4.64547 8.28511 4.64547C8.35562 4.64547 8.41292 4.6609 8.4636 4.69615Z" fill="#202020"/>
            <path d="M2.47891 5.66355C2.28941 5.93238 2.26518 6.02492 2.34891 6.19018C2.36433 6.22324 2.44366 6.29595 2.52519 6.35324C2.60451 6.41053 2.6618 6.46562 2.65079 6.47443C2.40179 6.69698 2.07568 6.87326 1.76499 6.95038C1.59091 6.99445 1.47633 7.00768 1.10835 7.01869L0.661044 7.03191V6.63088C0.661044 6.27392 0.656637 6.22103 0.616974 6.14391C0.566294 6.04475 0.440696 5.96763 0.330522 5.96763C0.220348 5.96763 0.0947496 6.04475 0.0440696 6.14391C0 6.22764 0 6.26951 0 7.98382C0 9.69812 0 9.73999 0.0440696 9.82372C0.0947496 9.92288 0.220348 10 0.330522 10C0.440696 10 0.566294 9.92288 0.616974 9.82372C0.656637 9.7466 0.661044 9.69372 0.661044 9.37642V9.01725L1.17445 8.99081C1.55786 8.97318 1.75177 8.95114 1.95008 8.91148C2.77638 8.73741 3.45726 8.37604 4.07644 7.7833L4.28797 7.58058L4.48408 7.71499C4.66477 7.83839 4.69341 7.85161 4.79697 7.85161C4.9424 7.85161 4.99749 7.81195 5.16496 7.57838C5.29276 7.39989 5.29496 7.39549 5.25309 7.35803C5.19801 7.30515 2.67723 5.50711 2.63756 5.49168C2.61994 5.48507 2.56044 5.54897 2.47891 5.66355Z" fill="#202020"/>
            <path d="M9.75925 6.78511C9.07617 7.33158 8.50988 7.78549 8.50107 7.79431C8.48123 7.81194 9.21499 8.34297 9.30313 8.37382C9.38025 8.40026 9.50365 8.38484 9.57636 8.33857C9.64026 8.2945 11.1893 6.37967 11.2422 6.27611C11.3193 6.12627 11.2752 5.96762 11.1254 5.85965C11.0747 5.82219 11.0263 5.79135 11.0174 5.79135C11.0086 5.79135 10.4423 6.23865 9.75925 6.78511Z" fill="#202020"/>
            <path d="M16.3334 10.0358C16.3951 10.0578 16.4832 10.1041 16.5251 10.1416C16.6551 10.2473 18.7418 12.8562 18.8057 12.9907C18.9181 13.2308 18.863 13.5305 18.6713 13.7156C18.5897 13.7927 13.2287 17.6356 12.9731 17.8009C12.8453 17.8802 12.702 17.8846 12.5919 17.8119C12.55 17.7832 11.7964 17.1839 10.915 16.4788C9.92125 15.6833 9.30208 15.1721 9.28004 15.1324C9.23377 15.0421 9.23818 14.8923 9.28886 14.8107C9.3153 14.7667 10.4545 13.9293 12.517 12.442C14.2687 11.175 15.7539 10.1107 15.8156 10.0755C15.961 9.99173 16.1681 9.9763 16.3334 10.0358ZM11.5364 14.6962C11.4505 14.7534 11.3844 14.8702 11.3844 14.965C11.3844 15.0597 11.4505 15.1765 11.5364 15.2338C11.6929 15.3396 11.922 15.2779 12.0057 15.1082C12.1159 14.8923 11.9595 14.6455 11.7149 14.6455C11.6444 14.6455 11.5871 14.6609 11.5364 14.6962Z" fill="#202020"/>
            <path d="M17.5211 15.6636C17.7106 15.9324 17.7348 16.0249 17.6511 16.1902C17.6357 16.2232 17.5563 16.296 17.4748 16.3532C17.3955 16.4105 17.3382 16.4656 17.3492 16.4744C17.5982 16.697 17.9243 16.8733 18.235 16.9504C18.4091 16.9945 18.5237 17.0077 18.8916 17.0187L19.339 17.0319V16.6309C19.339 16.2739 19.3434 16.221 19.383 16.1439C19.4337 16.0448 19.5593 15.9676 19.6695 15.9676C19.7797 15.9676 19.9053 16.0448 19.9559 16.1439C20 16.2276 20 16.2695 20 17.9838C20 19.6981 20 19.74 19.9559 19.8237C19.9053 19.9229 19.7797 20 19.6695 20C19.5593 20 19.4337 19.9229 19.383 19.8237C19.3434 19.7466 19.339 19.6937 19.339 19.3764V19.0172L18.8255 18.9908C18.4421 18.9732 18.2482 18.9511 18.0499 18.9115C17.2236 18.7374 16.5427 18.376 15.9236 17.7833L15.712 17.5806L15.5159 17.715C15.3352 17.8384 15.3066 17.8516 15.203 17.8516C15.0576 17.8516 15.0025 17.8119 14.835 17.5784C14.7072 17.3999 14.705 17.3955 14.7469 17.358C14.802 17.3051 17.3228 15.5071 17.3624 15.4917C17.3801 15.4851 17.4396 15.549 17.5211 15.6636Z" fill="#202020"/>
            <path d="M10.2407 16.7851C10.9238 17.3316 11.4901 17.7855 11.4989 17.7943C11.5188 17.8119 10.785 18.343 10.6969 18.3738C10.6197 18.4003 10.4964 18.3848 10.4236 18.3386C10.3597 18.2945 8.81069 16.3797 8.75781 16.2761C8.68068 16.1263 8.72475 15.9676 8.87459 15.8597C8.92527 15.8222 8.97375 15.7913 8.98256 15.7913C8.99137 15.7913 9.55767 16.2387 10.2407 16.7851Z" fill="#202020"/>
          </g>
          <defs>
            <clipPath id="clip0_1189_1098">
              <rect width="20" height="20" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% endif %}
      {{ value -}}
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
    </div>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
