<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="tab_custom_contact">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
          {%- when 'text' -%}
            <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
           {%- when 'tab_heading' -%}
            <div class="rich-text__text tab_heading" {{ block.shopify_attributes }}>
              <div class="tab_heading_flex">
                {% if block.settings.heading1 != blank %}
              <div class="tab_heading_item active" data-tab="1">
                <span class="desk-only">{{ block.settings.heading1 }}</span>
                <span class="mob-only">{{ block.settings.heading1_mobile }}</span>
              </div>
                  {% endif %}
                {% if block.settings.heading2 != blank %}
              <div class="tab_heading_item" data-tab="2">
                <span class="desk-only">{{ block.settings.heading2 }}</span>
                <span class="mob-only">{{ block.settings.heading2_mobile }}</span>
              </div>
                  {% endif %}
                {% if block.settings.heading3 != blank %}
              <div class="tab_heading_item" data-tab="3">
                <span class="desk-only">{{ block.settings.heading3 }}</span>
                <span class="mob-only">{{ block.settings.heading3_mobile }}</span>
              </div>
                  {% endif %}
                {% if block.settings.heading4 != blank %}
              <div class="tab_heading_item" data-tab="4">
                <span class="desk-only">{{ block.settings.heading4 }}</span>
                <span class="mob-only">{{ block.settings.heading4_mobile }}</span>
              </div>
                  {% endif %}
                {% if block.settings.heading5 != blank %}
              <div class="tab_heading_item" data-tab="5">
                <span class="desk-only">{{ block.settings.heading5 }}</span>
                <span class="mob-only">{{ block.settings.heading5_mobile }}</span>
              </div>
                  {% endif %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
      <div class="tabs_content_main">
        <div class="tab_content active" data-tab="1">
           <div class="tab_content_flex">
         <div class="tab_content_tabs">
        {% assign index_loop = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab1_content' -%}
          {% if block.settings.heading != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_tab_item{% if index_loop == 1 %} active{% endif %}" data-tab="{{ index_loop }}">
              <div class="tab_content_tab_heading">{{ block.settings.heading }}</div>
              <div class="tab_content_tab_subheading">{{ block.settings.subheading }}</div>
            </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
         </div>
         <div class="tab_content_tabs_content">
        {% assign index_loop_main = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab1_content' -%}
        {% assign index_loop = 0 %}
  {% assign index_loop_main = index_loop_main | plus: 1 %}
         <div class="tab_content_tabs_content_item" data-tab="{{ index_loop_main }}"{% if index_loop_main >1 %} style="display:none;"{% endif %}>
          {% if block.settings.heading1 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading1 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">
            {{ block.settings.text1 }}
            {% if block.settings.image1 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image1 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image1.alt }} }}">
            </div>
              {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading2 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading2 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text2 }}
            {% if block.settings.image2 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image2 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image2.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading3 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading3 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text3 }}
            {% if block.settings.image3 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image3 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image3.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading4 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading4 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text4 }}
            {% if block.settings.image4 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image4 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image4.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading5 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading5 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text5 }}
            {% if block.settings.image5 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image5 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image5.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          
          {% if block.settings.html != blank %}
 <div class="html">
   {{ block.settings.html }}
 </div>
            {% endif %}
         </div>
        {%- endcase -%}
      {%- endfor -%}
         </div>
       </div>
        </div>
        <div class="tab_content" data-tab="2" style="display:none"> 
          <div class="tab_content_flex">
         <div class="tab_content_tabs">
        {% assign index_loop = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab2_content' -%}
          {% if block.settings.heading != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_tab_item{% if index_loop == 1 %} active{% endif %}" data-tab="{{ index_loop }}">
              <div class="tab_content_tab_heading">{{ block.settings.heading }}</div>
              <div class="tab_content_tab_subheading">{{ block.settings.subheading }}</div>
            </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
         </div>
         <div class="tab_content_tabs_content">
        {% assign index_loop_main = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab2_content' -%}
        {% assign index_loop = 0 %}
  {% assign index_loop_main = index_loop_main | plus: 1 %}
         <div class="tab_content_tabs_content_item" data-tab="{{ index_loop_main }}"{% if index_loop_main >1 %} style="display:none;"{% endif %}>
          {% if block.settings.heading1 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading1 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">
            {{ block.settings.text1 }}
            {% if block.settings.image1 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image1 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image1.alt }} }}">
            </div>
              {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading2 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading2 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text2 }}
            {% if block.settings.image2 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image2 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image2.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading3 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading3 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text3 }}
            {% if block.settings.image3 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image3 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image3.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading4 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading4 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text4 }}
            {% if block.settings.image4 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image4 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image4.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading5 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading5 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text5 }}
            {% if block.settings.image5 != blank %}
            <div class="image_tab_custom center">
              <img src="{{ block.settings.image5 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image5.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
         </div>
        {%- endcase -%}
      {%- endfor -%}
         </div>
       </div>
        </div>
        <div class="tab_content" data-tab="3" style="display:none">
       <div class="tab_content_flex">
         <div class="tab_content_tabs">
        {% assign index_loop = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab3_content' -%}
          {% if block.settings.heading != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_tab_item{% if index_loop == 1 %} active{% endif %}" data-tab="{{ index_loop }}">
              <div class="tab_content_tab_heading">{{ block.settings.heading }}</div>
              <div class="tab_content_tab_subheading">{{ block.settings.subheading }}</div>
            </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
         </div>
         <div class="tab_content_tabs_content">
        {% assign index_loop_main = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab3_content' -%}
        {% assign index_loop = 0 %}
  {% assign index_loop_main = index_loop_main | plus: 1 %}
         <div class="tab_content_tabs_content_item" data-tab="{{ index_loop_main }}"{% if index_loop_main >1 %} style="display:none;"{% endif %}>
          {% if block.settings.heading1 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading1 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">
            {{ block.settings.text1 }}
            {% if block.settings.image1 != blank %}
            <div class="image_tab_custom left">
              <img src="{{ block.settings.image1 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image1.alt }} }}">
            </div>
              {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading2 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading2 }}</div>
              <div class="tab_content_collapse_content rte"style="display:none;">{{ block.settings.text2 }}
            {% if block.settings.image2 != blank %}
            <div class="image_tab_custom left">
              <img src="{{ block.settings.image2 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image2.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading3 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading3 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text3 }}
            {% if block.settings.image3 != blank %}
            <div class="image_tab_custom left">
              <img src="{{ block.settings.image3 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image3.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
          {% if block.settings.heading4 != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading4 }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text4 }}
            {% if block.settings.image4 != blank %}
            <div class="image_tab_custom left">
              <img src="{{ block.settings.image4 | img_url:'master' }}" loading="lazy" alt="{{ block.settings.image4.alt }} }}">
            </div>
            {% endif %}
            </div>
            </div>
            {% endif %}
         </div>
        {%- endcase -%}
      {%- endfor -%}
         </div>
       </div>
        </div>
        <div class="tab_content" data-tab="4" style="display:none"> 
        {% assign index_loop = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab4_content' -%}
          {% if block.settings.heading != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text }}</div>
            </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
        </div>
        <div class="tab_content" data-tab="5" style="display:none">
          {% assign index_loop = 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'tab5_content' -%}
          {% if block.settings.heading != blank %}
  {% assign index_loop = index_loop | plus: 1 %}
            <div class="tab_content_collapse">
              <div class="tab_content_collapse_trigger">{{ block.settings.heading }}</div>
              <div class="tab_content_collapse_content rte" style="display:none;">{{ block.settings.text }}</div>
            </div>
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Tabs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "tab_heading",
      "name": "Tab Headings",
      "settings": [
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading1"
        },
        {
          "type": "text",
          "id": "heading1_mobile",
          "label": "Heading1 Mobile"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading2"
        },
        {
          "type": "text",
          "id": "heading2_mobile",
          "label": "Heading2 Mobile"
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading3"
        },
        {
          "type": "text",
          "id": "heading3_mobile",
          "label": "Heading3 Mobile"
        },
        {
          "type": "text",
          "id": "heading4",
          "label": "Heading4"
        },
        {
          "type": "text",
          "id": "heading4_mobile",
          "label": "Heading4 Mobile"
        },
        {
          "type": "text",
          "id": "heading5",
          "label": "Heading5"
        },
        {
          "type": "text",
          "id": "heading5_mobile",
          "label": "Heading5 Mobile"
        }
      ]
    },
    {
      "type": "tab1_content",
      "name": "Tab1 Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Tab Heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Tab Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading1",
          "label": "Heading1"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text1"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "inline_richtext",
          "id": "heading2",
          "label": "Heading2"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "inline_richtext",
          "id": "heading3",
          "label": "Heading3"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "Text3"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "inline_richtext",
          "id": "heading4",
          "label": "Heading4"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "Text4"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        },
        {
          "type": "inline_richtext",
          "id": "heading5",
          "label": "Heading5"
        },
        {
          "type": "richtext",
          "id": "text5",
          "label": "Text5"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image5"
        },
        {
          "type": "liquid",
          "id": "html",
          "label": "Html"
        }
      ]
    },
    {
      "type": "tab2_content",
      "name": "Tab2 Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Tab Heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Tab Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading1",
          "label": "Heading1"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text1"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "inline_richtext",
          "id": "heading2",
          "label": "Heading2"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "inline_richtext",
          "id": "heading3",
          "label": "Heading3"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "Text3"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "inline_richtext",
          "id": "heading4",
          "label": "Heading4"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "Text4"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        },
        {
          "type": "inline_richtext",
          "id": "heading5",
          "label": "Heading5"
        },
        {
          "type": "richtext",
          "id": "text5",
          "label": "Text5"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image5"
        }
      ]
    },
    {
      "type": "tab3_content",
      "name": "Tab3 Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Tab Heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Tab Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "heading1",
          "label": "Heading1"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text1"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
        {
          "type": "inline_richtext",
          "id": "heading2",
          "label": "Heading2"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
        {
          "type": "inline_richtext",
          "id": "heading3",
          "label": "Heading3"
        },
        {
          "type": "richtext",
          "id": "text3",
          "label": "Text3"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3"
        },
        {
          "type": "inline_richtext",
          "id": "heading4",
          "label": "Heading4"
        },
        {
          "type": "richtext",
          "id": "text4",
          "label": "Text4"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image4"
        }
      ]
    },
    {
      "type": "tab4_content",
      "name": "Tab4 Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "tab5_content",
      "name": "Tab5 Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Tabs"
    }
  ]
}
{% endschema %}
<script>
  jQuery('.tab_heading_item').click(function(e){
    var active_tab =jQuery(this).attr('data-tab');
    var active_tab ='[data-tab="'+active_tab+'"]';
    if (jQuery(this).hasClass("active")) {
} else {
    jQuery('.tab_heading_item').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.tab_content').hide();
    jQuery('.tab_content'+active_tab).slideToggle();
    }
});
  jQuery('.tab_content_collapse_trigger').click(function(e){
    jQuery(this).parents('.tab_content_collapse').toggleClass('active');
    jQuery(this).next().slideToggle();
});

  
  jQuery('.tab_content_tab_item').click(function(e){
    var active_tab =jQuery(this).attr('data-tab');
    var active_tab ='[data-tab="'+active_tab+'"]';
    if (jQuery(this).hasClass("active")) {
} else {
    jQuery(this).parents('.tab_content_flex').find('.tab_content_tab_item').removeClass('active');
    jQuery(this).addClass('active');
    jQuery(this).parents('.tab_content_flex').find('.tab_content_tabs_content_item').hide();
    jQuery(this).parents('.tab_content_flex').find('.tab_content_tabs_content_item'+active_tab).slideToggle();
    }
});
</script>
