{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
<link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
<link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'product-model.js' | asset_url }}" defer></script>
<div class="product-primary {% if section.settings.custom_class !=blank %} {{ section.settings.custom_class }}  {% endif %}" id="product-primary" >
   <div class="page-width product-page-width">
      <div class="main-v3s">
         <div class="main-v3s-media">
            <div class="main">

               <div class="left-image-wrapper">
                  <img src="{{ section.settings.img | img_url:'master' }}" alt="img" loading="lazy">
               </div>
            </div>
         </div>
         <div class="main-v3s-info">
            <h2 class="section-header">{{ section.settings.prod_des_title_sub }}</h2>
            <h2 class="section-header custom_new"> {{ section.settings.prod_des_title }}</h2>
            {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}
            {% endunless %}
            <select name="id" id="ProductSelect-{{ section.id }}" class="prodcut--variant--slction product-form__variants no-js">
            {% for variant in product.variants %}
            {% assign amount = 0 %}
            {% assign saving = variant.compare_at_price | minus: variant.price %}
            {% assign amount = saving | at_least: amount %}
            {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
            {% if variant.available %}
            {%- assign compare_at_price = variant.compare_at_price -%}
            <option diffrceprice="{{ saved_amount }}" class="{% if variant == product.selected_or_first_available_variant %} selected {% endif %} {% if compare_at_price != blank%} comparepro {% endif %}" nmbr="{{forloop.index}}"{% if compare_at_price != blank%} compareprice={{compare_at_price | money}} {% endif %}newprice="{{variant.price | money_with_currency}}" pprice="{{variant.price | money }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{ variant.title }}
            </option>
            {% else %}
            <option diffrceprice="{{ saved_amount }}" {% if compare_at_price != blank%} compareprice={{compare_at_price | money}} {% endif %} class="{% if variant == product.selected_or_first_available_variant %} selected {% endif %} {% if compare_at_price != blank%} comparepro {% endif %} soldout" nmbr="{{forloop.index}}"  pprice="{{variant.price | money }}" disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
            {%- assign compare_at_price = '' -%}
            {% endfor %}
            </select>
            <div class="product__price_rating">
               <div class="product__price customn lp">
                  <div class="star--rating">
                     <a href="#looxReviewsFrame">
                        <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
                     </a>
                     <span class="statyc--rating {{ section.settings.extra-class }}">{{section.settings.staticrating}}</span>
                  </div>
                  <div class="proudct-inner-varint-quantity d-flex align-items-center-2">
                    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                      {% unless product.has_only_default_variant %}
                      {% endunless %}
                 
                
                            <div class="product__price custom lp ">
                              {% assign prodsinglefg= product %}
                              {% for variantis in prodsinglefg.variants %}
                              {% if variantis == product.selected_or_first_available_variant %}
                              {% assign amount = 0 %}
                              {% assign saving = variantis.compare_at_price | minus: variantis.price %}
                              {% assign amount = saving | at_least: amount %}

                              {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
                              <div class="regular--price " diffrnceprice="{{ product.price | times: 100 | divided_by: product.compare_at_price | minus: 100 | abs }}% off" originalclr="{{variantis.price | money }}"><span class="money" >{{variantis.price | money }}</span></div>
                              <div class="sale--price gh  money"><span class="money">{{variantis.compare_at_price | money }}</span>
                               
                              </div>
                              <span class="saveamount">{{ product.price | times: 100 | divided_by: product.compare_at_price | minus: 100 | abs }}% off</span>   
                              {% endif %}
                              {% endfor %} 
                          </div>

          
                    {% endform %}
                      {% comment %} inner div end {% endcomment %}
                      {% for option in product.options_with_values %}
                        <ul class="custom--variations  inner-checkbox-warpper d-flex">
                           {% for value in option.values %}
                           {% if forloop.last == true %}           
                           {% endif %}
                           <li class="trgt{{forloop.index}}{% if option.selected_value == value %}  active{% endif %}" numbering="{{forloop.index}}" vlew="{{value}}"> 
                          
                           <label class="checkbox d-flex">
                            <input type="checkbox" class="checkbox__input"   {% if forloop.first == true %} checked {% endif %}/>
                            <span class="checkbox__inner"></span>
                            <p>{{ value }}</p>
                          </label>
                          
                          </li>
                           {% endfor %}
                        </ul>
                      {% endfor %}
                      {% comment %} inner div end {% endcomment %}

                   

                  </div>


               </div>
            </div>
            <div class="add-to-cart-main {% if product.handle == 'wireless-outdoor-camera-v3' or  product.handle == 'wireless-camera-v4' %}desktop--updrage upgrad--btn show--here{% endif %}">    <button type="button" name="add" aria-label="Add to cart" class="btn  product-form__cart-submit" data-add-to-cart="">
               {% assign current_variant = product.selected_or_first_available_variant %}
               <span data-add-to-cart-text>
               {% unless current_variant.available %}
               BUY NOW
               {% else %}
               BUY NOW
               {% endunless %}
               </span>
               </button>
            </div>

            <script>
              $('.product-form__cart-submit').click(function(e) {
                    e.preventDefault();
                    $('html, body').animate({
                scrollTop: $(".product--slct-tab").offset().top + 250
              }, 200);
                return false;
              });
            </script>
            {% if request.host contains 'ca.' %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_ca }}</p>
            </div>
            {% elsif  request.host contains 'au.' %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_au }}</p>
            </div>
            {% elsif request.host contains 'eu.' %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_eu }}</p>
            </div>
            {% elsif  request.host contains 'nz.'   %} 
            <div class="shipping-top-new">
               <p>{{ settings.txt_nz }}</p>
            </div>
            {% elsif request.host contains 'sa.'  %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_sa }}</p>
            </div>
            {% elsif request.host contains 'uk.'  %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_uk }}</p>
            </div>
            {% else %}
            <div class="shipping-top-new">
               <p>{{ settings.txt_usa }}</p>
            </div>
            {% endif %}
            <script>
               $('.product-form__cart-submit').click(function(e) {
                 console.log('test23')
                    e.preventDefault();
                     $('html, body').animate({
               scrollTop: $(".pro-new-tab").offset().top
               }, 100);
               return false;
               
               });
            </script>
            {% endform %}
            <div class="product-bottom-sec">
               <div class="icon-text-sec">
                  <ul>
                     {% for block in section.blocks %}
                     <li>
                        <div class="icon">
                           <img src="{{block.settings.image | img_url : 'master' }}" alt="product" loading="lazy">
                        </div>
                        <p>{{block.settings.des}}</p>
                     </li>
                     {% endfor %} 
                  </ul>
               </div>
            </div>
            {% if section.settings.prod_des_title !=blank  %}
            <div class="prod-des-sec">
               <ul class="accordion-list">
                  {% if section.settings.prod_des !=blank %}
                  <li class="">
                     <h3> <span>{{ section.settings.prod_des_title }}</span> {% render 'arrow' %} </h3>
                     <div class="faq-content answer">
                        <p> {{ section.settings.prod_des }}</p>
                     </div>
                  </li>
                  {% endif %}
               </ul>
            </div>
            {% endif %}
            <div class="review-sec">
               <div class="review-info">
                  <div class="star-sec mob-only">
                     <ul>
                        <li>{% render 'star' %}</li>
                        <li>{% render 'star' %}</li>
                        <li>{% render 'star' %}</li>
                        <li>{% render 'star' %}</li>
                        <li>{% render 'star' %}</li>
                        <h3 class="mob-only"><b>125 reviews</b></h3>
                     </ul>
                     <div class="date">{{ "now" | date: "%d/%m/%Y " }}</div>
                  </div>
                  {% if section.settings.review_des !=blank %}
                  <p>{{ section.settings.review_des }}
                  </p>
                  {% endif %}
                  {% if section.settings.client_name !=blank %}
                  <div class="name">
                     {{ section.settings.client_name }}
                     {% render 'tick' %}
                  </div>
                  {% endif %}
                  <a class="btn"  href="#looxReviewsFrame">
                  Read more reviews
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
  



<style>
   span.money1 {
      display: none !important;
  }
  .main {
  display:block;
  margin:0 auto;
  
}
ul.custom--variations.inner-checkbox-warpper.d-flex {
   margin-left: 19px !important;
}
.align-items-center-2 {
   align-items: center;
}

 @media only screen and (max-width: 800px)  {

  .main-v3s .d-flex {

      flex-direction: column;
  }
 .main-v3s ul.custom--variations.inner-checkbox-warpper.d-flex {
   flex-direction: row;
}
label.checkbox.d-flex {
   flex-direction: row;
   margin: 10px 0;
}
.product__price.custom {

   justify-content: left !important;

}
.align-items-center-2 {
   align-items: start;
}
ul.custom--variations.inner-checkbox-warpper.d-flex {
   margin-left: 0px !important;
}
} 


@media only screen and (min-width: 1000px)  {
.main-v3s .main-v3s-info {
  width: 50%;

}
}


.main-v3s .main-v3s-info .product__price {
   align-items: center;
}
.main-v3s .main-v3s-info .product__price .sale--price span.money {
    text-decoration: line-through !important;
    line-height: 1!important;
}
 span.money {
    font-weight: 800 !important;
    font-size: 26px !important;
    color:#000 !important;
    line-height:1;
}
.main-v3s .main-v3s-info .custom--variations{
 margin:0 !important;
}
.product__price.custom.lp {
    padding: 0;
}
.main-v3s .main-v3s-info .custom--variations li {
   background: none  !important;
   border: transparent;
   padding: 0;
}
.main-v3s .main-v3s-info .custom--variations li.active{
  background: none !important;
  border: transparent;
} 


 .main-v3s .main-v3s-info h2.section-header.custom_new {
 

  font-size: 41px;

}



.checkbox {
  position: relative;
  overflow: hidden;
}
.main-v3s .main-v3s-info .section-header {
   color: #086FB5;
   font-size: 41px;
   font-style: normal;
   font-weight: 700;
   line-height: 130%;
   margin-bottom: 0;
}
.checkbox__input {
  position: absolute;
  top: -100px;
  left: -100px;
}
 
.checkbox__inner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #626262;
  background: transparent no-repeat center;
}

.checkbox__input:checked + .checkbox__inner {
  border-color: #006BB3;
  background-color: #006BB3;

  background-size: 14px 10px;
}


label.checkbox.d-flex p {
  font-size: 15px;
  margin: 0;
  padding: 0  10px 0 5px;
  font-weight: 500;
}
.checkbox {
    align-items: center;
}
.custom-new-top .sale--price span.money {
   color: #D0D0D0 !important;
}
span.saveamount {
   margin-left: 5px;
   background: red;
   border-radius: 30px;
}
.proudct-inner-varint-quantity {
   padding: 10px 0 0 0;
}
.product-page-width, body.product-camera-v3s .banner-section.page-width {
   max-width: 1250px;
   padding: 0;
}
</style>


<script>
  $(document).ready(function() {
    $('.checkbox__input').click(function() {
        if ($(this).prop('checked')) {
            // Uncheck all other checkboxes
            $('.checkbox__input').not(this).prop('checked', false);
        }
    });
});

</script>
{% schema %}
  {
    "name": "Custom Top section V4",
    "settings": [
      {
          "type": "text",
          "id": "prod_des_title_sub",
          "label":"Sub Title"
        },
      {
          "type": "text",
          "id": "prod_des_title",
          "label":"Title"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Select your Image"
        },
      {
          "type": "textarea",
          "id": "prod_des",
          "label":"Product Description"
        },
      {
          "type": "html",
          "id": "review_des",
          "label":"Review"
        },
      {
          "type": "text",
          "id": "client_name",
          "label":"Client Name"
        },
       {
          "type": "text",
          "id": "custom_class",
          "label":"Custom Class"
        }
    ],
    "blocks": [
    {
      "type": "text",
      "name": {
        "en": "Icon text section"
      }, 
    "settings": [
         
        {
          "type": "image_picker",
          "id": "image",
          "label":"Image"
        },
        
      {
         "type": "text",
          "id": "des",
          "label": "Description "
        }
      ]
      
    }
  ],
    "presets": [
       {
         "name": "Custom Top section V4"
       
       }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}