 {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
      {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
    <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
<div class="product-primary {% if section.settings.custom_class !=blank %} {{ section.settings.custom_class }}  {% endif %}" id="product-primary" >
<div class="page-width product-page-width">
<div class="main-v3s">
<div class="main-v3s-media">
<div class="main">
   <div class="slider-for-main">
     <div class="custom_top_tab">
       <a href="#technical_features">Technical Features</a>
       <a href="#product_support">Product Support</a>
     </div>
     {% for media in product.media %}
  {%- if media.media_type == 'model' -%}
       {% include 'product-media' %}
     {% endif %}
       {% endfor %}
       <span class="text_360">360° Product Overview</span>
  </div>

</div>

  </div>

  <div class="main-v3s-info">
 
    <h2 class="section-header">{{ product.title }}</h2>
    <h2 class="section-header custom_new">More power. More features</h2>
   <!-- {% for option in product.options_with_values %}
                   <ul class="custom--variations {{option.name | downcase }}">
                      {% for value in option.values %}
                        {% if forloop.last == true %}
                     {% endif %}
                      <li class="trgt{{forloop.index}}{% if option.selected_value == value %}  active{% endif %}" numbering="{{forloop.index}}" vlew="{{value}}"> {{ value }}</li>
                     {% endfor %}
                    </ul>
            {% endfor %}-->

       {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            {% unless product.has_only_default_variant %}

			{% endunless %}
                <select name="id" id="ProductSelect-{{ section.id }}" class="prodcut--variant--slction product-form__variants no-js">
              {% for variant in product.variants %}
                 {% assign amount = 0 %}

           {% assign saving = variant.compare_at_price | minus: variant.price %}
      {% assign amount = saving | at_least: amount %}
          {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
                {% if variant.available %}
               {%- assign compare_at_price = variant.compare_at_price -%}
                  <option diffrceprice="{{ saved_amount }}" class="{% if variant == product.selected_or_first_available_variant %} selected {% endif %} {% if compare_at_price != blank%} comparepro {% endif %}" nmbr="{{forloop.index}}"{% if compare_at_price != blank%} compareprice={{compare_at_price | money}} {% endif %}newprice="{{variant.price | money_with_currency}}" pprice="{{variant.price | money }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  
                  <option diffrceprice="{{ saved_amount }}" {% if compare_at_price != blank%} compareprice={{compare_at_price | money}} {% endif %} class="{% if variant == product.selected_or_first_available_variant %} selected {% endif %} {% if compare_at_price != blank%} comparepro {% endif %} soldout" nmbr="{{forloop.index}}"  pprice="{{variant.price | money }}" disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {%- assign compare_at_price = '' -%}
              {% endfor %}
            </select>

         <div class="product__price_rating"> 
         <div class="product__price custom lp">     
            <div class="star--rating">
        
          <a href="#looxReviewsFrame"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>
        <span class="statyc--rating {{ section.settings.extra-class }}">{{section.settings.staticrating}}</span></div>
 {% assign prodsinglefg= product %}
    {% for variantis in prodsinglefg.variants %}
      {% if variantis == product.selected_or_first_available_variant %}
      
           {% assign saving = variantis.compare_at_price | minus: variantis.price | times: 100 | divided_by: variantis.compare_at_price | round %}
      {% assign percentage = saving | at_least: percentage %}
        <div class="money-price-cust">
           <div class="regular--price">
             <span class="money maina" >{{variantis.price | money }}</span>
           </div>
           <div class="sale--price gh  money">
             <span class="money">{{variantis.compare_at_price | money }}</span>
             <span class="money1"> {{ percentage }}% Off</span>
           </div>
        </div>
        {% endif %}
        {% endfor %} 
          </div>  
    </div>
       <div class="add-to-cart-main {% if product.handle == 'wireless-outdoor-camera-v3' or  product.handle == 'wireless-camera-v4' %}desktop--updrage upgrad--btn show--here{% endif %}">    <button type="button" name="add" aria-label="Add to cart" class="btn  product-form__cart-submit" data-add-to-cart="">
              
                  {% assign current_variant = product.selected_or_first_available_variant %}

                   <span data-add-to-cart-text>
                  {% unless current_variant.available %}
                  BUY NOW
                  {% else %}
                  BUY NOW
                  {% endunless %}
                </span>
           </button>
              
       </div>
     {% if request.host contains 'ca.' %}
        <div class="shipping-top-new">  <p>{{ settings.txt_ca }}</p></div>
       {% elsif  request.host contains 'au.' %}
       <div class="shipping-top-new">  <p>{{ settings.txt_au }}</p></div>
      {% elsif request.host contains 'eu.' %}
      <div class="shipping-top-new">   <p>{{ settings.txt_eu }}</p></div>
       {% elsif  request.host contains 'nz.'   %} 
      <div class="shipping-top-new">  <p>{{ settings.txt_nz }}</p></div>
    {% elsif request.host contains 'sa.'  %}
   <div class="shipping-top-new"> <p>{{ settings.txt_sa }}</p></div>

      {% elsif request.host contains 'uk.'  %}

        <div class="shipping-top-new"><p>{{ settings.txt_uk }}</p></div>
       {% else %}
       <div class="shipping-top-new">
          <p>{{ settings.txt_usa }}</p>
       </div>

    {% endif %}
           <script>
             $('.product-form__cart-submit').click(function(e) {
               console.log('test23')
                  e.preventDefault();
                   $('html, body').animate({
        scrollTop: $(".pro-new-tab").offset().top
    }, 100);
    return false;

            });
           </script>
          
          
            {% endform %}

    <div class="product-bottom-sec">
      <div class="icon-text-sec">
          <ul>
            {% for block in section.blocks %}
            <li>
              <div class="icon">
<img src="{{block.settings.image | img_url : 'master' }}">
              </div>
              <p>{{block.settings.des}}</p>
            </li>{% endfor %} 
          </ul>
      </div>
    
</div>
 {% if section.settings.prod_des_title !=blank  %}
        <div class="prod-des-sec">
          
 <ul class="accordion-list">
    {% if section.settings.prod_des !=blank %}
   <li class="">
     
<h3> <span>{{ section.settings.prod_des_title }}</span> {% render 'arrow' %} </h3>
  <div class="faq-content answer">
  <p> {{ section.settings.prod_des }}</p>
  </div> </li> {% endif %}
 
 </ul>
  </div>{% endif %}

     <div class="review-sec">

<div class="review-info">
  <div class="star-sec mob-only">
<ul>
  <li>{% render 'star' %}</li>
  <li>{% render 'star' %}</li>
  <li>{% render 'star' %}</li>
  <li>{% render 'star' %}</li>
  <li>{% render 'star' %}</li>
  <h3 class="mob-only"><b>125 reviews</b></h3>
</ul>

<div class="date">{{ "now" | date: "%d/%m/%Y " }}</div></div>
{% if section.settings.review_des !=blank %}
    <p>{{ section.settings.review_des }}
	</p> {% endif %}
	
	{% if section.settings.client_name !=blank %}
  <div class="name">
 {{ section.settings.client_name }}
    {% render 'tick' %}
  </div> {% endif %}
    <a class="btn"  href="#looxReviewsFrame">
      Read more reviews
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
  

<style>
  .main {
  display:block;
  margin:0 auto;
}
  
</style>
{% schema %}
  {
    "name": "Custom Top section V3s",
    "settings": [
      {
          "type": "text",
          "id": "prod_des_title",
          "label":"Title"
        },
      {
          "type": "textarea",
          "id": "prod_des",
          "label":"Product Description"
        },
      {
          "type": "html",
          "id": "review_des",
          "label":"Review"
        },
      {
          "type": "text",
          "id": "client_name",
          "label":"Client Name"
        },
       {
          "type": "text",
          "id": "custom_class",
          "label":"Custom Class"
        }
    ],
    "blocks": [
    {
      "type": "text",
      "name": {
        "en": "Icon text section"
      }, 
    "settings": [
         
        {
          "type": "image_picker",
          "id": "image",
          "label":"Image"
        },
        
      {
         "type": "text",
          "id": "des",
          "label": "Description "
        }
      ]
      
    }
  ],
    "presets": [
       {
         "name": "Custom Top section V3s"
       
       }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}