

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }



.featured-wrapper{
    background: linear-gradient(270deg, #006BB3 16.53%, #73C7FF 92.4%);

}
.singel-icon-wrapper h4
{

    color: #1A1A1A;

text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 90%; /* 28.8px */
letter-spacing: -0.64px;

}
.singel-icon-wrapper {
    text-align: center;
    background: white;
    border-radius: 17px;
    padding:15px;
    margin:2% 0;
}
.title {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 2rem;
    letter-spacing: -1.92px;
    @media only screen and (max-width: 600px) {

    font-size: 30px;

    }


}

.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *, .image-with-text:not(.image-with-text--overlap) .image-with-text__text-item > * {


    @media only screen and (max-width: 600px) {
      padding: 0;
}
}

.singel-icon-wrapper-v2 {
    border-radius: 24px;
    border: 1px solid #000;
    padding: 13px 29px;
    background: #FFF;
    margin: 6.9% 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
} 
.singel-icon-wrapper-v2 h4
{

  color: #151414;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 90%; /* 14.4px */
letter-spacing: -0.32px;
margin-top: 6%;
}
.singel-icon-wrapper-v2 p{
  color: #151414;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 25.6px */
letter-spacing: -0.32px;


}
div#ImageWithText--template--15307791990845__25b4f3f4-eb17-4f36-ba8a-3831d0446b30 {
    display: flex;
    justify-content: center;
}

.visitor--video-2 .image-with-text__heading {
  @media only screen and (max-width: 600px) {
    font-size: 44px;
  }
}
@media only screen and (max-width: 600px) {

  .row.one-time-slick .col-md-4 {
    margin: 2% 0;
}
  .row.one-time-slick .col-md-6 {
    margin: 2% 0;
}
}
.text-decoration-none{
  text-decoration:none;
}

.black{
  color:black;
}
{%- endstyle -%}


<div class="featured-wrapper-v2">
    <div class="page-width section-{{ section.id }}-padding">
        <div class="row">
      <div class="col-12">

       <h2 class='title text-center black'>{{section.settings.title }}</h2>  

      </div>

      
       </div>
       <div class="row one-time-slick" >
        {% for item in section.blocks %}
          {% case item.type %}
            {% when "Icon" %}
              <div class="col-md-4 col-sm-6 col-12">
                   
                         <div class="singel-icon-wrapper-v2 ">
                                   {{ item.settings.image | image_url: width: 3840 | image_tag:
                                    loading: 'lazy',
                                    height: '62',  sizes: "100vw", class: 'css-class-1 css-class-2', format: 'webp', widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'}}
                                  <h4>{{ item.settings.title }}</h4>
                                  <p>{{ item.settings.p }}</p>
                                </div>
               
                            </div>
            {% when "Icon2" %}
              <div class="col-md-6  col-12">
         
                         <div class="singel-icon-wrapper-v2">
                                   {{ item.settings.image | image_url: width: 3840 | image_tag:
                                    loading: 'lazy',
                                    height: '58',  sizes: "100vw", class: 'css-class-1 css-class-2', format: 'webp', widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'}}
                                  <h4>{{ item.settings.title }}</h4>
                                  <p>{{ item.settings.p }}</p>
                                </div>
             
                            </div>
          {% endcase %}

        {% endfor %}
       </div>
      </div>
</div>


<script>
  $( document ).ready(function() {
    if($(window).width() < 991){
  $('.one-time-slick').slick({
    dots: false,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 5000
  });
}

})
</script>
 {% schema %}
    {
        "name": "Featured Icon slide",
        "class": "featurd-icon-2",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Select your Title"
          }    ,
       
            {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }    ],
          "blocks": [
            {
                "type": "Icon",
                "name": "Slide",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Select your Image"
                    },
                    
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Select your title",
                        "default": "WIRELESS",
                       
                        "placeholder": "WIRELESS"
                    },
                    {
                        "type": "text",
                        "id": "p",
                        "label": "Select your title",
                        "default": "WIRELESS",
                       
                        "placeholder": "WIRELESS"
                    }
                ]
            },
            {
                "type": "Icon2",
                "name": "Slide2",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Select your Image"
                    },
                       {
            "type": "url",
            "id": "url",
            "label": "Select your Url"
          },
                  {
                        "type": "text",
                        "id": "title",
                        "label": "Select your title",
                        "default": "WIRELESS",
                       
                        "placeholder": "WIRELESS"
                    },
                    {
                        "type": "text",
                        "id": "p",
                        "label": "Select your title",
                        "default": "WIRELESS",
                       
                        "placeholder": "WIRELESS"
                    }
                ]
            }
          ],
          "presets": [
            {
              "name": "Icon with two slide"
            }
          ]
          
    }
 {% endschema %}