<div class="main-find-match-section padd-80">
  <div class="page-width">
    <div class="main-heading">
      <h2>{{ section.settings.bannertitle }}</h2>
    </div>
    <div class="main-find-match-columns">
      <div class="col-50 find-match-info">
        <h5 class="ctm-flex">
          {{ section.settings.svgicon1 }}
          {{ section.settings.title1 }}
        </h5>
        <div class="pros-cons-list">
          <div class="pros-text ctm-flex">
            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1145_1042)">
                <path d="M10.4843 24C10.1157 23.9519 9.7465 23.9049 9.37789 23.8556C8.1359 23.6883 6.9479 23.3156 5.77047 22.9042C5.71177 22.8836 5.65484 22.768 5.65249 22.6946C5.64016 22.3595 5.64662 22.0231 5.64662 21.6874C5.64662 18.6963 5.65308 15.7052 5.63723 12.7146C5.63547 12.3818 5.73525 12.2245 6.03284 12.0901C6.78942 11.7479 7.49259 11.3141 8.07309 10.7061C8.6084 10.1449 8.91537 9.45291 9.16952 8.73918C9.60094 7.52712 9.82985 6.27279 9.87504 4.98619C9.88796 4.61054 10.1198 4.31412 10.472 4.28712C11.2426 4.22784 12.0045 4.26834 12.6842 4.70386C13.6163 5.3008 14.1111 6.14601 14.0911 7.2624C14.07 8.44335 13.9397 9.61139 13.6175 10.7518C13.5676 10.9297 13.4942 11.1005 13.4185 11.3118H13.7126C15.3836 11.3118 17.0553 11.31 18.7263 11.313C19.2745 11.3141 19.787 11.4356 20.2489 11.7561C21.2009 12.417 21.431 13.7089 20.7513 14.6463C20.7055 14.7091 20.6627 14.7737 20.6193 14.8365C21.6435 16.0538 21.0923 17.8305 19.6144 18.2983C19.9595 19.6413 19.4888 20.5869 18.2679 21.1004C18.2755 21.5184 18.3536 21.9251 18.275 22.2996C18.0824 23.2158 17.4509 23.7318 16.5599 23.9519C16.517 23.9624 16.4771 23.9842 16.4354 24.0006H10.4837L10.4843 24Z" fill="#086FB5"/>
                <path d="M0.548805 23.9999C0.132654 23.8397 -0.000585026 23.5239 1.9292e-06 23.0955C0.00645843 19.4716 0.00352366 15.8477 0.00411061 12.2245C0.00411061 11.57 0.26061 11.3117 0.908608 11.3112C1.71274 11.3112 2.51745 11.3112 3.32158 11.3112C3.99306 11.3112 4.24603 11.5618 4.24603 12.225C4.24603 15.8331 4.24134 19.4411 4.2519 23.0497C4.25308 23.4823 4.13627 23.8068 3.73538 23.9999H0.548805Z" fill="#086FB5"/>
                <path d="M15.5273 0.725438C15.4891 0.841655 15.4633 0.964328 15.4105 1.0735C15.2003 1.50726 14.9849 1.93867 14.7654 2.36774C14.5512 2.78624 14.1485 2.9365 13.7758 2.74574C13.4166 2.56143 13.2963 2.14704 13.4952 1.74146C13.7212 1.2807 13.9472 0.819937 14.1902 0.367982C14.3516 0.0686351 14.6797 -0.0587341 14.9855 0.0252004C15.2995 0.110896 15.5067 0.387352 15.5267 0.725438H15.5273Z" fill="#086FB5"/>
                <path d="M10.5763 2.0725C10.5763 2.43406 10.3743 2.70641 10.0709 2.79562C9.77858 2.88191 9.44226 2.78154 9.29493 2.51036C9.01378 1.9915 8.74672 1.46382 8.50489 0.925586C8.36285 0.609804 8.5407 0.23474 8.85237 0.0768487C9.15113 -0.0745857 9.56317 -0.00239025 9.72517 0.288739C10.0239 0.824042 10.2822 1.38165 10.5528 1.9328C10.5786 1.98563 10.5727 2.0543 10.5757 2.07308L10.5763 2.0725Z" fill="#086FB5"/>
                <path d="M7.04587 5.63412C6.80404 5.63412 6.56163 5.64351 6.32039 5.63236C5.93476 5.61416 5.66065 5.33125 5.65185 4.95853C5.64246 4.57232 5.9107 4.24773 6.29457 4.23306C6.80111 4.21369 7.30941 4.21428 7.81595 4.23306C8.19395 4.24714 8.47686 4.58347 8.46571 4.95677C8.45515 5.32714 8.17693 5.61416 7.79482 5.63177C7.54595 5.64351 7.29591 5.63412 7.04587 5.63412Z" fill="#086FB5"/>
                <path d="M16.9184 5.63365C16.6689 5.63365 16.4183 5.64363 16.1694 5.6313C15.7902 5.61252 15.5114 5.31846 15.5038 4.94868C15.4962 4.58065 15.7879 4.2455 16.1647 4.23259C16.6636 4.21557 17.1637 4.21616 17.6626 4.232C18.0477 4.24433 18.3265 4.56246 18.3224 4.94398C18.3183 5.32667 18.04 5.61604 17.6433 5.63365C17.402 5.64422 17.1596 5.63541 16.9178 5.63541C16.9178 5.63541 16.9178 5.63424 16.9178 5.63365H16.9184Z" fill="#086FB5"/>
              </g>
              <defs>
                <clipPath id="clip0_1145_1042">
                  <rect width="21.1439" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <p><b>Pros:</b> {{ section.settings.pros1 }}</p>
          </div>
          <div class="cons-text ctm-flex">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5">
                <path d="M11.5157 0.000238419C11.8843 0.0483685 12.2535 0.0953274 12.6221 0.14463C13.8641 0.311913 15.0521 0.684629 16.2295 1.09608C16.2882 1.11663 16.3452 1.23226 16.3475 1.30563C16.3598 1.64078 16.3534 1.9771 16.3534 2.31284C16.3534 5.30396 16.3469 8.29509 16.3628 11.2856C16.3645 11.6184 16.2647 11.7757 15.9672 11.9101C15.2106 12.2523 14.5074 12.6861 13.9269 13.2942C13.3916 13.8553 13.0846 14.5473 12.8305 15.2611C12.3991 16.4731 12.1702 17.7275 12.125 19.0141C12.112 19.3897 11.8802 19.6861 11.528 19.7131C10.7574 19.7724 9.99548 19.7319 9.31579 19.2964C8.3837 18.6994 7.8889 17.8542 7.90886 16.7378C7.92999 15.5569 8.06029 14.3889 8.38253 13.2484C8.43242 13.0706 8.50579 12.8997 8.58151 12.6884H8.28745C6.61638 12.6884 4.94474 12.6902 3.27367 12.6873C2.72546 12.6861 2.21305 12.5646 1.75111 12.2441C0.799073 11.5832 0.568987 10.2913 1.24868 9.35395C1.29446 9.29115 1.33731 9.22658 1.38075 9.16378C0.356508 7.94643 0.90766 6.16972 2.38561 5.70192C2.04048 4.35897 2.51122 3.41338 3.73209 2.8998C3.72446 2.48189 3.64639 2.07512 3.72504 1.70065C3.91756 0.78441 4.54913 0.268478 5.44013 0.0483704C5.48297 0.0378036 5.52289 0.0160885 5.56456 -0.000347137H11.5163L11.5157 0.000238419Z" fill="#202020"/>
                <path d="M21.4512 0.000295639C21.8673 0.160535 22.0006 0.476316 22 0.904794C21.9935 4.52865 21.9965 8.15251 21.9959 11.7758C21.9959 12.4302 21.7394 12.6885 21.0914 12.6891C20.2873 12.6891 19.4825 12.6891 18.6784 12.6891C18.0069 12.6891 17.754 12.4385 17.754 11.7752C17.754 8.16719 17.7587 4.55917 17.7481 0.950576C17.7469 0.51799 17.8637 0.193404 18.2646 0.000295639H21.4512Z" fill="#202020"/>
              </g>
            </svg>
            <p><b>Cons:</b> {{ section.settings.cons1 }}</p>
          </div>
        </div>
        <p>
          <b>Note:</b>
          {{ section.settings.note1 }}
        </p>
      </div>
      <div class="col-50 find-match-info">
        <h5 class="ctm-flex">
          {{ section.settings.svgicon2 }}
          {{ section.settings.title2 }}
        </h5>
        <div class="pros-cons-list">
          <div class="pros-text ctm-flex">
            <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1145_1042)">
                <path d="M10.4843 24C10.1157 23.9519 9.7465 23.9049 9.37789 23.8556C8.1359 23.6883 6.9479 23.3156 5.77047 22.9042C5.71177 22.8836 5.65484 22.768 5.65249 22.6946C5.64016 22.3595 5.64662 22.0231 5.64662 21.6874C5.64662 18.6963 5.65308 15.7052 5.63723 12.7146C5.63547 12.3818 5.73525 12.2245 6.03284 12.0901C6.78942 11.7479 7.49259 11.3141 8.07309 10.7061C8.6084 10.1449 8.91537 9.45291 9.16952 8.73918C9.60094 7.52712 9.82985 6.27279 9.87504 4.98619C9.88796 4.61054 10.1198 4.31412 10.472 4.28712C11.2426 4.22784 12.0045 4.26834 12.6842 4.70386C13.6163 5.3008 14.1111 6.14601 14.0911 7.2624C14.07 8.44335 13.9397 9.61139 13.6175 10.7518C13.5676 10.9297 13.4942 11.1005 13.4185 11.3118H13.7126C15.3836 11.3118 17.0553 11.31 18.7263 11.313C19.2745 11.3141 19.787 11.4356 20.2489 11.7561C21.2009 12.417 21.431 13.7089 20.7513 14.6463C20.7055 14.7091 20.6627 14.7737 20.6193 14.8365C21.6435 16.0538 21.0923 17.8305 19.6144 18.2983C19.9595 19.6413 19.4888 20.5869 18.2679 21.1004C18.2755 21.5184 18.3536 21.9251 18.275 22.2996C18.0824 23.2158 17.4509 23.7318 16.5599 23.9519C16.517 23.9624 16.4771 23.9842 16.4354 24.0006H10.4837L10.4843 24Z" fill="#086FB5"/>
                <path d="M0.548805 23.9999C0.132654 23.8397 -0.000585026 23.5239 1.9292e-06 23.0955C0.00645843 19.4716 0.00352366 15.8477 0.00411061 12.2245C0.00411061 11.57 0.26061 11.3117 0.908608 11.3112C1.71274 11.3112 2.51745 11.3112 3.32158 11.3112C3.99306 11.3112 4.24603 11.5618 4.24603 12.225C4.24603 15.8331 4.24134 19.4411 4.2519 23.0497C4.25308 23.4823 4.13627 23.8068 3.73538 23.9999H0.548805Z" fill="#086FB5"/>
                <path d="M15.5273 0.725438C15.4891 0.841655 15.4633 0.964328 15.4105 1.0735C15.2003 1.50726 14.9849 1.93867 14.7654 2.36774C14.5512 2.78624 14.1485 2.9365 13.7758 2.74574C13.4166 2.56143 13.2963 2.14704 13.4952 1.74146C13.7212 1.2807 13.9472 0.819937 14.1902 0.367982C14.3516 0.0686351 14.6797 -0.0587341 14.9855 0.0252004C15.2995 0.110896 15.5067 0.387352 15.5267 0.725438H15.5273Z" fill="#086FB5"/>
                <path d="M10.5763 2.0725C10.5763 2.43406 10.3743 2.70641 10.0709 2.79562C9.77858 2.88191 9.44226 2.78154 9.29493 2.51036C9.01378 1.9915 8.74672 1.46382 8.50489 0.925586C8.36285 0.609804 8.5407 0.23474 8.85237 0.0768487C9.15113 -0.0745857 9.56317 -0.00239025 9.72517 0.288739C10.0239 0.824042 10.2822 1.38165 10.5528 1.9328C10.5786 1.98563 10.5727 2.0543 10.5757 2.07308L10.5763 2.0725Z" fill="#086FB5"/>
                <path d="M7.04587 5.63412C6.80404 5.63412 6.56163 5.64351 6.32039 5.63236C5.93476 5.61416 5.66065 5.33125 5.65185 4.95853C5.64246 4.57232 5.9107 4.24773 6.29457 4.23306C6.80111 4.21369 7.30941 4.21428 7.81595 4.23306C8.19395 4.24714 8.47686 4.58347 8.46571 4.95677C8.45515 5.32714 8.17693 5.61416 7.79482 5.63177C7.54595 5.64351 7.29591 5.63412 7.04587 5.63412Z" fill="#086FB5"/>
                <path d="M16.9184 5.63365C16.6689 5.63365 16.4183 5.64363 16.1694 5.6313C15.7902 5.61252 15.5114 5.31846 15.5038 4.94868C15.4962 4.58065 15.7879 4.2455 16.1647 4.23259C16.6636 4.21557 17.1637 4.21616 17.6626 4.232C18.0477 4.24433 18.3265 4.56246 18.3224 4.94398C18.3183 5.32667 18.04 5.61604 17.6433 5.63365C17.402 5.64422 17.1596 5.63541 16.9178 5.63541C16.9178 5.63541 16.9178 5.63424 16.9178 5.63365H16.9184Z" fill="#086FB5"/>
              </g>
              <defs>
                <clipPath id="clip0_1145_1042">
                  <rect width="21.1439" height="24" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <p><b>Pros:</b> {{ section.settings.pros2 }}</p>
          </div>
          <div class="cons-text ctm-flex">
            <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.5">
                <path d="M11.5157 0.000238419C11.8843 0.0483685 12.2535 0.0953274 12.6221 0.14463C13.8641 0.311913 15.0521 0.684629 16.2295 1.09608C16.2882 1.11663 16.3452 1.23226 16.3475 1.30563C16.3598 1.64078 16.3534 1.9771 16.3534 2.31284C16.3534 5.30396 16.3469 8.29509 16.3628 11.2856C16.3645 11.6184 16.2647 11.7757 15.9672 11.9101C15.2106 12.2523 14.5074 12.6861 13.9269 13.2942C13.3916 13.8553 13.0846 14.5473 12.8305 15.2611C12.3991 16.4731 12.1702 17.7275 12.125 19.0141C12.112 19.3897 11.8802 19.6861 11.528 19.7131C10.7574 19.7724 9.99548 19.7319 9.31579 19.2964C8.3837 18.6994 7.8889 17.8542 7.90886 16.7378C7.92999 15.5569 8.06029 14.3889 8.38253 13.2484C8.43242 13.0706 8.50579 12.8997 8.58151 12.6884H8.28745C6.61638 12.6884 4.94474 12.6902 3.27367 12.6873C2.72546 12.6861 2.21305 12.5646 1.75111 12.2441C0.799073 11.5832 0.568987 10.2913 1.24868 9.35395C1.29446 9.29115 1.33731 9.22658 1.38075 9.16378C0.356508 7.94643 0.90766 6.16972 2.38561 5.70192C2.04048 4.35897 2.51122 3.41338 3.73209 2.8998C3.72446 2.48189 3.64639 2.07512 3.72504 1.70065C3.91756 0.78441 4.54913 0.268478 5.44013 0.0483704C5.48297 0.0378036 5.52289 0.0160885 5.56456 -0.000347137H11.5163L11.5157 0.000238419Z" fill="#202020"/>
                <path d="M21.4512 0.000295639C21.8673 0.160535 22.0006 0.476316 22 0.904794C21.9935 4.52865 21.9965 8.15251 21.9959 11.7758C21.9959 12.4302 21.7394 12.6885 21.0914 12.6891C20.2873 12.6891 19.4825 12.6891 18.6784 12.6891C18.0069 12.6891 17.754 12.4385 17.754 11.7752C17.754 8.16719 17.7587 4.55917 17.7481 0.950576C17.7469 0.51799 17.8637 0.193404 18.2646 0.000295639H21.4512Z" fill="#202020"/>
              </g>
            </svg>
            <p><b>Cons:</b> {{ section.settings.cons2 }}</p>
          </div>
        </div>
        <p>
          <b>Note:</b>
          {{ section.settings.note2 }}
        </p>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Find Match Section",
    "settings": [
        {
          "type": "text",
          "id": "bannertitle",
          "label": "Add Main Title Here"
        },
        {
          "type": "header",
          "content": "Connect With WiFi Column"
        },
        {
          "type": "textarea",
          "id": "svgicon1",
          "label": "Add SVG Content"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Add Title Here"
        },
        {
          "type": "text",
          "id": "pros1",
          "label": "Add Pros Text"
        },
        {
          "type": "text",
          "id": "cons1",
          "label": "Add Cons Text"
        },
        {
          "type": "textarea",
          "id": "note1",
          "label": "Add Note Text"
        },
        {
          "type": "header",
          "content": "Connect With 4G Sim Card Column"
        },
        {
          "type": "textarea",
          "id": "svgicon2",
          "label": "Add SVG Content"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Add Title Here"
        },
        {
          "type": "text",
          "id": "pros2",
          "label": "Add Pros Text"
        },
        {
          "type": "text",
          "id": "cons2",
          "label": "Add Cons Text"
        },
        {
          "type": "textarea",
          "id": "note2",
          "label": "Add Note Text"
        }
    ],
    "presets":[
      {
        "name": "Find Match Section"    
      }
    ]
  }
{% endschema %}