<div id="shopify-section-image-bar-3" class="{{ section.settings.extra-class-v4 }}"" {% if section.settings.bg_image != blank %} style="background-image: url({{ section.settings.bg_image | img_url: 'original' }});" {% endif %}><div class="page-width">

  
    {%- unless section.settings.heading_title == blank -%}
    <h2 class="section-header">
      {{ section.settings.heading_title | escape }}
    </h2>
  {%- endunless -%}  

    {%- unless section.settings.heading_dsc == blank -%}
  <span class="section-header-disc">
      {{ section.settings.heading_dsc | escape }}
    </span>
  {%- endunless -%}  
    
<div class="grid grid--no-gutters image-bar image-bar--{{ section.settings.section_height }}">
  {% case section.blocks.size %}
    {% when 1 %}
      {%- assign column_size = '' -%}
    {% when 2 %}
      {%- assign column_size = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign column_size = 'medium-up--one-third' -%}
    {% else %}
      {%- assign column_size = 'medium-up--one-quarter' -%}
  {% endcase %}

  {% for block in section.blocks %}
    <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
      <h4 class="vido--h4">{{ block.settings.abv }}</h4>
      {% if block.settings.link != blank %}
        <a class="image-bar__link" href="{{ block.settings.link }}">
          <div class="image-bar__item box ratio-container lazyload"
               data-bgset="{% include 'bgset', image: block.settings.image %}"
               data-sizes="auto"
               data-parent-fit="cover"
               style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: 'master' }});">
      {% elsif block.settings.image != blank %}
        <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload"
             data-bgset="{% include 'bgset', 
              image: block.settings.image %}"
             data-sizes="auto"
             loading="lazy"
             data-parent-fit="cover"
             style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: 'master' }});">
      {% else %}
        <div class="image-bar__item">
      {% endif %}
      <div class="image-bar__content{% if block.settings.cta_label != blank or block.settings.link != blank %} image-bar__overlay{% endif %}">
        
    {% if block.settings.image == blank %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% if block.settings.cta_label != blank %}
          <div class="image-bar__text">
            <h3 class="image-bar__caption"><svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 23.25C7.42118 21.9033 5.95774 20.4269 4.625 18.8362C2.625 16.4475 0.250001 12.89 0.250001 9.49999C0.249134 7.76869 0.761887 6.07605 1.72337 4.63628C2.68485 3.1965 4.05184 2.07432 5.65134 1.41174C7.25083 0.749164 9.01094 0.575981 10.7089 0.914108C12.4069 1.25223 13.9663 2.08647 15.19 3.31124C16.0047 4.12232 16.6504 5.08691 17.0899 6.14921C17.5293 7.21151 17.7537 8.35041 17.75 9.49999C17.75 12.89 15.375 16.4475 13.375 18.8362C12.0423 20.4269 10.5788 21.9033 9 23.25ZM9 5.74999C8.00544 5.74999 7.05161 6.14508 6.34835 6.84834C5.64509 7.5516 5.25 8.50543 5.25 9.49999C5.25 10.4946 5.64509 11.4484 6.34835 12.1516C7.05161 12.8549 8.00544 13.25 9 13.25C9.99457 13.25 10.9484 12.8549 11.6517 12.1516C12.3549 11.4484 12.75 10.4946 12.75 9.49999C12.75 8.50543 12.3549 7.5516 11.6517 6.84834C10.9484 6.14508 9.99457 5.74999 9 5.74999Z" fill="#F8F8F8"/>
</svg>
 {{ block.settings.cta_label | escape }}</h3>
          </div>
        {% endif %}
      </div>
      {% if block.settings.link != blank %}
        </div></a>
      {% else %}
        </div>
      {% endif %}
    </div>
    <noscript>
      <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
        <div class="image-bar__item image-bar__item--{{ block.id }}"  loading="lazy" style="background-image: url({{ block.settings.image | img_url: 'master' }});"></div>
      </div>
    </noscript>
  {% endfor %}
</div>
  </div>
  
    

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}


  </div>

{% schema %}
 

{
  "name": {
    "de": "Galerie",
    "en": "Gallery-View-From",
    "es": "Galería",
    "fr": "Galerie",
    "it": "Galleria",
    "ja": "ギャラリー",
    "nl": "Galerie",
    "pt-BR": "Galeria",
    "zh-CN": "图库",
    "zh-TW": "圖庫"
  },  
  "class": "index-section index-section--flush",
 
  "settings": [
      {
      "type": "text",
      "id": "extra-class-v4",
      "label": "choose your class"
      },
      {
      "type": "text",
      "id": "heading_title",
      "label": {
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
    {
      "type": "text",
      "id": "heading_dsc",
      "label": {
        "de": "Überschrift",
        "en": "Description",
        "es": "Título",
        "fr": "En-tête",
        "it": "Description",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
     {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": {
        "de": "Bereichs-Höhe",
        "en": "Section height",
        "es": "Altura de la sección",
        "fr": "Hauteur de la section",
        "it": "Altezza sezione",
        "ja": "セクションの高さ",
        "nl": "Sectiehoogte",
        "pt-BR": "Altura da seção",
        "zh-CN": "分区高度",
        "zh-TW": "區塊高度"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "de": "Extra klein",
            "en": "Extra Small",
            "es": "Extra pequeña",
            "fr": "Très petite",
            "it": "Molto piccola",
            "ja": "極小",
            "nl": "Extra klein",
            "pt-BR": "Muito pequeno",
            "zh-CN": "特小",
            "zh-TW": "超小型"
          },
          "value": "x-small"
        },
        {
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fr": "Petite",
            "it": "Piccolo",
            "ja": "小",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fr": "Moyenne",
            "it": "Medio",
            "ja": "中",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Grande",
            "ja": "大",
            "nl": "Groot",
            "pt-BR": "Grande",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        },
        {
          "label": {
            "de": "Extra groß",
            "en": "Extra Large",
            "es": "Extra grande",
            "fr": "Très grande",
            "it": "Molto grande",
            "ja": "特大",
            "nl": "Extra groot",
            "pt-BR": "Muito grande",
            "zh-CN": "特大",
            "zh-TW": "超大型"
          },
          "value": "x-large"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": [
        {
      "type": "text",
      "id": "abv",
      "label": "Text Above video"
    },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "de": "Fotoausrichtung",
            "en": "Image alignment",
            "es": "Alineación de imagen",
            "fr": "Alignement de l'image",
            "it": "Allineamento immagine",
            "ja": "画像アラインメント",
            "nl": "Afbeelding uitlijnen",
            "pt-BR": "Alinhamento da imagem",
            "zh-CN": "图片对齐方式",
            "zh-TW": "圖片對齊"
          },
          "default": "center",
          "options": [
            {
              "value": "top",
              "label": {
                "de": "Oben",
                "en": "Top",
                "es": "Superior",
                "fr": "Haut",
                "it": "Alto",
                "ja": "上",
                "nl": "Boven",
                "pt-BR": "Acima",
                "zh-CN": "顶部",
                "zh-TW": "頂部"
              }
            },
            {
              "value": "center",
              "label": {
                "de": "Mitte",
                "en": "Middle",
                "es": "Centrada",
                "fr": "Milieu",
                "it": "Centrale",
                "ja": "中央",
                "nl": "Midden",
                "pt-BR": "Meio",
                "zh-CN": "中间",
                "zh-TW": "中央"
              }
            },
            {
              "value": "bottom",
              "label": {
                "de": "Unten",
                "en": "Bottom",
                "es": "Inferior",
                "fr": "Bas",
                "it": "Basso",
                "ja": "下",
                "nl": "Onder",
                "pt-BR": "Abaixo",
                "zh-CN": "底部",
                "zh-TW": "底部"
              }
            }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fr": "Lien",
            "it": "Link",
            "ja": "リンク",
            "nl": "Link",
            "pt-BR": "Link",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fr": "Facultatif",
            "it": "Facoltativo",
            "ja": "選択させる",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": {
            "de": "Unterschrift",
            "en": "Caption",
            "es": "Leyenda",
            "fr": "Légende",
            "it": "Didascalia",
            "ja": "キャプション",
            "nl": "Bijschrift",
            "pt-BR": "Legenda",
            "zh-CN": "字幕",
            "zh-TW": "說明"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Galerie",
        "en": "Gallery-View-From",
        "es": "Galería",
        "fr": "Galerie",
        "it": "Galleria",
        "ja": "ギャラリー",
        "nl": "Galerie",
        "pt-BR": "Galeria",
        "zh-CN": "图库",
        "zh-TW": "圖庫"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
  
}
  

{% endschema %}
   {{ 'Gallery-view-anywhere.css' | asset_url | stylesheet_tag }}

  
