{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }



{%- endstyle -%}

<div class ="{{ section.settings.extra-visitor }}" id="{{ section.settings.extra-visitor_id }} section-{{ section.id }}">
<div class="image-with-text image-with-text--{{ section.settings.content_layout }} page-width isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
  <h2 class="text-center title h1 bottomsection-padding">{{ section.settings.h3 }}</h2>
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
    <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item width-30">
   
      <div class="image-with-text__media text-center">
        <div class="ad-wrapper">
          <div class="ads-img">
         
                    <img src="{{ section.settings.img_benner | img_url:'master' }}" alt="">              
          </div>
          <div class="ads-content">
           <h5>Why Premium Invention Cameras are Worth the Investment</h5>
           <a href="{{ section.settings.link }}" aria-label="Read more" class="btn blog-btn"> Discover Now <svg xmlns="http://www.w3.org/2000/svg" width="32" height="12" viewBox="0 0 32 16" fill="none">
             <path d="M31.5021 8.7071C31.8927 8.31658 31.8927 7.68341 31.5021 7.29289L25.1382 0.92893C24.7477 0.538406 24.1145 0.538406 23.724 0.92893C23.3334 1.31945 23.3334 1.95262 23.724 2.34314L29.3808 8L23.724 13.6569C23.3334 14.0474 23.3334 14.6805 23.724 15.0711C24.1145 15.4616 24.7477 15.4616 25.1382 15.0711L31.5021 8.7071ZM8.74228e-08 9L30.795 9L30.795 7L-8.74228e-08 7L8.74228e-08 9Z" fill="#F7FCFF"/>
             </svg>
           </a>
         </div>
         <div class="ads-content-bottom">
           {% comment %} id="shopify-section-Popup--premium" {% endcomment %}
 
               <div class="popup-inner-premium">
      
                 <ul class="popup-two-only-slider">
                   <li>
   
                     <div class="inner-item-brand-wrapper">
                       <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Group_397a5af9-7d49-4073-a217-96b0f1eaa0e2.png?v=1696492454">
                       <h2 class="popup_prm_heading"> Premium Quality</h2>
                     </div>
                   </li>
             
                  
             
                   
                   <li >
                     <div class="inner-item-brand-wrapper">
             
                       <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__shipping_fast_solid.png?v=1696492455">
                       <h2 class="popup_prm_heading">  Express Shipping</h2>
             
                     </div>
                   
                   </li>
                   <li >
                     <div class="inner-item-brand-wrapper">
             
                       <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__help_customer_support_1.png?v=1696492454">
                       <h2 class="popup_prm_heading">Top-Tier Support Team</h2>
             
          
                     </div>
                   
                   </li>
             
                   <li >
            
                     <div class="inner-item-brand-wrapper">
                       <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__premium_content_user_credit.png?v=1696492454">
                       <h2 class="popup_prm_heading">1 Year Warranty</h2>
             
         
                     </div>
                   
                   </li>
                   
                   <li class="last-child-popup" >
                             
                     <div class="inner-item-brand-wrapper">
                     
                  
             
                       <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__money_refund_dollar.png?v=1696492454">
                       <h2 class="popup_prm_heading"> 30-Day Money-Back Guarantee</h2>
             
                     </div>
                     
                   </li>
             
                   
             
             
             
                 </ul> 
              
    
             </div>
             
         </div>
        </div>
     
      </div>

    </div>
    
    <div class="image-with-text__text-item grid__item   width-60">
      <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} content-container">
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'heading' -%}
            <h3>{{block.settings.prehead}}</h3>
              <h2 class="image-with-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'caption' -%}
              <p class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</p>
            {%- when 'text' -%}
              <div class="image-with-text__text rte {{ block.settings.text_style }} bottom i{{ forloop.index }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
   
            {%- when 'button' -%}
              {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            {%- when 'html' -%}
              {{ block.settings.html }}

        {%- when 'fullbutton' -%}

         {%- if block.settings.button_label != blank -%}
                <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} fullwithbutton" {{ block.shopify_attributes }}>
                  <span> {{ block.settings.button_label | escape }}</span>



                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                  <path d="M21.7071 8.70711C22.0976 8.31658 22.0976 7.68342 21.7071 7.2929L15.3431 0.928934C14.9526 0.538409 14.3195 0.538409 13.9289 0.928933C13.5384 1.31946 13.5384 1.95262 13.9289 2.34315L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.70711ZM-8.74228e-08 9L21 9L21 7L8.74228e-08 7L-8.74228e-08 9Z" fill="white"/>
                  </svg>
                </a>
              {%- endif -%}
            
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>



                

                    
  </div>
</div>
</div>



<script>

  jQuery(document).ready(function(){
  $('ul.popup-two-only-slider').slick({

  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay:true,
  responsive: [
  
  
  
  {
  breakpoint: 866,
  settings: {
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay:true
  }
  }
  ]
  });
});
</script>

<style>
  ul.popup-two-only-slider.slick-initialized.slick-slider {
    margin: 0;
}
  .bottomsection-padding{
    margin:30px 0;
  }
  .ad-wrapper {
  position: relative;
}

  .ads-content {
    padding: 17px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
  }
  
  .ads-content-bottom {
    padding: 0 8%;
    text-align: center;
    position: absolute;
    bottom: 1.9%;
    left: 0;
    width: 100%;
    right: 0;
  }
  img, svg {
    vertical-align: middle;
}
  .ads-content-bottom .bottom-svg-wrapper a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration:none;
  }
  
  .ads-content 
  h5 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom:18px;
  }
  .inner-item-brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-item-brand-wrapper img {
  width: 40px;
  height: 33px;
  object-fit: contain;
  margin-right: 3px;
}
.ads-img img {
  width: 100%;
  border-radius: 34px;
}
  .inner-item-brand-wrapper h2 {
    color: #fff;
    font-size: 14px !important;
    margin: 0;
    padding: 0  0  0 5px;
}
  a.btn {
    background: #006BB3 !important;
    color: white !important;
    border-radius: 30px;
    font-weight: 700;
    line-height: 15px;
    font-size: 15px;
    padding: 6px 24px;
    display: inline-flex;
    align-items: center;
}

@media only screen and (min-width: 800px)  {

 .width-30 {
  width: 35% !important;
}
 .width-60 {
  width: 65% !important;
}

}
@media only screen and (max-width: 799px)  {
.ad-wrapper {
  display: inline-block;
  max-width: 450px;
  margin: 0 auto;
}

}

.ads-content-bottom .slick-prev, .ads-content-bottom .slick-next {

  top: 75% !important;

}
</style>
{% schema %}
{
  "name": "Home image with text V2",
  "class": "section visitor--video",
  "settings": [
    {
      "type": "text",
      "id": "h3",
      "label": "Title",
      "default": "Premium Insights: Security & Surveillance Simplified",
      "placeholder": "Premium Insights: Security & Surveillance Simplified"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Discover more link"
    },
    {
          "type": "text",
          "id": "extra-visitor",
          "label": "choose your class"
        },
     {
          "type": "text",
          "id": "extra-visitor_id",
          "label": "choose your ID"
        },
    {
      "type": "image_picker",
      "id": "img_benner",
      "label": "t:sections.image-with-text.settings.image.label"
    },
{
      "type": "color",
      "id": "clr",
      "label": "choose your color"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "prehead",
          "default": "prehead",
          "label": "prehead"
        },{
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "headingtwo",
      "name": "Heading",
      "limit": 4,
       "settings": [
        {
          "type": "text",
          "id": "prehead",
          "default": "prehead",
          "label": "prehead"
        },{
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
      
     
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text2",
      "name": "Description two",
      "limit": 4,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 4,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button2",
      "name": "Button Bottom",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "type": "fullbutton",
      "name": "Full Width Button",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    },
    {
      "type": "html",
      "name": "Html",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "html",
          "label": "Html"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home image with text V2"
    }
  ]
}
{% endschema %}
{{ 'video-visitor1.css' | asset_url | stylesheet_tag }}

<style>
  span.customli a {
    text-decoration: none;
}
.bottom-wrapper a.button {
      margin-top: 20px;
    border-radius: 30px;
}
.bottom-wrapper a.button:hover {
     color:#fff;
}
.bottom-wrapper p {
  font-weight: 500;
 text-align: center;
}
a.button.fullwithbutton {
    border-radius: 16px  !important;
    width: 100%  !important;
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    color: #006BB3;
    transition: 0.8s;
    margin-bottom: 0;
    margin: 20px 0px 0px 0 !important;
    padding: 23px !important;
}
    a.button.fullwithbutton:hover{
           background: #006BB3;
           color:#fff;
    }
    a.button.fullwithbutton svg path{
         fill:#006BB3 !important;
    }
    a.button.fullwithbutton:hover svg path{

       fill:#fff !important;
    }
</style>
