<div class="main-banner-section">
  {% if section.settings.btnurl != blank %}
  <a href="{{ section.settings.btnurl }}">
     {% endif %}
  <div class="main-banner-image">
    {% if section.settings.deskimg != blank %}
   
  {{ section.settings.deskimg | image_url: width: 3840 | image_tag:
      loading: 'lazy',
      height: '465',
      sizes: "100vw",
  class: 'deskimg',
  format: 'webp',
      widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 1903, 2000, 3000, 3840'
    }} 
  {% endif %}
  {% if section.settings.mobimg != blank %}

{{ section.settings.mobimg | image_url: width: 3840 | image_tag:
      loading: 'lazy',
      height: '125',
      sizes: "100vw",
  class: 'mobimg',
  format: 'webp',
      widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    }}
    {% endif %}
  </div>
     {% if section.settings.btnurl != blank %}
  </a>
   {% endif %}
  <div class="main-banner-content">
    <div class="page-width">
      <div class="main-banner-info">
        <h2>{{ section.settings.bannertitle }}</h2>
        <p>{{ section.settings.subtitle }}</p>
         {% if section.settings.btn != blank %}
        <a href="{% if section.settings.btnurl != blank %}{{ section.settings.btnurl }} {% endif %}">{{ section.settings.btn }}</a>      
         {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Main Banner Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "deskimg",
        "label": "Select Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobimg",
        "label": "Select Mobile Image"
      },
      {
        "type": "text",
        "id": "bannertitle",
        "label": "Add Main Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Add Description"
      },
      {
        "type": "text",
        "id": "btn",
        "label": "Add Button Title"
      },
      {
        "type": "url",
        "id": "btnurl",
        "label": "Add Button URL"
      }
    ],
    "presets":[
      {
        "name": "Main Banner Section"
      }
    ]
  }
{% endschema %}