{% assign prohdnle = product.handle %} {% assign pro5handle = product.metafields.custom.prodid %} {% assign prod = all_products[pro5handle] %} {% assign prodsingle = all_products[prohdnle] %}

<div id="shopify-section-product--tab-select" class="pt-120 pb-120">
    <div class="product--slct-tab">
        <div class="vrinkills" tgt="{% for variantis in variants %}{% if variantis.available %}{{variantis.id}}{% endif%}{% endfor %}"></div>
        <div class="tab-top-text">
            <div class="page-width">
                <h2 class="section-ti text-center">Live in the <span>FUTURE</span></h2>
                <h3 class="section-cont text-center">Start protecting your home and loved ones TODAY:</h3>
            </div>
        </div>

        <div class="page-width">
            <div class="choose--from">
                <h2>Select your camera:</h2>
                <ul>
                    <li class="one active">
                        <span>Select</span>
                        WiFi Wireless
                    </li>
                    <li>
                        <span>Select</span>
                        4G Wireless
                    </li>
                </ul>
            </div>
            <div class="tab--selction">
                <div class="tab--data active wifi">
                    <div class="data-settings">
                        {% for variant in prodsingle.variants %} {% if forloop.first == true %} {% if request.host contains 'ca.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.cad_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'au.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.aud_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'eu.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.eur_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'nz.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.nzd_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'sa.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.zar_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% else %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />
                        {% endif %} {% endif %} {% endfor %}
                        <div class="star--rating">
                            <div class="star--s">
                                <div class="loox-rating" data-id="{{ prodsingle.id }}" data-rating="{{ prodsingle.metafields.loox.avg_rating }}" data-raters="{{ prodsingle.metafields.loox.num_reviews }}"></div>
                            </div>
                            <div class="rating--nmbrs">{{ section.settings.sub_info_text }}</div>
                        </div>
                        <h5>Starter Package</h5>
                        <h6>1 x {{ prodsingle.title }} - WiFi</h6>
                        <div class="price-item">
                            {% for variantis in prodsingle.variants %} {% if forloop.first == true %}
                            <h2 class="money"><span class="money">{{variantis.price | money }}</span></h2>
                            <p class="sale---price">
                                <span class="money">{{variantis.compare_at_price | money }}</span>
                                {% assign amount = 0 %} {% assign saving = variantis.compare_at_price | minus: variantis.price %} {% assign amount = saving | at_least: amount %} {% capture saved_amount %}{{ amount |
                                money_without_trailing_zeros }}{% endcapture %}

                                <span class="saveamount">{{ variantis.price | times: 100 | divided_by: variantis.compare_at_price | minus: 100 | abs }}% off</span>
                            </p>
                            {% endif %} {% endfor %}
                        </div>

                        <p class="shipday-custome">
                            <span class="sip-icon">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.14961 20.1246C5.31628 20.1246 4.60794 19.8371 4.02461 19.2621C3.44128 18.6871 3.14128 17.9913 3.12461 17.1746H1.34961V5.57461C1.34961 5.10794 1.52044 4.70378 1.86211 4.36211C2.20378 4.02044 2.60794 3.84961 3.07461 3.84961H17.5496V7.97461H20.1246L23.6496 12.6496V17.1746H21.7996C21.7829 17.9913 21.4829 18.6871 20.8996 19.2621C20.3163 19.8371 19.6079 20.1246 18.7746 20.1246C17.9579 20.1246 17.2538 19.8371 16.6621 19.2621C16.0704 18.6871 15.7746 17.9913 15.7746 17.1746H9.14961C9.13294 17.9913 8.83294 18.6871 8.24961 19.2621C7.66628 19.8371 6.96628 20.1246 6.14961 20.1246ZM6.12461 18.5496C6.52461 18.5496 6.86628 18.4079 7.14961 18.1246C7.43294 17.8413 7.57461 17.4996 7.57461 17.0996C7.57461 16.6996 7.43294 16.3579 7.14961 16.0746C6.86628 15.7913 6.52461 15.6496 6.12461 15.6496C5.72461 15.6496 5.38294 15.7913 5.09961 16.0746C4.81628 16.3579 4.67461 16.6996 4.67461 17.0996C4.67461 17.4996 4.81628 17.8413 5.09961 18.1246C5.38294 18.4079 5.72461 18.5496 6.12461 18.5496ZM3.07461 15.4496H3.64961C3.93294 15.0329 4.28711 14.6954 4.71211 14.4371C5.13711 14.1788 5.59961 14.0496 6.09961 14.0496C6.61628 14.0496 7.09128 14.1788 7.52461 14.4371C7.95794 14.6954 8.31628 15.0329 8.59961 15.4496H15.8246V5.57461H3.07461V15.4496ZM18.7746 18.5496C19.1746 18.5496 19.5163 18.4079 19.7996 18.1246C20.0829 17.8413 20.2246 17.4996 20.2246 17.0996C20.2246 16.6996 20.0829 16.3579 19.7996 16.0746C19.5163 15.7913 19.1746 15.6496 18.7746 15.6496C18.3746 15.6496 18.0329 15.7913 17.7496 16.0746C17.4663 16.3579 17.3246 16.6996 17.3246 17.0996C17.3246 17.4996 17.4663 17.8413 17.7496 18.1246C18.0329 18.4079 18.3746 18.5496 18.7746 18.5496ZM17.5496 13.3746H22.0496L19.2746 9.67461H17.5496V13.3746Z"
                                        fill="#4F5960"
                                    />
                                </svg>
                            </span>
                            2-4 Days USA Shipping
                        </p>


                             {% comment %} new added snippets  {% endcomment %}


                      {%- assign product_form_id_two = 'product-form-' | append: section.settings.wireless1x -%}
                      <div class="buy_now_custom">
                          <div class="buynow-btn tab--selction">
                             <div class="number">
                               <span class="minus">-</span>
                               <input name="quantity" type="text" id="Quantity-{{ section.settings.wireless1x }}" form="{{  product_form_id_two }}" value="1"/>
                              <span class="plus">+</span></div>
                        <button class="2x" proid="{{ block.settings.product_id }}">PRE-ORDER</button>
                      </div>
                          <product-form class="product-form">
                                        {%- form 'product', product, id:  product_form_id_two, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                          <input type="hidden" name="id" value="{{ section.settings.wireless1x }}" disabled>
                                          <div class="product-form__buttons">
                                            <button
                                              type="submit"
                                              name="add"
                                              class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            >
                                                <span>
                                                  {%- if product.selected_or_first_available_variant.available -%}
                                                    Take Advantage
                                                  {%- else -%}
                                                   Take Advantage
                                                  {%- endif -%}
                                                </span>
                                                <div class="loading-overlay__spinner hidden">
                                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                  </svg>
                                                </div>
                                            </button>
                                          </div>
                                        {%- endform -%}
                        </product-form>
                      </div>
                      {% comment %} new added snippets End {% endcomment %}

                        <div class="money_guarantee">
                            <div class="left_side">
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1072_3162)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M10.6241 1.72742C9.72711 0.830442 8.27282 0.830442 7.37584 1.72742C6.74732 2.35595 5.89484 2.70907 5.00593 2.70907C3.73743 2.70907 2.70907 3.7374 2.70907 5.00593C2.70907 5.8948 2.35595 6.74731 1.72742 7.37584C0.830442 8.27282 0.830442 9.72711 1.72742 10.6241C2.35595 11.2526 2.70907 12.1051 2.70907 12.994C2.70907 14.2625 3.7374 15.2909 5.00593 15.2909C5.8948 15.2909 6.74731 15.644 7.37584 16.2725C8.27282 17.1695 9.72711 17.1695 10.6241 16.2725C11.2526 15.644 12.1051 15.2909 12.994 15.2909C14.2625 15.2909 15.2909 14.2625 15.2909 12.994C15.2909 12.1051 15.644 11.2526 16.2725 10.6241C17.1695 9.72711 17.1695 8.27282 16.2725 7.37584C15.644 6.74732 15.2909 5.89484 15.2909 5.00593C15.2909 3.73739 14.2625 2.70904 12.994 2.70907C12.1051 2.70907 11.2526 2.35595 10.6241 1.72742ZM6.63006 0.981647C7.93892 -0.327216 10.061 -0.327216 11.3699 0.981647C11.8006 1.41238 12.3849 1.65438 12.994 1.65438C14.845 1.65434 16.3455 3.15492 16.3455 5.00593C16.3455 5.61511 16.5875 6.19933 17.0183 6.63006C18.3271 7.93892 18.3271 10.061 17.0183 11.3699C16.5876 11.8006 16.3455 12.3849 16.3455 12.994C16.3455 14.845 14.845 16.3455 12.994 16.3455C12.3848 16.3455 11.8006 16.5875 11.3699 17.0183C10.061 18.3271 7.93892 18.3271 6.63006 17.0183C6.19933 16.5875 5.61508 16.3455 5.00593 16.3455C3.15491 16.3455 1.65438 14.845 1.65438 12.994C1.65438 12.3848 1.41238 11.8006 0.981647 11.3699C-0.327216 10.061 -0.327216 7.93892 0.981647 6.63006C1.41238 6.19933 1.65438 5.61508 1.65438 5.00593C1.65438 3.15491 3.15495 1.65438 5.00593 1.65438C5.61511 1.65438 6.19933 1.41238 6.63006 0.981647Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M9 4.74609C6.65063 4.74609 4.74609 6.65063 4.74609 9C4.74609 11.3494 6.65063 13.2539 9 13.2539C11.3494 13.2539 13.2539 11.3494 13.2539 9C13.2539 6.65063 11.3494 4.74609 9 4.74609ZM3.69141 9C3.69141 6.06814 6.06814 3.69141 9 3.69141C11.9319 3.69141 14.3086 6.06814 14.3086 9C14.3086 11.9319 11.9319 14.3086 9 14.3086C6.06814 14.3086 3.69141 11.9319 3.69141 9Z"
                                                fill="#4f5960"
                                            />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25401 9.83865L11.0507 7.04199L11.7965 7.78777L8.25402 11.3302L6.20312 9.27935L6.94889 8.53356L8.25401 9.83865Z" fill="#4f5960" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1072_3162">
                                                <rect width="16" height="16 " fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                            </div>
                            <div class="right_side">
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1072_3172)">
                                            <path
                                                d="M9 2.25C7.96165 2.25 6.94662 2.55791 6.08326 3.13478C5.2199 3.71166 4.547 4.5316 4.14963 5.49091C3.75227 6.45022 3.64831 7.50582 3.85088 8.52423C4.05345 9.54263 4.55347 10.4781 5.28769 11.2123C6.02192 11.9465 6.95738 12.4466 7.97578 12.6491C8.99418 12.8517 10.0498 12.7477 11.0091 12.3504C11.9684 11.953 12.7883 11.2801 13.3652 10.4167C13.9421 9.55339 14.25 8.53835 14.25 7.5C14.25 6.10761 13.6969 4.77226 12.7123 3.78769C11.7277 2.80312 10.3924 2.25 9 2.25ZM9 12C8.10999 12 7.23996 11.7361 6.49994 11.2416C5.75992 10.7471 5.18314 10.0443 4.84254 9.22208C4.50195 8.39981 4.41284 7.49501 4.58647 6.62209C4.7601 5.74918 5.18869 4.94736 5.81802 4.31802C6.44736 3.68868 7.24918 3.2601 8.1221 3.08647C8.99501 2.91283 9.89981 3.00195 10.7221 3.34254C11.5443 3.68314 12.2472 4.25991 12.7416 4.99993C13.2361 5.73996 13.5 6.60998 13.5 7.5C13.5 8.69348 13.0259 9.83807 12.182 10.682C11.3381 11.5259 10.1935 12 9 12Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                d="M16.0389 6.47625C15.9397 6.38664 15.8723 6.26734 15.8466 6.1362C15.8209 6.00507 15.8384 5.86914 15.8964 5.74875C15.9787 5.57583 16.0238 5.38751 16.0286 5.19604C16.0335 5.00456 15.9979 4.81421 15.9244 4.63736C15.8508 4.46051 15.7408 4.30113 15.6016 4.16957C15.4624 4.03801 15.2971 3.93722 15.1164 3.87375C14.9894 3.83104 14.8802 3.74759 14.8056 3.63637C14.731 3.52515 14.6952 3.39239 14.7039 3.25875C14.7149 3.06122 14.6833 2.86362 14.6111 2.67943C14.5389 2.49524 14.4278 2.32878 14.2854 2.1914C14.1431 2.05402 13.9728 1.94894 13.7861 1.88334C13.5995 1.81774 13.4009 1.79315 13.2039 1.81125C13.0765 1.8117 12.9522 1.77212 12.8486 1.6981C12.745 1.62408 12.6672 1.51936 12.6264 1.39875C12.5629 1.21803 12.4621 1.05269 12.3305 0.913481C12.199 0.77427 12.0396 0.664306 11.8628 0.590738C11.6859 0.517169 11.4956 0.481643 11.3041 0.486469C11.1126 0.491295 10.9243 0.536366 10.7514 0.61875C10.0464 0.94125 10.0201 0 9.00011 0C8.80671 0.00106997 8.61568 0.0426702 8.43935 0.122117C8.26302 0.201564 8.1053 0.317093 7.97636 0.46125C7.88541 0.558365 7.7662 0.62439 7.63562 0.649967C7.50505 0.675543 7.36973 0.659374 7.24886 0.60375C7.07604 0.520758 6.88763 0.475208 6.69598 0.470083C6.50433 0.464958 6.31376 0.500373 6.13675 0.57401C5.95974 0.647648 5.80028 0.757845 5.66881 0.897387C5.53734 1.03693 5.43683 1.20267 5.37386 1.38375C5.3299 1.51063 5.24562 1.61963 5.1339 1.69411C5.02217 1.7686 4.88914 1.80447 4.75511 1.79625C4.55758 1.78518 4.35999 1.81682 4.17579 1.88903C3.9916 1.96124 3.82514 2.07231 3.68776 2.21467C3.55038 2.35704 3.44531 2.52735 3.3797 2.71399C3.3141 2.90064 3.28951 3.09924 3.30761 3.29625C3.30806 3.4236 3.26848 3.54787 3.19446 3.6515C3.12044 3.75513 3.01572 3.83287 2.89511 3.87375C2.71475 3.93771 2.54981 4.03877 2.41093 4.17042C2.27204 4.30207 2.16231 4.46138 2.08881 4.63807C2.01531 4.81475 1.97967 5.00489 1.9842 5.1962C1.98873 5.38751 2.03333 5.57574 2.11511 5.74875C2.17822 5.87209 2.19811 6.01304 2.17159 6.14902C2.14508 6.28501 2.07369 6.40816 1.96886 6.49875C1.82477 6.62716 1.70947 6.78458 1.63051 6.96069C1.55156 7.13681 1.51074 7.32763 1.51074 7.52063C1.51074 7.71363 1.55156 7.90445 1.63051 8.08056C1.70947 8.25667 1.82477 8.4141 1.96886 8.5425C2.06799 8.63212 2.13544 8.75141 2.16112 8.88255C2.18681 9.01369 2.16935 9.14961 2.11136 9.27C2.02837 9.44283 1.98282 9.63123 1.97769 9.82288C1.97257 10.0145 2.00798 10.2051 2.08162 10.3821C2.15526 10.5591 2.26546 10.7186 2.405 10.8501C2.54454 10.9815 2.71028 11.082 2.89136 11.145C3.01824 11.189 3.12724 11.2732 3.20173 11.385C3.27621 11.4967 3.31208 11.6297 3.30386 11.7638C3.28558 12.0733 3.37384 12.3798 3.55395 12.6322C3.73407 12.8847 3.99519 13.0678 4.29386 13.1513C2.52761 16.215 2.52386 16.08 2.69636 16.3388C2.86886 16.5975 2.98511 16.5113 4.63511 16.3125C5.28011 17.835 5.26886 18 5.57636 18C5.88386 18 5.82011 18 7.86386 14.4488C7.90581 14.4758 7.94477 14.5072 7.98011 14.5425C8.10852 14.6866 8.26594 14.8019 8.44205 14.8809C8.61817 14.9598 8.80899 15.0006 9.00199 15.0006C9.19499 15.0006 9.38581 14.9598 9.56192 14.8809C9.73803 14.8019 9.89546 14.6866 10.0239 14.5425C10.0582 14.5087 10.0959 14.4785 10.1364 14.4525C12.2326 18.0863 12.1089 18.0263 12.4239 18.0038C12.7389 17.9813 12.7201 17.8425 13.3726 16.3088C15.0114 16.5075 15.1426 16.5938 15.3114 16.335C15.4801 16.0763 15.3939 16.0613 13.7139 13.1513C14.0184 13.064 14.2834 12.874 14.4639 12.6136C14.6443 12.3532 14.7291 12.0383 14.7039 11.7225C14.7034 11.5952 14.743 11.4709 14.817 11.3673C14.891 11.2636 14.9958 11.1859 15.1164 11.145C15.2967 11.081 15.4617 10.98 15.6006 10.8483C15.7394 10.7167 15.8492 10.5574 15.9227 10.3807C15.9962 10.204 16.0318 10.0139 16.0273 9.82255C16.0227 9.63124 15.9781 9.44301 15.8964 9.27C15.8396 9.14936 15.8228 9.01375 15.8484 8.8829C15.874 8.75205 15.9408 8.6328 16.0389 8.5425C16.1873 8.41436 16.3063 8.25576 16.3879 8.07748C16.4695 7.8992 16.5117 7.70544 16.5117 7.50938C16.5117 7.31331 16.4695 7.11955 16.3879 6.94127C16.3063 6.763 16.1873 6.60439 16.0389 6.47625ZM5.64761 16.7888C4.98761 15.2475 5.34011 15.465 3.70136 15.6638C5.22386 13.0388 5.05886 13.275 5.10386 13.3013C5.22262 13.3737 5.3127 13.485 5.35886 13.6163C5.47042 13.937 5.69724 14.2048 5.99524 14.3677C6.29325 14.5306 6.64115 14.5768 6.97136 14.4975L5.64761 16.7888ZM12.3526 16.7888L11.0289 14.4975C11.3586 14.5767 11.7059 14.5303 12.0033 14.3674C12.3007 14.2045 12.5268 13.9367 12.6376 13.6163C12.693 13.4753 12.7949 13.3576 12.9264 13.2825L14.2989 15.6638C12.6451 15.4613 13.0014 15.2663 12.3526 16.7888ZM15.5439 7.96125C15.3215 8.15966 15.1698 8.42505 15.1116 8.71731C15.0535 9.00956 15.092 9.31282 15.2214 9.58125C15.2595 9.65926 15.2807 9.74451 15.2833 9.83132C15.286 9.91813 15.2701 10.0045 15.2367 10.0847C15.2034 10.1649 15.1533 10.237 15.0899 10.2964C15.0264 10.3557 14.9511 10.4008 14.8689 10.4288C14.583 10.53 14.3385 10.7227 14.1731 10.9769C14.0077 11.231 13.9307 11.5326 13.9539 11.835C13.9537 11.921 13.9356 12.0061 13.9009 12.0848C13.8661 12.1635 13.8154 12.2342 13.752 12.2923C13.6886 12.3505 13.6138 12.3949 13.5323 12.4226C13.4509 12.4504 13.3646 12.461 13.2789 12.4538C12.9856 12.4419 12.6962 12.5243 12.4532 12.689C12.2102 12.8537 12.0265 13.0919 11.9289 13.3688C11.8999 13.4503 11.8542 13.5248 11.7947 13.5876C11.7352 13.6503 11.6632 13.6999 11.5834 13.7331C11.5035 13.7663 11.4176 13.7825 11.3311 13.7804C11.2446 13.7784 11.1596 13.7582 11.0814 13.7213C10.8134 13.5941 10.5116 13.5565 10.2206 13.6139C9.92964 13.6713 9.66478 13.8207 9.46511 14.04C9.40525 14.1025 9.33336 14.1522 9.25377 14.1862C9.17418 14.2202 9.08853 14.2377 9.00199 14.2377C8.91544 14.2377 8.8298 14.2202 8.7502 14.1862C8.67061 14.1522 8.59872 14.1025 8.53886 14.04C8.34045 13.8177 8.07507 13.666 7.78281 13.6078C7.49055 13.5496 7.1873 13.5881 6.91886 13.7175C6.84049 13.7551 6.75507 13.7758 6.66817 13.7781C6.58128 13.7805 6.49486 13.7645 6.41455 13.7313C6.33424 13.698 6.26183 13.6482 6.20205 13.5851C6.14228 13.522 6.09647 13.447 6.06761 13.365C5.96812 13.0787 5.77644 12.8336 5.52262 12.668C5.2688 12.5024 4.9672 12.4257 4.66511 12.45C4.57907 12.4498 4.494 12.4317 4.41529 12.397C4.33657 12.3623 4.26591 12.3116 4.20777 12.2481C4.14962 12.1847 4.10526 12.1099 4.07748 12.0285C4.0497 11.9471 4.03911 11.8607 4.04636 11.775C4.05885 11.4816 3.97664 11.1919 3.81188 10.9488C3.64711 10.7058 3.40852 10.5221 3.13136 10.425C3.04875 10.3976 2.97299 10.3528 2.90921 10.2935C2.84544 10.2343 2.79513 10.1621 2.7617 10.0817C2.72828 10.0013 2.71251 9.91472 2.71547 9.82773C2.71843 9.74075 2.74005 9.65541 2.77886 9.5775C2.90718 9.30976 2.94547 9.00771 2.88802 8.71642C2.83058 8.42513 2.68047 8.16023 2.46011 7.96125C2.39458 7.90319 2.34212 7.83189 2.30619 7.75206C2.27027 7.67222 2.25169 7.58567 2.25169 7.49813C2.25169 7.41058 2.27027 7.32403 2.30619 7.24419C2.34212 7.16436 2.39458 7.09306 2.46011 7.035C2.68141 6.83588 2.83238 6.57054 2.8905 6.27858C2.94863 5.98662 2.91078 5.68369 2.78261 5.415C2.7438 5.33709 2.72218 5.25176 2.71922 5.16477C2.71626 5.07778 2.73203 4.99117 2.76545 4.91081C2.79888 4.83044 2.84919 4.7582 2.91296 4.69897C2.97674 4.63974 3.0525 4.5949 3.13511 4.5675C3.42095 4.4662 3.66546 4.27358 3.83085 4.01939C3.99624 3.7652 4.0733 3.46362 4.05011 3.16125C4.04976 3.07504 4.06742 2.9897 4.10197 2.91071C4.13652 2.83173 4.1872 2.76083 4.25075 2.70257C4.31431 2.64432 4.38933 2.59998 4.47102 2.57242C4.55271 2.54485 4.63926 2.53466 4.72511 2.5425C5.01852 2.55499 5.30817 2.47278 5.55127 2.30801C5.79436 2.14325 5.97802 1.90466 6.07511 1.6275C6.10404 1.54599 6.14973 1.47145 6.20924 1.40869C6.26875 1.34593 6.34076 1.29634 6.42061 1.26312C6.50047 1.22991 6.58641 1.2138 6.67287 1.21585C6.75934 1.21789 6.84441 1.23805 6.92261 1.275C7.19035 1.40332 7.49241 1.44161 7.7837 1.38416C8.07499 1.32671 8.33989 1.17661 8.53886 0.95625C8.59872 0.893747 8.67061 0.844007 8.7502 0.810026C8.8298 0.776046 8.91544 0.758528 9.00199 0.758528C9.08853 0.758528 9.17418 0.776046 9.25377 0.810026C9.33336 0.844007 9.40525 0.893747 9.46511 0.95625C9.66423 1.17755 9.92957 1.32852 10.2215 1.38664C10.5135 1.44477 10.8164 1.40692 11.0851 1.27875C11.1632 1.24119 11.2484 1.22056 11.335 1.21822C11.4217 1.21588 11.5078 1.23187 11.5878 1.26515C11.6678 1.29844 11.7399 1.34826 11.7993 1.41135C11.8588 1.47444 11.9042 1.54938 11.9326 1.63125C12.0339 1.91709 12.2265 2.1616 12.4807 2.32699C12.7349 2.49238 13.0365 2.56944 13.3389 2.54625C13.4249 2.54646 13.51 2.56451 13.5887 2.59925C13.6674 2.634 13.7381 2.68468 13.7962 2.74811C13.8544 2.81154 13.8987 2.88633 13.9265 2.96777C13.9543 3.0492 13.9649 3.13551 13.9576 3.22125C13.9451 3.51466 14.0273 3.80431 14.1921 4.0474C14.3569 4.2905 14.5955 4.47416 14.8726 4.57125C14.9552 4.59865 15.031 4.64349 15.0948 4.70272C15.1585 4.76195 15.2088 4.83419 15.2423 4.91456C15.2757 4.99492 15.2915 5.08153 15.2885 5.16852C15.2855 5.25551 15.2639 5.34084 15.2251 5.41875C15.0968 5.68649 15.0585 5.98855 15.116 6.27984C15.1734 6.57112 15.3235 6.83603 15.5439 7.035C15.6094 7.09306 15.6619 7.16436 15.6978 7.24419C15.7337 7.32403 15.7523 7.41058 15.7523 7.49813C15.7523 7.58567 15.7337 7.67222 15.6978 7.75206C15.6619 7.83189 15.6094 7.90319 15.5439 7.96125Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                d="M10.1776 6.0375C9.28507 4.23375 9.31132 4.125 9.00007 4.125C8.68882 4.125 8.71507 4.23 7.82257 6.0375C5.83507 6.32625 5.74132 6.26625 5.64382 6.5625C5.54632 6.85875 5.64382 6.87 7.09882 8.2725C6.75757 10.2525 6.67507 10.3275 6.92632 10.5225C7.17757 10.7175 7.21882 10.605 9.00007 9.6675C10.8113 10.62 10.7251 10.5938 10.8526 10.5938C10.9077 10.5946 10.9623 10.5832 11.0125 10.5605C11.0627 10.5378 11.1073 10.5043 11.1431 10.4624C11.1789 10.4205 11.205 10.3713 11.2196 10.3181C11.2342 10.265 11.2369 10.2093 11.2276 10.155L10.9051 8.28L12.2663 6.95625C12.3169 6.90733 12.3528 6.84515 12.3697 6.77682C12.3867 6.70849 12.384 6.63677 12.3621 6.56987C12.3402 6.50296 12.2999 6.44358 12.2458 6.39851C12.1917 6.35343 12.1261 6.32449 12.0563 6.315L10.1776 6.0375ZM10.2376 7.875C10.0501 8.05875 10.1213 8.14125 10.3576 9.52125C9.04882 8.835 9.12382 8.8575 9.00007 8.8575C8.87632 8.8575 8.95132 8.835 7.64257 9.52125C7.88257 8.13375 7.95007 8.055 7.76257 7.875L6.80632 6.94125L8.12632 6.75C8.38882 6.7125 8.38132 6.60375 9.00007 5.3475C9.62632 6.615 9.61507 6.7125 9.87382 6.75L11.1938 6.94125L10.2376 7.875Z"
                                                fill="#4f5960"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1072_3172">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="text">FREE 1 YEAR WARRANTY</span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="data-settings">
                        {% for variant in prod.variants %} {% if forloop.first == true %} {% if request.host contains 'ca.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.cad_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'au.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.aud_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'eu.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.eur_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'nz.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.nzd_image }}" src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'sa.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.zar_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% else %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />
                        {% endif %} {% endif %} {% endfor %}

                

                        <div class="star--rating">
                            <div class="star--s">
                                <div class="loox-rating" data-id="{{ prodsingle.id }}" data-rating="{{ prodsingle.metafields.loox.avg_rating }}" data-raters="{{ prodsingle.metafields.loox.num_reviews }}"></div>
                            </div>
                            <div class="rating--nmbrs">{{ section.settings.sub_info_text }}</div>
                        </div>
                        <h5>Everyday Bundle</h5>
                        <h6>5 x {{ prodsingle.title }} - WiFi</h6>
                        <div class="price-item">
                            {% for variantis in prod.variants %} {% if forloop.first == true %}
                            <h2 class="money">
                                <span class="money">{{ variantis.price | money }}</span>
                            </h2>
                            <p class="sale---price">
                                <span class="money">{{ variantis.compare_at_price | money }}</span>
                                {% assign amount = 0 %} {% assign saving = variantis.compare_at_price | minus: variantis.price %} {% assign amount = saving | at_least: amount %} {% capture saved_amount %}{{ amount |
                                money_without_trailing_zeros }}{% endcapture %}
                                <span class="saveamount">{{ variantis.price | times: 100 | divided_by: variantis.compare_at_price | minus: 100 | abs }}% off</span>
                            </p>
                            {% endif %} {% endfor %}
                        </div>
                        <p class="shipday-custome">
                            <span class="sip-icon">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.14961 20.1246C5.31628 20.1246 4.60794 19.8371 4.02461 19.2621C3.44128 18.6871 3.14128 17.9913 3.12461 17.1746H1.34961V5.57461C1.34961 5.10794 1.52044 4.70378 1.86211 4.36211C2.20378 4.02044 2.60794 3.84961 3.07461 3.84961H17.5496V7.97461H20.1246L23.6496 12.6496V17.1746H21.7996C21.7829 17.9913 21.4829 18.6871 20.8996 19.2621C20.3163 19.8371 19.6079 20.1246 18.7746 20.1246C17.9579 20.1246 17.2538 19.8371 16.6621 19.2621C16.0704 18.6871 15.7746 17.9913 15.7746 17.1746H9.14961C9.13294 17.9913 8.83294 18.6871 8.24961 19.2621C7.66628 19.8371 6.96628 20.1246 6.14961 20.1246ZM6.12461 18.5496C6.52461 18.5496 6.86628 18.4079 7.14961 18.1246C7.43294 17.8413 7.57461 17.4996 7.57461 17.0996C7.57461 16.6996 7.43294 16.3579 7.14961 16.0746C6.86628 15.7913 6.52461 15.6496 6.12461 15.6496C5.72461 15.6496 5.38294 15.7913 5.09961 16.0746C4.81628 16.3579 4.67461 16.6996 4.67461 17.0996C4.67461 17.4996 4.81628 17.8413 5.09961 18.1246C5.38294 18.4079 5.72461 18.5496 6.12461 18.5496ZM3.07461 15.4496H3.64961C3.93294 15.0329 4.28711 14.6954 4.71211 14.4371C5.13711 14.1788 5.59961 14.0496 6.09961 14.0496C6.61628 14.0496 7.09128 14.1788 7.52461 14.4371C7.95794 14.6954 8.31628 15.0329 8.59961 15.4496H15.8246V5.57461H3.07461V15.4496ZM18.7746 18.5496C19.1746 18.5496 19.5163 18.4079 19.7996 18.1246C20.0829 17.8413 20.2246 17.4996 20.2246 17.0996C20.2246 16.6996 20.0829 16.3579 19.7996 16.0746C19.5163 15.7913 19.1746 15.6496 18.7746 15.6496C18.3746 15.6496 18.0329 15.7913 17.7496 16.0746C17.4663 16.3579 17.3246 16.6996 17.3246 17.0996C17.3246 17.4996 17.4663 17.8413 17.7496 18.1246C18.0329 18.4079 18.3746 18.5496 18.7746 18.5496ZM17.5496 13.3746H22.0496L19.2746 9.67461H17.5496V13.3746Z"
                                        fill="#4F5960"
                                    />
                                </svg>
                            </span>
                            2-4 Days USA Shipping
                        </p>

    

                      {% comment %} new added snippets  {% endcomment %}
                      <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

                      {%- assign product_form_id_three = 'product-form-' | append: section.settings.wireless5x -%}
                      <div class="buy_now_custom">
                          <div class="buynow-btn tab--selction">
                             <div class="number">
                               <span class="minus">-</span>
                               <input name="quantity" type="text" id="Quantity-{{ section.settings.wireless5x }}" form="{{ product_form_id_three }}" value="1"/>
                              <span class="plus">+</span></div>
                        <button class="2x" proid="{{ block.settings.product_id }}">PRE-ORDER</button>
                      </div>
                          <product-form class="product-form">
                                        {%- form 'product', product, id: product_form_id_three, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                          <input type="hidden" name="id" value="{{ section.settings.wireless5x }}" disabled>
                                          <div class="product-form__buttons">
                                            <button
                                              type="submit"
                                              name="add"
                                              class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            >
                                                <span>
                                                  {%- if product.selected_or_first_available_variant.available -%}
                                                    Take Advantage
                                                  {%- else -%}
                                                   Take Advantage
                                                  {%- endif -%}
                                                </span>
                                                <div class="loading-overlay__spinner hidden">
                                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                  </svg>
                                                </div>
                                            </button>
                                          </div>
                                        {%- endform -%}
                        </product-form>
                      </div>
                      {% comment %} new added snippets End {% endcomment %}


                        <div class="money_guarantee">
                            <div class="left_side">
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1072_3162)">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M10.6241 1.72742C9.72711 0.830442 8.27282 0.830442 7.37584 1.72742C6.74732 2.35595 5.89484 2.70907 5.00593 2.70907C3.73743 2.70907 2.70907 3.7374 2.70907 5.00593C2.70907 5.8948 2.35595 6.74731 1.72742 7.37584C0.830442 8.27282 0.830442 9.72711 1.72742 10.6241C2.35595 11.2526 2.70907 12.1051 2.70907 12.994C2.70907 14.2625 3.7374 15.2909 5.00593 15.2909C5.8948 15.2909 6.74731 15.644 7.37584 16.2725C8.27282 17.1695 9.72711 17.1695 10.6241 16.2725C11.2526 15.644 12.1051 15.2909 12.994 15.2909C14.2625 15.2909 15.2909 14.2625 15.2909 12.994C15.2909 12.1051 15.644 11.2526 16.2725 10.6241C17.1695 9.72711 17.1695 8.27282 16.2725 7.37584C15.644 6.74732 15.2909 5.89484 15.2909 5.00593C15.2909 3.73739 14.2625 2.70904 12.994 2.70907C12.1051 2.70907 11.2526 2.35595 10.6241 1.72742ZM6.63006 0.981647C7.93892 -0.327216 10.061 -0.327216 11.3699 0.981647C11.8006 1.41238 12.3849 1.65438 12.994 1.65438C14.845 1.65434 16.3455 3.15492 16.3455 5.00593C16.3455 5.61511 16.5875 6.19933 17.0183 6.63006C18.3271 7.93892 18.3271 10.061 17.0183 11.3699C16.5876 11.8006 16.3455 12.3849 16.3455 12.994C16.3455 14.845 14.845 16.3455 12.994 16.3455C12.3848 16.3455 11.8006 16.5875 11.3699 17.0183C10.061 18.3271 7.93892 18.3271 6.63006 17.0183C6.19933 16.5875 5.61508 16.3455 5.00593 16.3455C3.15491 16.3455 1.65438 14.845 1.65438 12.994C1.65438 12.3848 1.41238 11.8006 0.981647 11.3699C-0.327216 10.061 -0.327216 7.93892 0.981647 6.63006C1.41238 6.19933 1.65438 5.61508 1.65438 5.00593C1.65438 3.15491 3.15495 1.65438 5.00593 1.65438C5.61511 1.65438 6.19933 1.41238 6.63006 0.981647Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M9 4.74609C6.65063 4.74609 4.74609 6.65063 4.74609 9C4.74609 11.3494 6.65063 13.2539 9 13.2539C11.3494 13.2539 13.2539 11.3494 13.2539 9C13.2539 6.65063 11.3494 4.74609 9 4.74609ZM3.69141 9C3.69141 6.06814 6.06814 3.69141 9 3.69141C11.9319 3.69141 14.3086 6.06814 14.3086 9C14.3086 11.9319 11.9319 14.3086 9 14.3086C6.06814 14.3086 3.69141 11.9319 3.69141 9Z"
                                                fill="#4f5960"
                                            />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25401 9.83865L11.0507 7.04199L11.7965 7.78777L8.25402 11.3302L6.20312 9.27935L6.94889 8.53356L8.25401 9.83865Z" fill="#4f5960" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1072_3162">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                            </div>
                            <div class="right_side">
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_1072_3172)">
                                            <path
                                                d="M9 2.25C7.96165 2.25 6.94662 2.55791 6.08326 3.13478C5.2199 3.71166 4.547 4.5316 4.14963 5.49091C3.75227 6.45022 3.64831 7.50582 3.85088 8.52423C4.05345 9.54263 4.55347 10.4781 5.28769 11.2123C6.02192 11.9465 6.95738 12.4466 7.97578 12.6491C8.99418 12.8517 10.0498 12.7477 11.0091 12.3504C11.9684 11.953 12.7883 11.2801 13.3652 10.4167C13.9421 9.55339 14.25 8.53835 14.25 7.5C14.25 6.10761 13.6969 4.77226 12.7123 3.78769C11.7277 2.80312 10.3924 2.25 9 2.25ZM9 12C8.10999 12 7.23996 11.7361 6.49994 11.2416C5.75992 10.7471 5.18314 10.0443 4.84254 9.22208C4.50195 8.39981 4.41284 7.49501 4.58647 6.62209C4.7601 5.74918 5.18869 4.94736 5.81802 4.31802C6.44736 3.68868 7.24918 3.2601 8.1221 3.08647C8.99501 2.91283 9.89981 3.00195 10.7221 3.34254C11.5443 3.68314 12.2472 4.25991 12.7416 4.99993C13.2361 5.73996 13.5 6.60998 13.5 7.5C13.5 8.69348 13.0259 9.83807 12.182 10.682C11.3381 11.5259 10.1935 12 9 12Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                d="M16.0389 6.47625C15.9397 6.38664 15.8723 6.26734 15.8466 6.1362C15.8209 6.00507 15.8384 5.86914 15.8964 5.74875C15.9787 5.57583 16.0238 5.38751 16.0286 5.19604C16.0335 5.00456 15.9979 4.81421 15.9244 4.63736C15.8508 4.46051 15.7408 4.30113 15.6016 4.16957C15.4624 4.03801 15.2971 3.93722 15.1164 3.87375C14.9894 3.83104 14.8802 3.74759 14.8056 3.63637C14.731 3.52515 14.6952 3.39239 14.7039 3.25875C14.7149 3.06122 14.6833 2.86362 14.6111 2.67943C14.5389 2.49524 14.4278 2.32878 14.2854 2.1914C14.1431 2.05402 13.9728 1.94894 13.7861 1.88334C13.5995 1.81774 13.4009 1.79315 13.2039 1.81125C13.0765 1.8117 12.9522 1.77212 12.8486 1.6981C12.745 1.62408 12.6672 1.51936 12.6264 1.39875C12.5629 1.21803 12.4621 1.05269 12.3305 0.913481C12.199 0.77427 12.0396 0.664306 11.8628 0.590738C11.6859 0.517169 11.4956 0.481643 11.3041 0.486469C11.1126 0.491295 10.9243 0.536366 10.7514 0.61875C10.0464 0.94125 10.0201 0 9.00011 0C8.80671 0.00106997 8.61568 0.0426702 8.43935 0.122117C8.26302 0.201564 8.1053 0.317093 7.97636 0.46125C7.88541 0.558365 7.7662 0.62439 7.63562 0.649967C7.50505 0.675543 7.36973 0.659374 7.24886 0.60375C7.07604 0.520758 6.88763 0.475208 6.69598 0.470083C6.50433 0.464958 6.31376 0.500373 6.13675 0.57401C5.95974 0.647648 5.80028 0.757845 5.66881 0.897387C5.53734 1.03693 5.43683 1.20267 5.37386 1.38375C5.3299 1.51063 5.24562 1.61963 5.1339 1.69411C5.02217 1.7686 4.88914 1.80447 4.75511 1.79625C4.55758 1.78518 4.35999 1.81682 4.17579 1.88903C3.9916 1.96124 3.82514 2.07231 3.68776 2.21467C3.55038 2.35704 3.44531 2.52735 3.3797 2.71399C3.3141 2.90064 3.28951 3.09924 3.30761 3.29625C3.30806 3.4236 3.26848 3.54787 3.19446 3.6515C3.12044 3.75513 3.01572 3.83287 2.89511 3.87375C2.71475 3.93771 2.54981 4.03877 2.41093 4.17042C2.27204 4.30207 2.16231 4.46138 2.08881 4.63807C2.01531 4.81475 1.97967 5.00489 1.9842 5.1962C1.98873 5.38751 2.03333 5.57574 2.11511 5.74875C2.17822 5.87209 2.19811 6.01304 2.17159 6.14902C2.14508 6.28501 2.07369 6.40816 1.96886 6.49875C1.82477 6.62716 1.70947 6.78458 1.63051 6.96069C1.55156 7.13681 1.51074 7.32763 1.51074 7.52063C1.51074 7.71363 1.55156 7.90445 1.63051 8.08056C1.70947 8.25667 1.82477 8.4141 1.96886 8.5425C2.06799 8.63212 2.13544 8.75141 2.16112 8.88255C2.18681 9.01369 2.16935 9.14961 2.11136 9.27C2.02837 9.44283 1.98282 9.63123 1.97769 9.82288C1.97257 10.0145 2.00798 10.2051 2.08162 10.3821C2.15526 10.5591 2.26546 10.7186 2.405 10.8501C2.54454 10.9815 2.71028 11.082 2.89136 11.145C3.01824 11.189 3.12724 11.2732 3.20173 11.385C3.27621 11.4967 3.31208 11.6297 3.30386 11.7638C3.28558 12.0733 3.37384 12.3798 3.55395 12.6322C3.73407 12.8847 3.99519 13.0678 4.29386 13.1513C2.52761 16.215 2.52386 16.08 2.69636 16.3388C2.86886 16.5975 2.98511 16.5113 4.63511 16.3125C5.28011 17.835 5.26886 18 5.57636 18C5.88386 18 5.82011 18 7.86386 14.4488C7.90581 14.4758 7.94477 14.5072 7.98011 14.5425C8.10852 14.6866 8.26594 14.8019 8.44205 14.8809C8.61817 14.9598 8.80899 15.0006 9.00199 15.0006C9.19499 15.0006 9.38581 14.9598 9.56192 14.8809C9.73803 14.8019 9.89546 14.6866 10.0239 14.5425C10.0582 14.5087 10.0959 14.4785 10.1364 14.4525C12.2326 18.0863 12.1089 18.0263 12.4239 18.0038C12.7389 17.9813 12.7201 17.8425 13.3726 16.3088C15.0114 16.5075 15.1426 16.5938 15.3114 16.335C15.4801 16.0763 15.3939 16.0613 13.7139 13.1513C14.0184 13.064 14.2834 12.874 14.4639 12.6136C14.6443 12.3532 14.7291 12.0383 14.7039 11.7225C14.7034 11.5952 14.743 11.4709 14.817 11.3673C14.891 11.2636 14.9958 11.1859 15.1164 11.145C15.2967 11.081 15.4617 10.98 15.6006 10.8483C15.7394 10.7167 15.8492 10.5574 15.9227 10.3807C15.9962 10.204 16.0318 10.0139 16.0273 9.82255C16.0227 9.63124 15.9781 9.44301 15.8964 9.27C15.8396 9.14936 15.8228 9.01375 15.8484 8.8829C15.874 8.75205 15.9408 8.6328 16.0389 8.5425C16.1873 8.41436 16.3063 8.25576 16.3879 8.07748C16.4695 7.8992 16.5117 7.70544 16.5117 7.50938C16.5117 7.31331 16.4695 7.11955 16.3879 6.94127C16.3063 6.763 16.1873 6.60439 16.0389 6.47625ZM5.64761 16.7888C4.98761 15.2475 5.34011 15.465 3.70136 15.6638C5.22386 13.0388 5.05886 13.275 5.10386 13.3013C5.22262 13.3737 5.3127 13.485 5.35886 13.6163C5.47042 13.937 5.69724 14.2048 5.99524 14.3677C6.29325 14.5306 6.64115 14.5768 6.97136 14.4975L5.64761 16.7888ZM12.3526 16.7888L11.0289 14.4975C11.3586 14.5767 11.7059 14.5303 12.0033 14.3674C12.3007 14.2045 12.5268 13.9367 12.6376 13.6163C12.693 13.4753 12.7949 13.3576 12.9264 13.2825L14.2989 15.6638C12.6451 15.4613 13.0014 15.2663 12.3526 16.7888ZM15.5439 7.96125C15.3215 8.15966 15.1698 8.42505 15.1116 8.71731C15.0535 9.00956 15.092 9.31282 15.2214 9.58125C15.2595 9.65926 15.2807 9.74451 15.2833 9.83132C15.286 9.91813 15.2701 10.0045 15.2367 10.0847C15.2034 10.1649 15.1533 10.237 15.0899 10.2964C15.0264 10.3557 14.9511 10.4008 14.8689 10.4288C14.583 10.53 14.3385 10.7227 14.1731 10.9769C14.0077 11.231 13.9307 11.5326 13.9539 11.835C13.9537 11.921 13.9356 12.0061 13.9009 12.0848C13.8661 12.1635 13.8154 12.2342 13.752 12.2923C13.6886 12.3505 13.6138 12.3949 13.5323 12.4226C13.4509 12.4504 13.3646 12.461 13.2789 12.4538C12.9856 12.4419 12.6962 12.5243 12.4532 12.689C12.2102 12.8537 12.0265 13.0919 11.9289 13.3688C11.8999 13.4503 11.8542 13.5248 11.7947 13.5876C11.7352 13.6503 11.6632 13.6999 11.5834 13.7331C11.5035 13.7663 11.4176 13.7825 11.3311 13.7804C11.2446 13.7784 11.1596 13.7582 11.0814 13.7213C10.8134 13.5941 10.5116 13.5565 10.2206 13.6139C9.92964 13.6713 9.66478 13.8207 9.46511 14.04C9.40525 14.1025 9.33336 14.1522 9.25377 14.1862C9.17418 14.2202 9.08853 14.2377 9.00199 14.2377C8.91544 14.2377 8.8298 14.2202 8.7502 14.1862C8.67061 14.1522 8.59872 14.1025 8.53886 14.04C8.34045 13.8177 8.07507 13.666 7.78281 13.6078C7.49055 13.5496 7.1873 13.5881 6.91886 13.7175C6.84049 13.7551 6.75507 13.7758 6.66817 13.7781C6.58128 13.7805 6.49486 13.7645 6.41455 13.7313C6.33424 13.698 6.26183 13.6482 6.20205 13.5851C6.14228 13.522 6.09647 13.447 6.06761 13.365C5.96812 13.0787 5.77644 12.8336 5.52262 12.668C5.2688 12.5024 4.9672 12.4257 4.66511 12.45C4.57907 12.4498 4.494 12.4317 4.41529 12.397C4.33657 12.3623 4.26591 12.3116 4.20777 12.2481C4.14962 12.1847 4.10526 12.1099 4.07748 12.0285C4.0497 11.9471 4.03911 11.8607 4.04636 11.775C4.05885 11.4816 3.97664 11.1919 3.81188 10.9488C3.64711 10.7058 3.40852 10.5221 3.13136 10.425C3.04875 10.3976 2.97299 10.3528 2.90921 10.2935C2.84544 10.2343 2.79513 10.1621 2.7617 10.0817C2.72828 10.0013 2.71251 9.91472 2.71547 9.82773C2.71843 9.74075 2.74005 9.65541 2.77886 9.5775C2.90718 9.30976 2.94547 9.00771 2.88802 8.71642C2.83058 8.42513 2.68047 8.16023 2.46011 7.96125C2.39458 7.90319 2.34212 7.83189 2.30619 7.75206C2.27027 7.67222 2.25169 7.58567 2.25169 7.49813C2.25169 7.41058 2.27027 7.32403 2.30619 7.24419C2.34212 7.16436 2.39458 7.09306 2.46011 7.035C2.68141 6.83588 2.83238 6.57054 2.8905 6.27858C2.94863 5.98662 2.91078 5.68369 2.78261 5.415C2.7438 5.33709 2.72218 5.25176 2.71922 5.16477C2.71626 5.07778 2.73203 4.99117 2.76545 4.91081C2.79888 4.83044 2.84919 4.7582 2.91296 4.69897C2.97674 4.63974 3.0525 4.5949 3.13511 4.5675C3.42095 4.4662 3.66546 4.27358 3.83085 4.01939C3.99624 3.7652 4.0733 3.46362 4.05011 3.16125C4.04976 3.07504 4.06742 2.9897 4.10197 2.91071C4.13652 2.83173 4.1872 2.76083 4.25075 2.70257C4.31431 2.64432 4.38933 2.59998 4.47102 2.57242C4.55271 2.54485 4.63926 2.53466 4.72511 2.5425C5.01852 2.55499 5.30817 2.47278 5.55127 2.30801C5.79436 2.14325 5.97802 1.90466 6.07511 1.6275C6.10404 1.54599 6.14973 1.47145 6.20924 1.40869C6.26875 1.34593 6.34076 1.29634 6.42061 1.26312C6.50047 1.22991 6.58641 1.2138 6.67287 1.21585C6.75934 1.21789 6.84441 1.23805 6.92261 1.275C7.19035 1.40332 7.49241 1.44161 7.7837 1.38416C8.07499 1.32671 8.33989 1.17661 8.53886 0.95625C8.59872 0.893747 8.67061 0.844007 8.7502 0.810026C8.8298 0.776046 8.91544 0.758528 9.00199 0.758528C9.08853 0.758528 9.17418 0.776046 9.25377 0.810026C9.33336 0.844007 9.40525 0.893747 9.46511 0.95625C9.66423 1.17755 9.92957 1.32852 10.2215 1.38664C10.5135 1.44477 10.8164 1.40692 11.0851 1.27875C11.1632 1.24119 11.2484 1.22056 11.335 1.21822C11.4217 1.21588 11.5078 1.23187 11.5878 1.26515C11.6678 1.29844 11.7399 1.34826 11.7993 1.41135C11.8588 1.47444 11.9042 1.54938 11.9326 1.63125C12.0339 1.91709 12.2265 2.1616 12.4807 2.32699C12.7349 2.49238 13.0365 2.56944 13.3389 2.54625C13.4249 2.54646 13.51 2.56451 13.5887 2.59925C13.6674 2.634 13.7381 2.68468 13.7962 2.74811C13.8544 2.81154 13.8987 2.88633 13.9265 2.96777C13.9543 3.0492 13.9649 3.13551 13.9576 3.22125C13.9451 3.51466 14.0273 3.80431 14.1921 4.0474C14.3569 4.2905 14.5955 4.47416 14.8726 4.57125C14.9552 4.59865 15.031 4.64349 15.0948 4.70272C15.1585 4.76195 15.2088 4.83419 15.2423 4.91456C15.2757 4.99492 15.2915 5.08153 15.2885 5.16852C15.2855 5.25551 15.2639 5.34084 15.2251 5.41875C15.0968 5.68649 15.0585 5.98855 15.116 6.27984C15.1734 6.57112 15.3235 6.83603 15.5439 7.035C15.6094 7.09306 15.6619 7.16436 15.6978 7.24419C15.7337 7.32403 15.7523 7.41058 15.7523 7.49813C15.7523 7.58567 15.7337 7.67222 15.6978 7.75206C15.6619 7.83189 15.6094 7.90319 15.5439 7.96125Z"
                                                fill="#4f5960"
                                            />
                                            <path
                                                d="M10.1776 6.0375C9.28507 4.23375 9.31132 4.125 9.00007 4.125C8.68882 4.125 8.71507 4.23 7.82257 6.0375C5.83507 6.32625 5.74132 6.26625 5.64382 6.5625C5.54632 6.85875 5.64382 6.87 7.09882 8.2725C6.75757 10.2525 6.67507 10.3275 6.92632 10.5225C7.17757 10.7175 7.21882 10.605 9.00007 9.6675C10.8113 10.62 10.7251 10.5938 10.8526 10.5938C10.9077 10.5946 10.9623 10.5832 11.0125 10.5605C11.0627 10.5378 11.1073 10.5043 11.1431 10.4624C11.1789 10.4205 11.205 10.3713 11.2196 10.3181C11.2342 10.265 11.2369 10.2093 11.2276 10.155L10.9051 8.28L12.2663 6.95625C12.3169 6.90733 12.3528 6.84515 12.3697 6.77682C12.3867 6.70849 12.384 6.63677 12.3621 6.56987C12.3402 6.50296 12.2999 6.44358 12.2458 6.39851C12.1917 6.35343 12.1261 6.32449 12.0563 6.315L10.1776 6.0375ZM10.2376 7.875C10.0501 8.05875 10.1213 8.14125 10.3576 9.52125C9.04882 8.835 9.12382 8.8575 9.00007 8.8575C8.87632 8.8575 8.95132 8.835 7.64257 9.52125C7.88257 8.13375 7.95007 8.055 7.76257 7.875L6.80632 6.94125L8.12632 6.75C8.38882 6.7125 8.38132 6.60375 9.00007 5.3475C9.62632 6.615 9.61507 6.7125 9.87382 6.75L11.1938 6.94125L10.2376 7.875Z"
                                                fill="#4f5960"
                                            />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1072_3172">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span class="text">FREE 1 YEAR WARRANTY</span>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="tab--data g4g">
                    <div class="data-settings">
                        {% for variant in prodsingle.variants %} {% if forloop.last == true %} {% if request.host contains 'ca.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.cad_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'au.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.aud_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'eu.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.eur_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'nz.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.nzd_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'sa.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.zar_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% else %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />
                        {% endif %} {% endif %} {% endfor %}
                        <div class="star--rating">
                            <div class="star--s">
                                <div class="loox-rating" data-id="{{ prodsingle.id }}" data-rating="{{ prodsingle.metafields.loox.avg_rating }}" data-raters="{{ prodsingle.metafields.loox.num_reviews }}"></div>
                            </div>
                            <div class="rating--nmbrs">{{ section.settings.sub_info_text3 }}</div>
                        </div>
                        <p class="offer-mode 5">Almost Sold Out</p>
                        <h5>Starter Package</h5>
                        <h6>1 x {{ prodsingle.title }} - 4G Edition</h6>
                        <div class="price-item">
                            {% for variantis in prodsingle.variants %} {% if forloop.last == true %}
                            <h2 class="money">
                                <span class="money">{{ variantis.price | money }}</span>
                            </h2>
                            <p class="sale---price">
                                <span class="money">{{ variantis.compare_at_price | money }}</span>
                                {% assign amount = 0 %} {% assign saving = variantis.compare_at_price | minus: variantis.price %} {% assign amount = saving | at_least: amount %} {% capture saved_amount %}{{ amount |
                                money_without_trailing_zeros }}{% endcapture %}
                                <span class="saveamount">{{ variantis.price | times: 100 | divided_by: variantis.compare_at_price | minus: 100 | abs }}% off</span>
                            </p>
                            {% endif %} {% endfor %}
                        </div>
                        <p class="shipday-custome">
                            <span class="sip-icon">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.14961 20.1246C5.31628 20.1246 4.60794 19.8371 4.02461 19.2621C3.44128 18.6871 3.14128 17.9913 3.12461 17.1746H1.34961V5.57461C1.34961 5.10794 1.52044 4.70378 1.86211 4.36211C2.20378 4.02044 2.60794 3.84961 3.07461 3.84961H17.5496V7.97461H20.1246L23.6496 12.6496V17.1746H21.7996C21.7829 17.9913 21.4829 18.6871 20.8996 19.2621C20.3163 19.8371 19.6079 20.1246 18.7746 20.1246C17.9579 20.1246 17.2538 19.8371 16.6621 19.2621C16.0704 18.6871 15.7746 17.9913 15.7746 17.1746H9.14961C9.13294 17.9913 8.83294 18.6871 8.24961 19.2621C7.66628 19.8371 6.96628 20.1246 6.14961 20.1246ZM6.12461 18.5496C6.52461 18.5496 6.86628 18.4079 7.14961 18.1246C7.43294 17.8413 7.57461 17.4996 7.57461 17.0996C7.57461 16.6996 7.43294 16.3579 7.14961 16.0746C6.86628 15.7913 6.52461 15.6496 6.12461 15.6496C5.72461 15.6496 5.38294 15.7913 5.09961 16.0746C4.81628 16.3579 4.67461 16.6996 4.67461 17.0996C4.67461 17.4996 4.81628 17.8413 5.09961 18.1246C5.38294 18.4079 5.72461 18.5496 6.12461 18.5496ZM3.07461 15.4496H3.64961C3.93294 15.0329 4.28711 14.6954 4.71211 14.4371C5.13711 14.1788 5.59961 14.0496 6.09961 14.0496C6.61628 14.0496 7.09128 14.1788 7.52461 14.4371C7.95794 14.6954 8.31628 15.0329 8.59961 15.4496H15.8246V5.57461H3.07461V15.4496ZM18.7746 18.5496C19.1746 18.5496 19.5163 18.4079 19.7996 18.1246C20.0829 17.8413 20.2246 17.4996 20.2246 17.0996C20.2246 16.6996 20.0829 16.3579 19.7996 16.0746C19.5163 15.7913 19.1746 15.6496 18.7746 15.6496C18.3746 15.6496 18.0329 15.7913 17.7496 16.0746C17.4663 16.3579 17.3246 16.6996 17.3246 17.0996C17.3246 17.4996 17.4663 17.8413 17.7496 18.1246C18.0329 18.4079 18.3746 18.5496 18.7746 18.5496ZM17.5496 13.3746H22.0496L19.2746 9.67461H17.5496V13.3746Z"
                                        fill="#4F5960"
                                    />
                                </svg>
                            </span>
                            2-4 Days USA Shipping
                        </p>


                        
                             {% comment %} new added snippets  {% endcomment %}


                      {%- assign product_form_id_four = 'product-form-' | append: section.settings.fourg1x -%}
                      <div class="buy_now_custom">
                          <div class="buynow-btn tab--selction">
                             <div class="number">
                               <span class="minus">-</span>
                               <input name="quantity" type="text" id="Quantity-{{ section.settings.fourg1x }}" form="{{ product_form_id_four }}" value="1"/>
                              <span class="plus">+</span></div>
                        <button class="2x" proid="{{ block.settings.product_id }}">PRE-ORDER</button>
                      </div>
                          <product-form class="product-form">
                                        {%- form 'product', product, id: product_form_id_four, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                          <input type="hidden" name="id" value="{{ section.settings.fourg1x }}" disabled>
                                          <div class="product-form__buttons">
                                            <button
                                              type="submit"
                                              name="add"
                                              class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            >
                                                <span>
                                                  {%- if product.selected_or_first_available_variant.available -%}
                                                    Take Advantage
                                                  {%- else -%}
                                                   Take Advantage
                                                  {%- endif -%}
                                                </span>
                                                <div class="loading-overlay__spinner hidden">
                                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                  </svg>
                                                </div>
                                            </button>
                                          </div>
                                        {%- endform -%}
                        </product-form>
                      </div>
                      {% comment %} new added snippets End {% endcomment %}
                        <div class="money_guarantee">
                            <div class="left_side">
                                <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                            </div>
                            <div class="right_side">
                                <span class="text">FREE 1 YEAR WARRANTY</span>
                            </div>
                        </div>
       
                    </div>
                    <div class="data-settings">
                        {% for variant in prod.variants %} {% if forloop.last == true %} {% if request.host contains 'ca.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.cad_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'au.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.aud_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'eu.' %}
                        <img  loading="lazy" src="{{  variant.metafields.custom.eur_image}}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'nz.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.nzd_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% elsif request.host contains 'sa.' %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.zar_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />

                        {% else %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" />
                        {% endif %} {% endif %} {% endfor %}
                        <div class="star--rating">
                            <div class="star--s">
                                <div class="loox-rating" data-id="{{ prod.id }}" data-rating="{{ prod.metafields.loox.avg_rating }}" data-raters="{{ prod.metafields.loox.num_reviews }}"></div>
                            </div>
                            <div class="rating--nmbrs">{{ section.settings.sub_info_text4 }}</div>
                        </div>
                        <p class="offer-mode 7">Almost Sold Out</p>
                        <h5>Everyday Bundle</h5>
                        <h6>5 x {{ prodsingle.title }} - 4G Edition</h6>
                        <div class="price-item">
                            {% for variantis in prod.variants %} {% if forloop.last == true %}
                            <h2 class="money">
                                <span class="money">{{ variantis.price | money }}</span>
                            </h2>
                            <p class="sale---price">
                                <span class="money">{{ variantis.compare_at_price | money }}</span>
                                {% assign amount = 0 %} {% assign saving = variantis.compare_at_price | minus: variantis.price %} {% assign amount = saving | at_least: amount %} {% capture saved_amount %}{{ amount |
                                money_without_trailing_zeros }}{% endcapture %}
                                <span class="saveamount">{{ variantis.price | times: 100 | divided_by: variantis.compare_at_price | minus: 100 | abs }}% off</span>
                            </p>
                            {% endif %} {% endfor %}
                        </div>
                        <p class="shipday-custome">
                            <span class="sip-icon">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.14961 20.1246C5.31628 20.1246 4.60794 19.8371 4.02461 19.2621C3.44128 18.6871 3.14128 17.9913 3.12461 17.1746H1.34961V5.57461C1.34961 5.10794 1.52044 4.70378 1.86211 4.36211C2.20378 4.02044 2.60794 3.84961 3.07461 3.84961H17.5496V7.97461H20.1246L23.6496 12.6496V17.1746H21.7996C21.7829 17.9913 21.4829 18.6871 20.8996 19.2621C20.3163 19.8371 19.6079 20.1246 18.7746 20.1246C17.9579 20.1246 17.2538 19.8371 16.6621 19.2621C16.0704 18.6871 15.7746 17.9913 15.7746 17.1746H9.14961C9.13294 17.9913 8.83294 18.6871 8.24961 19.2621C7.66628 19.8371 6.96628 20.1246 6.14961 20.1246ZM6.12461 18.5496C6.52461 18.5496 6.86628 18.4079 7.14961 18.1246C7.43294 17.8413 7.57461 17.4996 7.57461 17.0996C7.57461 16.6996 7.43294 16.3579 7.14961 16.0746C6.86628 15.7913 6.52461 15.6496 6.12461 15.6496C5.72461 15.6496 5.38294 15.7913 5.09961 16.0746C4.81628 16.3579 4.67461 16.6996 4.67461 17.0996C4.67461 17.4996 4.81628 17.8413 5.09961 18.1246C5.38294 18.4079 5.72461 18.5496 6.12461 18.5496ZM3.07461 15.4496H3.64961C3.93294 15.0329 4.28711 14.6954 4.71211 14.4371C5.13711 14.1788 5.59961 14.0496 6.09961 14.0496C6.61628 14.0496 7.09128 14.1788 7.52461 14.4371C7.95794 14.6954 8.31628 15.0329 8.59961 15.4496H15.8246V5.57461H3.07461V15.4496ZM18.7746 18.5496C19.1746 18.5496 19.5163 18.4079 19.7996 18.1246C20.0829 17.8413 20.2246 17.4996 20.2246 17.0996C20.2246 16.6996 20.0829 16.3579 19.7996 16.0746C19.5163 15.7913 19.1746 15.6496 18.7746 15.6496C18.3746 15.6496 18.0329 15.7913 17.7496 16.0746C17.4663 16.3579 17.3246 16.6996 17.3246 17.0996C17.3246 17.4996 17.4663 17.8413 17.7496 18.1246C18.0329 18.4079 18.3746 18.5496 18.7746 18.5496ZM17.5496 13.3746H22.0496L19.2746 9.67461H17.5496V13.3746Z"
                                        fill="#4F5960"
                                    />
                                </svg>
                            </span>
                            2-4 Days USA Shipping
                        </p>
     
                                                     {% comment %} new added snippets  {% endcomment %}


                      {%- assign product_form_id_one = 'product-form-' | append: section.settings.fourg5x -%}
                      <div class="buy_now_custom">
                          <div class="buynow-btn tab--selction">
                             <div class="number">
                               <span class="minus">-</span>
                               <input name="quantity" type="text" id="Quantity-{{ section.settings.fourg5x }}" form="{{ product_form_id_one }}" value="1"/>
                              <span class="plus">+</span></div>
                        <button class="2x" proid="{{ block.settings.fourg5x }}">PRE-ORDER</button>
                      </div>
                          <product-form class="product-form">
                                        {%- form 'product', product, id: product_form_id_one, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                          <input type="hidden" name="id" value="{{ section.settings.fourg5x }}" disabled>
                                          <div class="product-form__buttons">
                                            <button
                                              type="submit"
                                              name="add"
                                              class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                            >
                                                <span>
                                                  {%- if product.selected_or_first_available_variant.available -%}
                                                    Take Advantage
                                                  {%- else -%}
                                                   Take Advantage
                                                  {%- endif -%}
                                                </span>
                                                <div class="loading-overlay__spinner hidden">
                                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                  </svg>
                                                </div>
                                            </button>
                                          </div>
                                        {%- endform -%}
                        </product-form>
                      </div>
                      {% comment %} new added snippets End {% endcomment %}
                        <div class="money_guarantee">
                            <div class="left_side">
                                <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                            </div>
                            <div class="right_side">
                                <span class="text">FREE 1 YEAR WARRANTY</span>
                            </div>
                        </div>
                        <!--
              <p class="offer-mode 8">Offer ends in <span class="countdown">48:00:06</span></p>
              <p class="getoff">{% for variantis in prod.variants %}
                    {% if forloop.last == true  %}
                   {{variantis.compare_at_price | minus : variantis.price  | money}}
                    {% endif %}
                    {% endfor %} OFF</p>-
            -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
  @media only screen and (max-width: 800px) {
    div#shopify-section-table-data h2.section-header {
      color: #fff !important;
    }
    div#shopify-section-product--tab-select .data-settings .buynow-btn button {
      width: auto !important;
    }
  }
  
  .buynow-btn {
    
    padding-bottom: 0 !important;
}

button.product-form__submit.button.button--full-width.button--primary {
  background-color: #086fb5;
}
</style>
{% schema %}
   {
    "name": "Product tab wcv4",
     "class":"index-section",
    "settings": [
{
            "type": "text",
            "id": "wireless1x",
            "label": "Wirelss 1x"
          },{
            "type": "text",
            "id": "wireless5x",
            "label": "Wirelss 5x"
          },{
            "type": "text",
            "id": "fourg1x",
            "label": "4g 1x"
          },{
            "type": "text",
            "id": "fourg5x",
            "label": "4g 5x"
          },
         {
          "type": "text",
          "id": "sub_info_text",
          "label": "Rating Number wifi 1x"
          },
         {
          "type": "text",
          "id": "sub_info_text2",
          "label": "Rating Number wifi 5x"
          },
         {
          "type": "text",
          "id": "sub_info_text3",
          "label": "Rating Number 4g 1x"
          },
         {
          "type": "text",
          "id": "sub_info_text4",
          "label": "Rating Number 4g 5x"
          }

    ],
  "presets": [
    {
      "name": "Product tab wcv4"
    }
  ]
  }
{% endschema %}
{{ 'product--tab-select-wcv4.css' | asset_url | stylesheet_tag }}

<script>
    	$(document).ready(function() {
 $('.choose--from ul li').click(function(){

    if($(this).hasClass('one')){


 /* var getVld=$('select#CurrencySelector option:selected').val()
      if(getVld=='USD'){

       $('p.shipday').text('2-4  Days USA Shipping');

      }else{



      }*/



    $('.choose--from ul li').removeClass('active');
    $(this).addClass('active');
     $('.tab--data.wifi').addClass('active');
    $('.tab--data.active.g4g').removeClass('active');
    }
    else{
   /* var getVld=$('select#CurrencySelector option:selected').val()
      if(getVld=='USD'){

      $('p.shipday').text('8-12 Days USA Shipping');

      }else{



      }*/
    $('.choose--from ul li').removeClass('active');
    $(this).addClass('active');



    $('.tab--data.active.wifi').removeClass('active');
    $('.tab--data.g4g').addClass('active');


    }

    })
  			$('.minus').click(function () {
  				var $input = $(this).parent().find('input');
  				var count = parseInt($input.val()) - 1;
  				count = count < 1 ? 1 : count;
  				$input.val(count);
  				$input.change();
  				return false;
  			});
  			$('.plus').click(function () {
  				var $input = $(this).parent().find('input');
  				$input.val(parseInt($input.val()) + 1);
  				$input.change();
  				return false;
  			});
  		});
</script>
  <style>
    body.template_wc-v4 .buynow-btn {
    flex-direction: row !important;
}
  </style>
