{% if request.host contains 'ca.' %}
   {% assign cntry='CA'%}
   
      {% elsif  request.host contains 'uk.'%}
   
   {% assign cntry='UK'%}
   
           {% elsif  request.host contains 'au.'%}
   {% assign cntry='AU'%}
            {% elsif  request.host contains 'eu.'%}
            {% assign cntry='EU'%}
              {% elsif  request.host contains 'nz.'%}
              {% assign cntry='NZ'%}
                  {% elsif  request.host contains 'sa.'%}
                  {% assign cntry='SA'%}
                       {% else %}
                       {% assign cntry='USA'%}
                       {% endif %}
                       
                       
                       {% assign prohdnle=product.handle %}
   {% assign pro5handle= product.metafields.custom.prodid %}
   {% assign prod= all_products[pro5handle] %}
   {% assign prodsingle= all_products[prohdnle] %}
   
   <div id="shopify-section-product--tab-select">
      <div class="product--slct-tab">
         <div class="vrinkills" tgt="{% for variantis in variants %}{% if variantis.available %}{{variantis.id}}{% endif%}{% endfor %}"></div>
         <div class="tab-top-text">
            <div class="page-width">
              <div class="main-heading-main">
               <h2>Live in the <span>FUTURE</span></h2>
               <h3>Start protecting your home and loved ones TODAY:</h3>
              </div>
            </div>
         </div>
         <div class=" desktop_view">
            <div class="tab-top-img">
               <img  loading="lazy"  loading="lazy" src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/product-page-v3new13.png?v=1652962160">
            </div>
            <div class="page-width ">
               <div class="tab--desktop-text">
                  <h5>FOR A LIMITED TIME</span></h5>
                  <h2>See what your <br>V3 found</h2>
               </div>
            </div>
         </div>
         <div class="mobile_version_tab">
            <div class="tab-mobile-img">
               <img  loading="lazy" src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Group_5509.png?v=1652966007">
            </div>
            <div class="page-width">
               <div class="tab--mobile-text">
                  <h5>FOR A LIMITED TIME</span></h5>
                  <h2>See what your <br>V3 found</h2>
               </div>
               <div class="tab-mobile-img2">
                  <img  loading="lazy" src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/new_feature10.png?v=1652791284">
               </div>
            </div>
         </div>
         <div class="page-width">
           <div class="choose-from-main">
            <div class="choose--from">
              <h2>Select your camera:</h2>
               <ul>
                  <li class="one active">
                     <span>Select</span>
                   
                     <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.9996 12.4999C32.3684 12.4999 39.2434 15.3187 44.36 20.4353L47.3059 17.4895C41.4038 11.5853 33.4809 8.33325 24.9996 8.33325C16.5184 8.33534 8.59544 11.5853 2.69336 17.4895L5.63919 20.4353C10.7559 15.3187 17.6309 12.4999 24.9996 12.4999ZM36.8142 29.8062C30.41 23.402 19.5892 23.402 13.185 29.8062L16.1309 32.752C20.9371 27.9458 29.0621 27.9458 33.8684 32.752L36.8142 29.8062Z" fill=""/>
                        <path d="M42.5769 23.527C33.0519 13.9978 16.9498 13.9978 7.4248 23.527L10.3706 26.4728C18.3019 18.5416 31.6998 18.5416 39.6311 26.4728L42.5769 23.527Z" fill=""/>
                        <path d="M24.9997 41.6663C27.3009 41.6663 29.1663 39.8009 29.1663 37.4997C29.1663 35.1985 27.3009 33.333 24.9997 33.333C22.6985 33.333 20.833 35.1985 20.833 37.4997C20.833 39.8009 22.6985 41.6663 24.9997 41.6663Z" fill=""/>
                     </svg> 
                     WiFi Edition
                  </li>
                  <li>
                     <span>Select</span> 
                     <svg width="29" height="40" viewBox="0 0 29 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.857 24.2857C22.857 23.1491 22.4055 22.059 21.6018 21.2553C20.798 20.4515 19.7079 20 18.5713 20H9.99988C8.86323 20 7.77314 20.4515 6.96942 21.2553C6.16569 22.059 5.71416 23.1491 5.71416 24.2857V30C5.71416 31.1366 6.16569 32.2267 6.96942 33.0305C7.77314 33.8342 8.86323 34.2857 9.99988 34.2857H18.5713C19.7079 34.2857 20.798 33.8342 21.6018 33.0305C22.4055 32.2267 22.857 31.1366 22.857 30V24.2857ZM18.5713 22.8571C18.9502 22.8571 19.3135 23.0077 19.5815 23.2756C19.8494 23.5435 19.9999 23.9068 19.9999 24.2857V30C19.9999 30.3789 19.8494 30.7422 19.5815 31.0102C19.3135 31.2781 18.9502 31.4286 18.5713 31.4286H14.2856V22.8571H18.5713ZM11.4284 22.8571V31.4286H9.99988C9.62099 31.4286 9.25763 31.2781 8.98972 31.0102C8.72181 30.7422 8.5713 30.3789 8.5713 30V24.2857C8.5713 23.9068 8.72181 23.5435 8.98972 23.2756C9.25763 23.0077 9.62099 22.8571 9.99988 22.8571H11.4284ZM28.5713 7.14286C28.5713 5.24845 27.8188 3.43164 26.4792 2.09209C25.1397 0.752549 23.3229 0 21.4284 0H12.3656C10.472 0.000404411 8.65614 0.752664 7.31702 2.09143L2.0913 7.31714C0.752541 8.65626 0.00028038 10.4722 -0.000125885 12.3657V32.8571C-0.000125885 34.7515 0.752424 36.5684 2.09197 37.9079C3.43151 39.2475 5.24833 40 7.14273 40H21.4284C23.3229 40 25.1397 39.2475 26.4792 37.9079C27.8188 36.5684 28.5713 34.7515 28.5713 32.8571V7.14286ZM21.4284 2.85714C22.5651 2.85714 23.6552 3.30867 24.4589 4.1124C25.2626 4.91613 25.7142 6.00622 25.7142 7.14286V32.8571C25.7142 33.9938 25.2626 35.0839 24.4589 35.8876C23.6552 36.6913 22.5651 37.1429 21.4284 37.1429H7.14273C6.00609 37.1429 4.916 36.6913 4.11227 35.8876C3.30855 35.0839 2.85702 33.9938 2.85702 32.8571V12.3657C2.85802 11.2295 3.3102 10.1401 4.11416 9.33714L9.33416 4.11143C9.73232 3.71352 10.205 3.39795 10.7251 3.18274C11.2452 2.96753 11.8027 2.85689 12.3656 2.85714H21.4284Z" fill=""/>
                     </svg> 
                     4G Edition
                  </li>
               </ul>
            </div>
            <div class="tab--selction">
               <div class="tab--data active wifi">
                  <div class="data-settings">
   
             
   {% for variant in prodsingle.variants %}
              
      {% if forloop.first == true  %}
      {% if section.settings.img01  %}
         
         
     <img  loading="lazy" src="{{ section.settings.img01 | img_url:'' }}"  alt="proudct iamge">
    
         {% else %}
      <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" alt="product image">
      {% endif %}
      {% endif %}
                    
   
      
   
           
                    {% endfor %}
                    
   <!--                  <p class="offer-mode">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M12 2.25C6.615 2.25 2.25 6.615 2.25 12C2.25 17.385 6.615 21.75 12 21.75C17.385 21.75 21.75 17.385 21.75 12C21.75 6.615 17.385 2.25 12 2.25ZM8.14078 7.60969L13.0627 10.9378C13.3876 11.1718 13.6073 11.5243 13.6743 11.919C13.7413 12.3138 13.6502 12.719 13.4207 13.0471C13.1913 13.3752 12.8418 13.5998 12.4481 13.6723C12.0543 13.7447 11.6478 13.6593 11.3166 13.4344C11.171 13.3317 11.0442 13.2049 10.9416 13.0594L7.61344 8.1375C7.56221 8.06411 7.53844 7.97503 7.54631 7.88588C7.55417 7.79672 7.59316 7.71318 7.65645 7.64989C7.71974 7.5866 7.80328 7.54761 7.89244 7.53974C7.98159 7.53188 8.07067 7.55564 8.14406 7.60687L8.14078 7.60969ZM12 20.25C7.45312 20.25 3.75 16.5492 3.75 12C3.74614 10.8904 3.968 9.79163 4.4021 8.77048C4.83621 7.74933 5.47348 6.82714 6.27516 6.06C6.3375 5.99784 6.4116 5.94872 6.49312 5.9155C6.57465 5.88227 6.66197 5.86561 6.75 5.86648C6.83804 5.86735 6.92501 5.88574 7.00587 5.92057C7.08672 5.9554 7.15983 6.00598 7.22093 6.06935C7.28204 6.13273 7.32992 6.20764 7.36177 6.28971C7.39363 6.37178 7.40883 6.45937 7.40649 6.54737C7.40415 6.63538 7.38431 6.72203 7.34814 6.80229C7.31196 6.88255 7.26017 6.95481 7.19578 7.01484C6.52306 7.65874 5.98829 8.4327 5.62398 9.28969C5.25967 10.1467 5.07342 11.0688 5.07656 12C5.07656 15.8175 8.1825 18.9234 12 18.9234C15.8175 18.9234 18.9234 15.8175 18.9234 12C18.9234 8.40609 16.1709 5.44313 12.6633 5.10938V7.6875C12.6633 7.86341 12.5934 8.03212 12.469 8.15651C12.3446 8.2809 12.1759 8.35078 12 8.35078C11.8241 8.35078 11.6554 8.2809 11.531 8.15651C11.4066 8.03212 11.3367 7.86341 11.3367 7.6875V4.41328C11.3367 4.23737 11.4066 4.06866 11.531 3.94427C11.6554 3.81988 11.8241 3.75 12 3.75C16.5492 3.75 20.25 7.45312 20.25 12C20.25 16.5469 16.5492 20.25 12 20.25Z" fill="white"/>
                        </svg>
                        Offer ends in <span class="countdown">48:00:06</span>
                     </p> -->
                     <h5> Starter Package</h5>
                     <h6>1 x  {{ prodsingle.title }} - WiFi </h6>
                     {% for variantis in prodsingle.variants %}
                     {% if forloop.first == true  %}
                     <h2 class="money"><span class="money">{{variantis.price | money }}</span></h2>
                     <p class="sale---price "><span class="money">{{variantis.compare_at_price | money }}</span>
                     {% assign amount = 0 %}
   
              {% assign saving = variantis.compare_at_price | minus: variantis.price %}
         {% assign amount = saving | at_least: amount %}
   
               {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
   
             
            <span class="money1"> {{ saved_amount }} Off</span>
                     
                     </p>
                     {% endif %}
                     {% endfor %}
                     <p class="shipday">Ships on the next business day.</p>
                     <div class="star--rating">
                        <div class="star--s">
                           <div class="loox-rating" data-id="{{ prodsingle.id }}" data-rating="{{ prodsingle.metafields.loox.avg_rating }}" data-raters="{{ prodsingle.metafields.loox.num_reviews }}"></div>
                        </div>
                        <div class="rating--nmbrs"> {{ section.settings.sub_info_text }} </div>
                     </div>
              
   
   
       {% comment %} new added snippets  {% endcomment %}
   
   
       {%- assign product_form_id_two_01 = 'product-form-' | append: section.settings.wireless1x -%}
       <div class="buy_now_custom">
           <div class="buynow-btn tab--selction">
              <div class="number">
                <span class="minus">-</span>
                <input aria-label="Quantity" name="quantity" type="text" id="Quantity-{{ section.settings.wireless1x }}" form="{{ product_form_id_two_01 }}" value="1"/>
               <span class="plus">+</span></div>
         <button class="2x" proid="{{ section.settings.wireless1x }}">PRE-ORDER</button>
       </div>
           <product-form class="product-form">
                         {%- form 'product', product, id: product_form_id_two_01, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                           <input type="hidden" name="id" value="{{ section.settings.wireless1x }}" disabled>
                           <div class="product-form__buttons">
                             <button
                               type="submit"
                               name="add"
                               class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                             {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                             >
                                 <span>
                                   {%- if product.selected_or_first_available_variant.available -%}
                                     Take Advantage
                                   {%- else -%}
                                    Take Advantage
                                   {%- endif -%}
                                 </span>
                                 <div class="loading-overlay__spinner hidden">
                                   <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                     <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                   </svg>
                                 </div>
                             </button>
                           </div>
                         {%- endform -%}
         </product-form>
       </div>
       {% comment %} new added snippets End {% endcomment %}
   
   
   
                        
                
                     <div class="money_guarantee">
                        <div class="left_side">
                           <span class="icon">
                              <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.25 0C1.65326 0 1.08097 0.237053 0.65901 0.65901C0.237053 1.08097 0 1.65326 0 2.25V17.75C0 18.3467 0.237053 18.919 0.65901 19.341C1.08097 19.7629 1.65326 20 2.25 20H9.75C10.3431 20 10.9123 19.7659 11.3336 19.3484C11.755 18.931 11.9945 18.3641 12 17.771V16.251C12 16.0521 11.921 15.8613 11.7803 15.7207C11.6397 15.58 11.4489 15.501 11.25 15.501C10.796 15.501 10.51 15.378 10.313 15.219C10.105 15.052 9.933 14.794 9.803 14.43C9.53 13.675 9.5 12.68 9.5 11.75C9.49999 11.5599 9.42779 11.3769 9.298 11.238L9.134 11.061C9.08007 11.0007 9.02334 10.943 8.964 10.888C8.89 10.818 8.664 10.603 7.78 9.72C7.312 9.251 7.052 8.855 6.967 8.552C6.93292 8.44698 6.92773 8.33472 6.952 8.227C6.98931 8.10276 7.05985 7.99107 7.156 7.904C7.24273 7.80792 7.35408 7.73738 7.478 7.7C7.58547 7.67609 7.69741 7.68162 7.802 7.716C8.105 7.801 8.501 8.062 8.97 8.531C9.51 9.071 10.022 9.577 10.481 10.031C11.241 10.783 11.855 11.391 12.201 11.761C12.3367 11.9066 12.5246 11.9924 12.7235 11.9994C12.9224 12.0064 13.1159 11.9342 13.2615 11.7985C13.4071 11.6628 13.4929 11.4749 13.4999 11.276C13.5069 11.0771 13.4347 10.8836 13.299 10.738C12.873 10.2928 12.4396 9.85472 11.999 9.424V6.06L14.841 8.902C15.263 9.324 15.5 9.896 15.5 10.492V19.25C15.5 19.4489 15.579 19.6397 15.7197 19.7803C15.8603 19.921 16.0511 20 16.25 20C16.4489 20 16.6397 19.921 16.7803 19.7803C16.921 19.6397 17 19.4489 17 19.25V10.493C17.0001 10.0005 16.9032 9.51282 16.7148 9.05779C16.5264 8.60276 16.2502 8.18929 15.902 7.841L12 3.939V2.249C11.9997 1.65244 11.7626 1.0804 11.3406 0.658656C10.9187 0.236916 10.3466 -5.89199e-08 9.75 0H2.25ZM8.392 14.94C8.488 15.208 8.613 15.474 8.775 15.722C8.39306 15.9056 8.07074 16.1934 7.84518 16.5522C7.61961 16.911 7.49996 17.3262 7.5 17.75V18.5H4.5V17.75C4.5 17.1533 4.26295 16.581 3.84099 16.159C3.41903 15.7371 2.84674 15.5 2.25 15.5H1.5V4.5H2.25C2.84674 4.5 3.41903 4.26295 3.84099 3.84099C4.26295 3.41903 4.5 2.84674 4.5 2.25V1.5H7.5V2.25C7.5 2.84674 7.73705 3.41903 8.15901 3.84099C8.58097 4.26295 9.15326 4.5 9.75 4.5H10.5V7.938L10.03 7.47C9.5 6.939 8.882 6.462 8.21 6.272C7.85077 6.16562 7.46967 6.15699 7.106 6.247C6.88038 6.30545 6.66633 6.40182 6.473 6.532C5.90762 6.45488 5.33196 6.51717 4.79617 6.71342C4.26037 6.90968 3.78068 7.23397 3.39888 7.65803C3.01708 8.08209 2.74476 8.59307 2.60562 9.14646C2.46648 9.69985 2.46476 10.2789 2.60059 10.8331C2.73643 11.3873 3.0057 11.8999 3.38497 12.3262C3.76423 12.7525 4.24198 13.0797 4.7766 13.2791C5.31122 13.4786 5.88649 13.5443 6.45232 13.4705C7.01815 13.3968 7.55736 13.1858 8.023 12.856C8.061 13.54 8.154 14.283 8.392 14.94ZM4 10C3.99985 9.56447 4.14187 9.1408 4.40449 8.79335C4.6671 8.44591 5.03595 8.19368 5.455 8.075C5.41644 8.37087 5.43959 8.67152 5.523 8.958C5.713 9.631 6.188 10.249 6.72 10.781L7.385 11.443C7.10214 11.7145 6.7457 11.8969 6.36001 11.9675C5.97432 12.0381 5.57639 11.9937 5.2157 11.84C4.85502 11.6862 4.54748 11.4298 4.33133 11.1027C4.11519 10.7755 3.99997 10.3921 4 10ZM1.5 2.25C1.5 2.05109 1.57902 1.86032 1.71967 1.71967C1.86032 1.57902 2.05109 1.5 2.25 1.5H3V2.25C3 2.44891 2.92098 2.63968 2.78033 2.78033C2.63968 2.92098 2.44891 3 2.25 3H1.5V2.25ZM9 1.5H9.75C9.94891 1.5 10.1397 1.57902 10.2803 1.71967C10.421 1.86032 10.5 2.05109 10.5 2.25V3H9.75C9.55109 3 9.36032 2.92098 9.21967 2.78033C9.07902 2.63968 9 2.44891 9 2.25V1.5ZM10.5 17V17.75C10.5 17.9489 10.421 18.1397 10.2803 18.2803C10.1397 18.421 9.94891 18.5 9.75 18.5H9V17.75C9 17.5511 9.07902 17.3603 9.21967 17.2197C9.36032 17.079 9.55109 17 9.75 17H10.5ZM3 18.5H2.25C2.05109 18.5 1.86032 18.421 1.71967 18.2803C1.57902 18.1397 1.5 17.9489 1.5 17.75V17H2.25C2.44891 17 2.63968 17.079 2.78033 17.2197C2.92098 17.3603 3 17.5511 3 17.75V18.5Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                        </div>
   
                                
                        <div class="right_side">
                           <span class="icon">
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M10.6761 20.197L12.3461 19.029C14.4812 17.5344 16.1338 15.4493 17.1013 13.0293C18.0688 10.6093 18.3093 7.95961 17.7931 5.405C17.7676 5.27911 17.7135 5.16078 17.635 5.05916C17.5564 4.95755 17.4555 4.87537 17.3401 4.819L9.52913 1L1.71913 4.819C1.60354 4.87525 1.50245 4.95738 1.42372 5.059C1.34499 5.16062 1.29072 5.27902 1.26513 5.405C0.749111 7.9597 0.989703 10.6095 1.95741 13.0294C2.92512 15.4494 4.5779 17.5345 6.71313 19.029L8.38313 20.197C8.71921 20.4321 9.11946 20.5582 9.52963 20.5582C9.9398 20.5582 10.34 20.4321 10.6761 20.197V20.197Z" stroke="#086FB5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M9.28573 14V10.2C9.28573 10.0267 9.28573 9.85 9.28573 9.67C9.2924 9.48333 9.29573 9.29333 9.29573 9.1C9.07573 9.3 8.8324 9.47667 8.56573 9.63C8.29907 9.77667 8.01907 9.87667 7.72573 9.93L7.56573 8.51C7.73907 8.49667 7.9224 8.45333 8.11573 8.38C8.31573 8.30667 8.5124 8.21667 8.70573 8.11C8.89907 8.00333 9.0724 7.89 9.22573 7.77C9.37907 7.64333 9.49573 7.52 9.57573 7.4H10.9457V14H9.28573Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">FREE 1 YEAR WARRANTY</span>
                        </div>
                                   {% if template contains 'camera-v3s' %}
                                   <div class="left_side Unbeatable-Battery  ">
                           <span class="icon">
                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M6.45703 18.3332C6.27995 18.3332 6.13151 18.2733 6.01172 18.1535C5.89193 18.0337 5.83203 17.8853 5.83203 17.7082V3.62484C5.83203 3.44775 5.89193 3.29932 6.01172 3.17952C6.13151 3.05973 6.27995 2.99984 6.45703 2.99984H8.33203V1.6665H11.6654V2.99984H13.5404C13.7174 2.99984 13.8659 3.05973 13.9857 3.17952C14.1055 3.29932 14.1654 3.44775 14.1654 3.62484V17.7082C14.1654 17.8853 14.1055 18.0337 13.9857 18.1535C13.8659 18.2733 13.7174 18.3332 13.5404 18.3332H6.45703ZM7.08203 9.74984H12.9154V4.24984H7.08203V9.74984Z" fill="#086FB5"/>
   </svg>
   
                           </span>
                           <span class="text">Unbeatable Battery </span>
                        </div>
                                   <div class="right_side only-wifi">
                           <span class="icon">
                              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M2.70703 14.979H3.95703V13.729H2.70703V14.979ZM2.70703 11.729H3.95703V8.27067H2.70703V11.729ZM6.33203 14.979H7.58203V11.4373H6.33203V14.979ZM6.33203 9.52067H7.58203V8.27067H6.33203V9.52067ZM10.1237 14.979H11.3737V13.729H10.1237V14.979ZM10.1237 11.729H11.3737V8.27067H10.1237V11.729ZM1.58203 17.3332C1.2487 17.3332 0.957031 17.2082 0.707031 16.9582C0.457031 16.7082 0.332031 16.4165 0.332031 16.0832V5.64567L5.3112 0.666504H12.4154C12.7487 0.666504 13.0404 0.791504 13.2904 1.0415C13.5404 1.2915 13.6654 1.58317 13.6654 1.9165V16.0832C13.6654 16.4165 13.5404 16.7082 13.2904 16.9582C13.0404 17.2082 12.7487 17.3332 12.4154 17.3332H1.58203ZM1.58203 16.0832H12.4154V1.9165H5.8737L1.58203 6.21077V16.0832Z" fill="#086FB5"/>
                               </svg>
   
                           </span>
                           <span class="text">Free {{ cntry }} Sim Card</span>
                        </div>
                                   {% endif %}
                     </div>
                     <!--<p class="offer-mode 2">Offer ends in <span class="countdown">48:00:06</span></p>--->
                     <!--<p class="getoff"> {% for variantis in prodsingle.variants %}
                        {% if forloop.first == true  %}
                        {{variantis.compare_at_price | minus : variantis.price  | money}}
                        {% endif %}
                        {% endfor %} OFF</p>--->
                  </div>
                  <div class="data-settings">
   
   
   
                    
   {% for variant in prod.variants %}
                     {% if forloop.first == true  %}
   
             {% if section.settings.img02  %}
       

               {{ section.settings.img02 | image_url: width: 3840 | image_tag:
                  loading: 'lazy',
                  height: '50',
                  sizes: "100vw",
              class: 'css-class-1 css-class-2',
              format: 'webp',
                  widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                }}
                {% else %}
     {{ variant.metafields.custom.usa_image | image_url: width: 3840 | image_tag:
      loading: 'lazy',
      height: '50',
      sizes: "100vw",
  class: 'css-class-1 css-class-2',
  format: 'webp',
      widths: '100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
    }}
             {% endif %}

           
                       {% endif %}
                    {% endfor %}
   
   <!--                 <p class="offer-mode 3">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M12 2.25C6.615 2.25 2.25 6.615 2.25 12C2.25 17.385 6.615 21.75 12 21.75C17.385 21.75 21.75 17.385 21.75 12C21.75 6.615 17.385 2.25 12 2.25ZM8.14078 7.60969L13.0627 10.9378C13.3876 11.1718 13.6073 11.5243 13.6743 11.919C13.7413 12.3138 13.6502 12.719 13.4207 13.0471C13.1913 13.3752 12.8418 13.5998 12.4481 13.6723C12.0543 13.7447 11.6478 13.6593 11.3166 13.4344C11.171 13.3317 11.0442 13.2049 10.9416 13.0594L7.61344 8.1375C7.56221 8.06411 7.53844 7.97503 7.54631 7.88588C7.55417 7.79672 7.59316 7.71318 7.65645 7.64989C7.71974 7.5866 7.80328 7.54761 7.89244 7.53974C7.98159 7.53188 8.07067 7.55564 8.14406 7.60687L8.14078 7.60969ZM12 20.25C7.45312 20.25 3.75 16.5492 3.75 12C3.74614 10.8904 3.968 9.79163 4.4021 8.77048C4.83621 7.74933 5.47348 6.82714 6.27516 6.06C6.3375 5.99784 6.4116 5.94872 6.49312 5.9155C6.57465 5.88227 6.66197 5.86561 6.75 5.86648C6.83804 5.86735 6.92501 5.88574 7.00587 5.92057C7.08672 5.9554 7.15983 6.00598 7.22093 6.06935C7.28204 6.13273 7.32992 6.20764 7.36177 6.28971C7.39363 6.37178 7.40883 6.45937 7.40649 6.54737C7.40415 6.63538 7.38431 6.72203 7.34814 6.80229C7.31196 6.88255 7.26017 6.95481 7.19578 7.01484C6.52306 7.65874 5.98829 8.4327 5.62398 9.28969C5.25967 10.1467 5.07342 11.0688 5.07656 12C5.07656 15.8175 8.1825 18.9234 12 18.9234C15.8175 18.9234 18.9234 15.8175 18.9234 12C18.9234 8.40609 16.1709 5.44313 12.6633 5.10938V7.6875C12.6633 7.86341 12.5934 8.03212 12.469 8.15651C12.3446 8.2809 12.1759 8.35078 12 8.35078C11.8241 8.35078 11.6554 8.2809 11.531 8.15651C11.4066 8.03212 11.3367 7.86341 11.3367 7.6875V4.41328C11.3367 4.23737 11.4066 4.06866 11.531 3.94427C11.6554 3.81988 11.8241 3.75 12 3.75C16.5492 3.75 20.25 7.45312 20.25 12C20.25 16.5469 16.5492 20.25 12 20.25Z" fill="white"/>
                        </svg>
                        Offer ends in <span class="countdown">48:00:06</span>
                     </p> -->
                     <h5> Everyday Bundle</h5>
                     <h6>5 x {{ prodsingle.title }} - WiFi </h6>
                     {% for variantis in prod.variants %}
                     {% if forloop.first == true  %}
                     <h2 class="money"><span class="money">{{variantis.price | money }}</span></h2>
                     <p class="sale---price"><span class="money">{{variantis.compare_at_price | money }}</span>
                     {% assign amount = 0 %}
   
              {% assign saving = variantis.compare_at_price | minus: variantis.price %}
         {% assign amount = saving | at_least: amount %}
   
               {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
   
             
            <span class="money1"> {{ saved_amount }} Off</span>  
                     </p>
                     {% endif %}
                     {% endfor %}
                     <p class="shipday">Ships on the next business day.</p>
                     <div class="star--rating">
                        <div class="star--s">
                           <div class="loox-rating" data-id="{{ prod.id }}" data-rating="{{ prod.metafields.loox.avg_rating }}" data-raters="{{ prod.metafields.loox.num_reviews }}"></div>
                        </div>
                        <div class="rating--nmbrs">{{ section.settings.sub_info_text2 }} </div>
                     </div>
           
                
   
                                         {% comment %} new added snippets  {% endcomment %}
   
   
                                         {%- assign product_form_id_one_two = 'product-form-' | append: section.settings.wireless5x  -%}
                                         <div class="buy_now_custom">
                                             <div class="buynow-btn tab--selction">
                                                <div class="number">
                                                  <span class="minus">-</span>
                                                  <input aria-label="Quantity" name="quantity" type="text" id="Quantity-{{ section.settings.wireless5x  }}" form="{{ product_form_id_one_two }}" value="1"/>
                                                 <span class="plus">+</span></div>
                                           <button class="2x" proid="{{ section.settings.wireless5x  }}">PRE-ORDER</button>
                                         </div>
                                             <product-form class="product-form">
                                                           {%- form 'product', product, id: product_form_id_one_two, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                                             <input type="hidden" name="id" value="{{ section.settings.wireless5x  }}" disabled>
                                                             <div class="product-form__buttons">
                                                               <button
                                                                 type="submit"
                                                                 name="add"
                                                                 class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                                               {% if section.settings.fourg1x.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                                               >
                                                                   <span>
                                                                     {%- if section.settings.fourg1x.selected_or_first_available_variant.available -%}
                                                                       Take Advantage
                                                                     {%- else -%}
                                                                      Take Advantage
                                                                     {%- endif -%}
                                                                   </span>
                                                                   <div class="loading-overlay__spinner hidden">
                                                                     <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                                       <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                                     </svg>
                                                                   </div>
                                                               </button>
                                                             </div>
                                                           {%- endform -%}
                                           </product-form>
                                         </div>
                                         {% comment %} new added snippets End {% endcomment %}
            
   
   
                     
                     <div class="money_guarantee">
                        <div class="left_side">
                           <span class="icon">
                              <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.25 0C1.65326 0 1.08097 0.237053 0.65901 0.65901C0.237053 1.08097 0 1.65326 0 2.25V17.75C0 18.3467 0.237053 18.919 0.65901 19.341C1.08097 19.7629 1.65326 20 2.25 20H9.75C10.3431 20 10.9123 19.7659 11.3336 19.3484C11.755 18.931 11.9945 18.3641 12 17.771V16.251C12 16.0521 11.921 15.8613 11.7803 15.7207C11.6397 15.58 11.4489 15.501 11.25 15.501C10.796 15.501 10.51 15.378 10.313 15.219C10.105 15.052 9.933 14.794 9.803 14.43C9.53 13.675 9.5 12.68 9.5 11.75C9.49999 11.5599 9.42779 11.3769 9.298 11.238L9.134 11.061C9.08007 11.0007 9.02334 10.943 8.964 10.888C8.89 10.818 8.664 10.603 7.78 9.72C7.312 9.251 7.052 8.855 6.967 8.552C6.93292 8.44698 6.92773 8.33472 6.952 8.227C6.98931 8.10276 7.05985 7.99107 7.156 7.904C7.24273 7.80792 7.35408 7.73738 7.478 7.7C7.58547 7.67609 7.69741 7.68162 7.802 7.716C8.105 7.801 8.501 8.062 8.97 8.531C9.51 9.071 10.022 9.577 10.481 10.031C11.241 10.783 11.855 11.391 12.201 11.761C12.3367 11.9066 12.5246 11.9924 12.7235 11.9994C12.9224 12.0064 13.1159 11.9342 13.2615 11.7985C13.4071 11.6628 13.4929 11.4749 13.4999 11.276C13.5069 11.0771 13.4347 10.8836 13.299 10.738C12.873 10.2928 12.4396 9.85472 11.999 9.424V6.06L14.841 8.902C15.263 9.324 15.5 9.896 15.5 10.492V19.25C15.5 19.4489 15.579 19.6397 15.7197 19.7803C15.8603 19.921 16.0511 20 16.25 20C16.4489 20 16.6397 19.921 16.7803 19.7803C16.921 19.6397 17 19.4489 17 19.25V10.493C17.0001 10.0005 16.9032 9.51282 16.7148 9.05779C16.5264 8.60276 16.2502 8.18929 15.902 7.841L12 3.939V2.249C11.9997 1.65244 11.7626 1.0804 11.3406 0.658656C10.9187 0.236916 10.3466 -5.89199e-08 9.75 0H2.25ZM8.392 14.94C8.488 15.208 8.613 15.474 8.775 15.722C8.39306 15.9056 8.07074 16.1934 7.84518 16.5522C7.61961 16.911 7.49996 17.3262 7.5 17.75V18.5H4.5V17.75C4.5 17.1533 4.26295 16.581 3.84099 16.159C3.41903 15.7371 2.84674 15.5 2.25 15.5H1.5V4.5H2.25C2.84674 4.5 3.41903 4.26295 3.84099 3.84099C4.26295 3.41903 4.5 2.84674 4.5 2.25V1.5H7.5V2.25C7.5 2.84674 7.73705 3.41903 8.15901 3.84099C8.58097 4.26295 9.15326 4.5 9.75 4.5H10.5V7.938L10.03 7.47C9.5 6.939 8.882 6.462 8.21 6.272C7.85077 6.16562 7.46967 6.15699 7.106 6.247C6.88038 6.30545 6.66633 6.40182 6.473 6.532C5.90762 6.45488 5.33196 6.51717 4.79617 6.71342C4.26037 6.90968 3.78068 7.23397 3.39888 7.65803C3.01708 8.08209 2.74476 8.59307 2.60562 9.14646C2.46648 9.69985 2.46476 10.2789 2.60059 10.8331C2.73643 11.3873 3.0057 11.8999 3.38497 12.3262C3.76423 12.7525 4.24198 13.0797 4.7766 13.2791C5.31122 13.4786 5.88649 13.5443 6.45232 13.4705C7.01815 13.3968 7.55736 13.1858 8.023 12.856C8.061 13.54 8.154 14.283 8.392 14.94ZM4 10C3.99985 9.56447 4.14187 9.1408 4.40449 8.79335C4.6671 8.44591 5.03595 8.19368 5.455 8.075C5.41644 8.37087 5.43959 8.67152 5.523 8.958C5.713 9.631 6.188 10.249 6.72 10.781L7.385 11.443C7.10214 11.7145 6.7457 11.8969 6.36001 11.9675C5.97432 12.0381 5.57639 11.9937 5.2157 11.84C4.85502 11.6862 4.54748 11.4298 4.33133 11.1027C4.11519 10.7755 3.99997 10.3921 4 10ZM1.5 2.25C1.5 2.05109 1.57902 1.86032 1.71967 1.71967C1.86032 1.57902 2.05109 1.5 2.25 1.5H3V2.25C3 2.44891 2.92098 2.63968 2.78033 2.78033C2.63968 2.92098 2.44891 3 2.25 3H1.5V2.25ZM9 1.5H9.75C9.94891 1.5 10.1397 1.57902 10.2803 1.71967C10.421 1.86032 10.5 2.05109 10.5 2.25V3H9.75C9.55109 3 9.36032 2.92098 9.21967 2.78033C9.07902 2.63968 9 2.44891 9 2.25V1.5ZM10.5 17V17.75C10.5 17.9489 10.421 18.1397 10.2803 18.2803C10.1397 18.421 9.94891 18.5 9.75 18.5H9V17.75C9 17.5511 9.07902 17.3603 9.21967 17.2197C9.36032 17.079 9.55109 17 9.75 17H10.5ZM3 18.5H2.25C2.05109 18.5 1.86032 18.421 1.71967 18.2803C1.57902 18.1397 1.5 17.9489 1.5 17.75V17H2.25C2.44891 17 2.63968 17.079 2.78033 17.2197C2.92098 17.3603 3 17.5511 3 17.75V18.5Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                        </div>
                        <div class="right_side">
                           <span class="icon">
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M10.6761 20.197L12.3461 19.029C14.4812 17.5344 16.1338 15.4493 17.1013 13.0293C18.0688 10.6093 18.3093 7.95961 17.7931 5.405C17.7676 5.27911 17.7135 5.16078 17.635 5.05916C17.5564 4.95755 17.4555 4.87537 17.3401 4.819L9.52913 1L1.71913 4.819C1.60354 4.87525 1.50245 4.95738 1.42372 5.059C1.34499 5.16062 1.29072 5.27902 1.26513 5.405C0.749111 7.9597 0.989703 10.6095 1.95741 13.0294C2.92512 15.4494 4.5779 17.5345 6.71313 19.029L8.38313 20.197C8.71921 20.4321 9.11946 20.5582 9.52963 20.5582C9.9398 20.5582 10.34 20.4321 10.6761 20.197V20.197Z" stroke="#086FB5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M9.28573 14V10.2C9.28573 10.0267 9.28573 9.85 9.28573 9.67C9.2924 9.48333 9.29573 9.29333 9.29573 9.1C9.07573 9.3 8.8324 9.47667 8.56573 9.63C8.29907 9.77667 8.01907 9.87667 7.72573 9.93L7.56573 8.51C7.73907 8.49667 7.9224 8.45333 8.11573 8.38C8.31573 8.30667 8.5124 8.21667 8.70573 8.11C8.89907 8.00333 9.0724 7.89 9.22573 7.77C9.37907 7.64333 9.49573 7.52 9.57573 7.4H10.9457V14H9.28573Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">FREE 1 YEAR WARRANTY</span>
                        </div>
                                   {% if template contains 'camera-v3s' %}
                                   <div class="left_side Unbeatable-Battery ">
                           <span class="icon">
                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M6.45703 18.3332C6.27995 18.3332 6.13151 18.2733 6.01172 18.1535C5.89193 18.0337 5.83203 17.8853 5.83203 17.7082V3.62484C5.83203 3.44775 5.89193 3.29932 6.01172 3.17952C6.13151 3.05973 6.27995 2.99984 6.45703 2.99984H8.33203V1.6665H11.6654V2.99984H13.5404C13.7174 2.99984 13.8659 3.05973 13.9857 3.17952C14.1055 3.29932 14.1654 3.44775 14.1654 3.62484V17.7082C14.1654 17.8853 14.1055 18.0337 13.9857 18.1535C13.8659 18.2733 13.7174 18.3332 13.5404 18.3332H6.45703ZM7.08203 9.74984H12.9154V4.24984H7.08203V9.74984Z" fill="#086FB5"/>
   </svg>
   
                           </span>
                           <span class="text">Unbeatable Battery </span>
                        </div>
                                   <div class="right_side only-wifi ">
                           <span class="icon">
                              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M2.70703 14.979H3.95703V13.729H2.70703V14.979ZM2.70703 11.729H3.95703V8.27067H2.70703V11.729ZM6.33203 14.979H7.58203V11.4373H6.33203V14.979ZM6.33203 9.52067H7.58203V8.27067H6.33203V9.52067ZM10.1237 14.979H11.3737V13.729H10.1237V14.979ZM10.1237 11.729H11.3737V8.27067H10.1237V11.729ZM1.58203 17.3332C1.2487 17.3332 0.957031 17.2082 0.707031 16.9582C0.457031 16.7082 0.332031 16.4165 0.332031 16.0832V5.64567L5.3112 0.666504H12.4154C12.7487 0.666504 13.0404 0.791504 13.2904 1.0415C13.5404 1.2915 13.6654 1.58317 13.6654 1.9165V16.0832C13.6654 16.4165 13.5404 16.7082 13.2904 16.9582C13.0404 17.2082 12.7487 17.3332 12.4154 17.3332H1.58203ZM1.58203 16.0832H12.4154V1.9165H5.8737L1.58203 6.21077V16.0832Z" fill="#086FB5"/>
                               </svg>
                           </span>
                           <span class="text">Free {{ cntry }} Sim Card</span>
                        </div>
                                   {% endif %}
                     </div>
                     <!-- <p class="offer-mode 4">Offer ends in <span class="countdown">11:00:06</span></p>
                        <p class="getoff">{% for variantis in prod.variants %}
                              {% if forloop.last == true  %}
                             {{variantis.compare_at_price | minus : variantis.price  | money}}
                              {% endif %}
                              {% endfor %} OFF</p>--->
                  </div>
               </div>
               <div class="tab--data  g4g">
                  <div class="data-settings">
                    
         
                     {% for variant in prodsingle.variants %}
              
                        {% if forloop.first == true  %}
                        {% if section.settings.img03  %}
                           
                           
                       <img  loading="lazy" src="{{ section.settings.img03 | img_url:'' }}"  alt="proudct iamge">
                      
                           {% else %}
                        <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300" alt="product image">
                        {% endif %}
                        {% endif %}
                                      
                     
                        
                     
                             
                                      {% endfor %}
                                      
                    <p class="offer-mode 5">
                        Almost Sold Out
                     </p>
                     <h5> Starter Package</h5>
                     <h6>1 x {{ prodsingle.title }} - 4G Edition</h6>
                     {% for variantis in prodsingle.variants %}
                     {% if forloop.last == true  %}
                     <h2 class="money"><span class="money">{{variantis.price | money }}</span></h2>
                     <p class="sale---price "><span class="money">{{variantis.compare_at_price | money }}</span>
                     {% assign amount = 0 %}
   
              {% assign saving = variantis.compare_at_price | minus: variantis.price %}
         {% assign amount = saving | at_least: amount %}
   
               {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
   
             
            <span class="money1"> {{ saved_amount }} Off</span>
                     </p>
                     {% endif %}
                     {% endfor %}
                     <p class="shipday">Ships on the next business day.</p>
                     <div class="star--rating">
                        <div class="star--s">
                           <div class="loox-rating" data-id="{{ prodsingle.id }}" data-rating="{{ prodsingle.metafields.loox.avg_rating }}" data-raters="{{ prodsingle.metafields.loox.num_reviews }}"></div>
                        </div>
                        <div class="rating--nmbrs">{{ section.settings.sub_info_text3 }}</div>
                     </div>
   
   
   
   
   
   <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
                    {% comment %} new added snippets  {% endcomment %}
   
   
                         {%- assign product_form_id_one = 'product-form-' | append: section.settings.fourg1x -%}
                         <div class="buy_now_custom">
                             <div class="buynow-btn tab--selction">
                                <div class="number">
                                  <span class="minus">-</span>
                                  <input aria-label="Quantity" name="quantity" type="text" id="Quantity-{{ section.settings.fourg1x }}" form="{{ product_form_id_one }}" value="1"/>
                                 <span class="plus">+</span></div>
                           <button class="2x" proid="{{ section.settings.fourg1x }}">PRE-ORDER</button>






                           
                         </div>
                             <product-form class="product-form">
                                           {%- form 'product', product, id: product_form_id_one, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                             <input type="hidden" name="id" value="{{ section.settings.fourg1x }}" disabled>
                                             <div class="product-form__buttons">
                                               <button
                                                 type="submit"
                                                 name="add"
                                                 class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                               {% if section.settings.fourg1x.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                               >
                                                   <span>
                                                     {%- if section.settings.fourg1x.selected_or_first_available_variant.available -%}
                                                       Take Advantage
                                                     {%- else -%}
                                                      Take Advantage
                                                     {%- endif -%}
                                                   </span>
                                                   <div class="loading-overlay__spinner hidden">
                                                     <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                       <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                     </svg>
                                                   </div>
                                               </button>
                                             </div>
                                           {%- endform -%}
                           </product-form>
                         </div>
                         {% comment %} new added snippets End {% endcomment %}
   <style>
   
     .buynow-btn {
       
       padding-bottom: 0 !important;
   }
   </style>
   
   
   
                     <div class="money_guarantee">
                        <div class="left_side">
                           <span class="icon">
                              <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.25 0C1.65326 0 1.08097 0.237053 0.65901 0.65901C0.237053 1.08097 0 1.65326 0 2.25V17.75C0 18.3467 0.237053 18.919 0.65901 19.341C1.08097 19.7629 1.65326 20 2.25 20H9.75C10.3431 20 10.9123 19.7659 11.3336 19.3484C11.755 18.931 11.9945 18.3641 12 17.771V16.251C12 16.0521 11.921 15.8613 11.7803 15.7207C11.6397 15.58 11.4489 15.501 11.25 15.501C10.796 15.501 10.51 15.378 10.313 15.219C10.105 15.052 9.933 14.794 9.803 14.43C9.53 13.675 9.5 12.68 9.5 11.75C9.49999 11.5599 9.42779 11.3769 9.298 11.238L9.134 11.061C9.08007 11.0007 9.02334 10.943 8.964 10.888C8.89 10.818 8.664 10.603 7.78 9.72C7.312 9.251 7.052 8.855 6.967 8.552C6.93292 8.44698 6.92773 8.33472 6.952 8.227C6.98931 8.10276 7.05985 7.99107 7.156 7.904C7.24273 7.80792 7.35408 7.73738 7.478 7.7C7.58547 7.67609 7.69741 7.68162 7.802 7.716C8.105 7.801 8.501 8.062 8.97 8.531C9.51 9.071 10.022 9.577 10.481 10.031C11.241 10.783 11.855 11.391 12.201 11.761C12.3367 11.9066 12.5246 11.9924 12.7235 11.9994C12.9224 12.0064 13.1159 11.9342 13.2615 11.7985C13.4071 11.6628 13.4929 11.4749 13.4999 11.276C13.5069 11.0771 13.4347 10.8836 13.299 10.738C12.873 10.2928 12.4396 9.85472 11.999 9.424V6.06L14.841 8.902C15.263 9.324 15.5 9.896 15.5 10.492V19.25C15.5 19.4489 15.579 19.6397 15.7197 19.7803C15.8603 19.921 16.0511 20 16.25 20C16.4489 20 16.6397 19.921 16.7803 19.7803C16.921 19.6397 17 19.4489 17 19.25V10.493C17.0001 10.0005 16.9032 9.51282 16.7148 9.05779C16.5264 8.60276 16.2502 8.18929 15.902 7.841L12 3.939V2.249C11.9997 1.65244 11.7626 1.0804 11.3406 0.658656C10.9187 0.236916 10.3466 -5.89199e-08 9.75 0H2.25ZM8.392 14.94C8.488 15.208 8.613 15.474 8.775 15.722C8.39306 15.9056 8.07074 16.1934 7.84518 16.5522C7.61961 16.911 7.49996 17.3262 7.5 17.75V18.5H4.5V17.75C4.5 17.1533 4.26295 16.581 3.84099 16.159C3.41903 15.7371 2.84674 15.5 2.25 15.5H1.5V4.5H2.25C2.84674 4.5 3.41903 4.26295 3.84099 3.84099C4.26295 3.41903 4.5 2.84674 4.5 2.25V1.5H7.5V2.25C7.5 2.84674 7.73705 3.41903 8.15901 3.84099C8.58097 4.26295 9.15326 4.5 9.75 4.5H10.5V7.938L10.03 7.47C9.5 6.939 8.882 6.462 8.21 6.272C7.85077 6.16562 7.46967 6.15699 7.106 6.247C6.88038 6.30545 6.66633 6.40182 6.473 6.532C5.90762 6.45488 5.33196 6.51717 4.79617 6.71342C4.26037 6.90968 3.78068 7.23397 3.39888 7.65803C3.01708 8.08209 2.74476 8.59307 2.60562 9.14646C2.46648 9.69985 2.46476 10.2789 2.60059 10.8331C2.73643 11.3873 3.0057 11.8999 3.38497 12.3262C3.76423 12.7525 4.24198 13.0797 4.7766 13.2791C5.31122 13.4786 5.88649 13.5443 6.45232 13.4705C7.01815 13.3968 7.55736 13.1858 8.023 12.856C8.061 13.54 8.154 14.283 8.392 14.94ZM4 10C3.99985 9.56447 4.14187 9.1408 4.40449 8.79335C4.6671 8.44591 5.03595 8.19368 5.455 8.075C5.41644 8.37087 5.43959 8.67152 5.523 8.958C5.713 9.631 6.188 10.249 6.72 10.781L7.385 11.443C7.10214 11.7145 6.7457 11.8969 6.36001 11.9675C5.97432 12.0381 5.57639 11.9937 5.2157 11.84C4.85502 11.6862 4.54748 11.4298 4.33133 11.1027C4.11519 10.7755 3.99997 10.3921 4 10ZM1.5 2.25C1.5 2.05109 1.57902 1.86032 1.71967 1.71967C1.86032 1.57902 2.05109 1.5 2.25 1.5H3V2.25C3 2.44891 2.92098 2.63968 2.78033 2.78033C2.63968 2.92098 2.44891 3 2.25 3H1.5V2.25ZM9 1.5H9.75C9.94891 1.5 10.1397 1.57902 10.2803 1.71967C10.421 1.86032 10.5 2.05109 10.5 2.25V3H9.75C9.55109 3 9.36032 2.92098 9.21967 2.78033C9.07902 2.63968 9 2.44891 9 2.25V1.5ZM10.5 17V17.75C10.5 17.9489 10.421 18.1397 10.2803 18.2803C10.1397 18.421 9.94891 18.5 9.75 18.5H9V17.75C9 17.5511 9.07902 17.3603 9.21967 17.2197C9.36032 17.079 9.55109 17 9.75 17H10.5ZM3 18.5H2.25C2.05109 18.5 1.86032 18.421 1.71967 18.2803C1.57902 18.1397 1.5 17.9489 1.5 17.75V17H2.25C2.44891 17 2.63968 17.079 2.78033 17.2197C2.92098 17.3603 3 17.5511 3 17.75V18.5Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                        </div>
                        <div class="right_side">
                           <span class="icon">
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M10.6761 20.197L12.3461 19.029C14.4812 17.5344 16.1338 15.4493 17.1013 13.0293C18.0688 10.6093 18.3093 7.95961 17.7931 5.405C17.7676 5.27911 17.7135 5.16078 17.635 5.05916C17.5564 4.95755 17.4555 4.87537 17.3401 4.819L9.52913 1L1.71913 4.819C1.60354 4.87525 1.50245 4.95738 1.42372 5.059C1.34499 5.16062 1.29072 5.27902 1.26513 5.405C0.749111 7.9597 0.989703 10.6095 1.95741 13.0294C2.92512 15.4494 4.5779 17.5345 6.71313 19.029L8.38313 20.197C8.71921 20.4321 9.11946 20.5582 9.52963 20.5582C9.9398 20.5582 10.34 20.4321 10.6761 20.197V20.197Z" stroke="#086FB5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M9.28573 14V10.2C9.28573 10.0267 9.28573 9.85 9.28573 9.67C9.2924 9.48333 9.29573 9.29333 9.29573 9.1C9.07573 9.3 8.8324 9.47667 8.56573 9.63C8.29907 9.77667 8.01907 9.87667 7.72573 9.93L7.56573 8.51C7.73907 8.49667 7.9224 8.45333 8.11573 8.38C8.31573 8.30667 8.5124 8.21667 8.70573 8.11C8.89907 8.00333 9.0724 7.89 9.22573 7.77C9.37907 7.64333 9.49573 7.52 9.57573 7.4H10.9457V14H9.28573Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">FREE 1 YEAR WARRANTY</span>
                        </div>
                                   {% if template contains 'camera-v3s' %}
                                   <div class="left_side Unbeatable-Battery ">
                           <span class="icon">
                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M6.45703 18.3332C6.27995 18.3332 6.13151 18.2733 6.01172 18.1535C5.89193 18.0337 5.83203 17.8853 5.83203 17.7082V3.62484C5.83203 3.44775 5.89193 3.29932 6.01172 3.17952C6.13151 3.05973 6.27995 2.99984 6.45703 2.99984H8.33203V1.6665H11.6654V2.99984H13.5404C13.7174 2.99984 13.8659 3.05973 13.9857 3.17952C14.1055 3.29932 14.1654 3.44775 14.1654 3.62484V17.7082C14.1654 17.8853 14.1055 18.0337 13.9857 18.1535C13.8659 18.2733 13.7174 18.3332 13.5404 18.3332H6.45703ZM7.08203 9.74984H12.9154V4.24984H7.08203V9.74984Z" fill="#086FB5"/>
   </svg>
   
                           </span>
                           <span class="text">Unbeatable Battery </span>
                        </div>
                                   <div class="right_side ">
                           <span class="icon">
                              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M2.70703 14.979H3.95703V13.729H2.70703V14.979ZM2.70703 11.729H3.95703V8.27067H2.70703V11.729ZM6.33203 14.979H7.58203V11.4373H6.33203V14.979ZM6.33203 9.52067H7.58203V8.27067H6.33203V9.52067ZM10.1237 14.979H11.3737V13.729H10.1237V14.979ZM10.1237 11.729H11.3737V8.27067H10.1237V11.729ZM1.58203 17.3332C1.2487 17.3332 0.957031 17.2082 0.707031 16.9582C0.457031 16.7082 0.332031 16.4165 0.332031 16.0832V5.64567L5.3112 0.666504H12.4154C12.7487 0.666504 13.0404 0.791504 13.2904 1.0415C13.5404 1.2915 13.6654 1.58317 13.6654 1.9165V16.0832C13.6654 16.4165 13.5404 16.7082 13.2904 16.9582C13.0404 17.2082 12.7487 17.3332 12.4154 17.3332H1.58203ZM1.58203 16.0832H12.4154V1.9165H5.8737L1.58203 6.21077V16.0832Z" fill="#086FB5"/>
                               </svg>
                           </span>
                           <span class="text">Free {{ cntry }} Sim Card</span>
                        </div>
                                   {% endif %}
                     </div>
                     <!--<p class="offer-mode 6">Offer ends in <span class="countdown">48:00:06</span></p>
                        <p class="getoff"> {% for variantis in prodsingle.variants %}
                              {% if forloop.last == true  %}
                             {{variantis.compare_at_price | minus : variantis.price  | money}}
                              {% endif %}
                              {% endfor %} OFF</p>--->
                  </div>
                  <div class="data-settings">
                    
   {% for variant in prod.variants %}
   {% if forloop.last == true  %}
   



      {% if section.settings.img04 %}
         <img src="{{section.settings.img04 | img_url:'master' }}" alt="proudct" >
          {% else %}
          
     <img  loading="lazy" src="{{ variant.metafields.custom.usa_image }}" ssrc="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/tabnew112.png?v=1652814300">
       {% endif %}
                    

      
   
           
                       {% endif %}
                    {% endfor %}<p class="offer-mode 7">
                        Almost Sold Out
                     </p>
                     <h5> Everyday Bundle</h5>
                     <h6>5 x {{ prodsingle.title }} - 4G Edition</h6>
                     {% for variantis in prod.variants %}
                     {% if forloop.last == true  %}
                     <h2 class="money"><span class="money">{{variantis.price | money }}</span></h2>
                     <p class="sale---price  "><span class="money">{{variantis.compare_at_price | money }}</span>
                     {% assign amount = 0 %}
   
              {% assign saving = variantis.compare_at_price | minus: variantis.price %}
         {% assign amount = saving | at_least: amount %}
   
               {% capture saved_amount %}{{ amount | money_without_trailing_zeros }}{% endcapture %}
   
             
            <span class="money1"> {{ saved_amount }} Off</span>
                     </p>
                     {% endif %}
                     {% endfor %}
                     <p class="shipday">Ships on the next business day.</p>
                     <div class="star--rating">
                        <div class="star--s">
                           <div class="loox-rating" data-id="{{ prod.id }}" data-rating="{{ prod.metafields.loox.avg_rating }}" data-raters="{{ prod.metafields.loox.num_reviews }}"></div>
                        </div>
                        <div class="rating--nmbrs">{{ section.settings.sub_info_text4 }}</div>
                     </div>

                        
       {% comment %} new added snippets  {% endcomment %}
   
   
       {%- assign product_form_id_two_05 = 'product-form-' | append: section.settings.fourg5x -%}
       <div class="buy_now_custom">
           <div class="buynow-btn tab--selction">
              <div class="number">
                <span class="minus">-</span>
                <input aria-label="Quantity" name="quantity" type="text" id="Quantity-{{ section.settings.fourg5x }}" form="{{ product_form_id_two_05 }}" value="1"/>
               <span class="plus">+</span></div>
         <button class="2x" proid="{{ section.settings.fourg5x }}">PRE-ORDER</button>
       </div>
           <product-form class="product-form">
                         {%- form 'product', product, id: product_form_id_two_05, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                           <input type="hidden" name="id" value="{{ section.settings.fourg5x }}" disabled>
                           <div class="product-form__buttons">
                             <button
                               type="submit"
                               name="add"
                               class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                             {% if section.settings.fourg5x.selected_or_first_available_variant.available == false %}disabled{% endif %}
                             >
                                 <span>
                                   {%- if section.settings.fourg5x.selected_or_first_available_variant.available -%}
                                     Take Advantage
                                   {%- else -%}
                                    Take Advantage
                                   {%- endif -%}
                                 </span>
                                 <div class="loading-overlay__spinner hidden">
                                   <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                     <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                   </svg>
                                 </div>
                             </button>
                           </div>
                         {%- endform -%}
         </product-form>
       </div>
       {% comment %} new added snippets End {% endcomment %}
                     <div class="money_guarantee">
                        <div class="left_side">
                           <span class="icon">
                              <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.25 0C1.65326 0 1.08097 0.237053 0.65901 0.65901C0.237053 1.08097 0 1.65326 0 2.25V17.75C0 18.3467 0.237053 18.919 0.65901 19.341C1.08097 19.7629 1.65326 20 2.25 20H9.75C10.3431 20 10.9123 19.7659 11.3336 19.3484C11.755 18.931 11.9945 18.3641 12 17.771V16.251C12 16.0521 11.921 15.8613 11.7803 15.7207C11.6397 15.58 11.4489 15.501 11.25 15.501C10.796 15.501 10.51 15.378 10.313 15.219C10.105 15.052 9.933 14.794 9.803 14.43C9.53 13.675 9.5 12.68 9.5 11.75C9.49999 11.5599 9.42779 11.3769 9.298 11.238L9.134 11.061C9.08007 11.0007 9.02334 10.943 8.964 10.888C8.89 10.818 8.664 10.603 7.78 9.72C7.312 9.251 7.052 8.855 6.967 8.552C6.93292 8.44698 6.92773 8.33472 6.952 8.227C6.98931 8.10276 7.05985 7.99107 7.156 7.904C7.24273 7.80792 7.35408 7.73738 7.478 7.7C7.58547 7.67609 7.69741 7.68162 7.802 7.716C8.105 7.801 8.501 8.062 8.97 8.531C9.51 9.071 10.022 9.577 10.481 10.031C11.241 10.783 11.855 11.391 12.201 11.761C12.3367 11.9066 12.5246 11.9924 12.7235 11.9994C12.9224 12.0064 13.1159 11.9342 13.2615 11.7985C13.4071 11.6628 13.4929 11.4749 13.4999 11.276C13.5069 11.0771 13.4347 10.8836 13.299 10.738C12.873 10.2928 12.4396 9.85472 11.999 9.424V6.06L14.841 8.902C15.263 9.324 15.5 9.896 15.5 10.492V19.25C15.5 19.4489 15.579 19.6397 15.7197 19.7803C15.8603 19.921 16.0511 20 16.25 20C16.4489 20 16.6397 19.921 16.7803 19.7803C16.921 19.6397 17 19.4489 17 19.25V10.493C17.0001 10.0005 16.9032 9.51282 16.7148 9.05779C16.5264 8.60276 16.2502 8.18929 15.902 7.841L12 3.939V2.249C11.9997 1.65244 11.7626 1.0804 11.3406 0.658656C10.9187 0.236916 10.3466 -5.89199e-08 9.75 0H2.25ZM8.392 14.94C8.488 15.208 8.613 15.474 8.775 15.722C8.39306 15.9056 8.07074 16.1934 7.84518 16.5522C7.61961 16.911 7.49996 17.3262 7.5 17.75V18.5H4.5V17.75C4.5 17.1533 4.26295 16.581 3.84099 16.159C3.41903 15.7371 2.84674 15.5 2.25 15.5H1.5V4.5H2.25C2.84674 4.5 3.41903 4.26295 3.84099 3.84099C4.26295 3.41903 4.5 2.84674 4.5 2.25V1.5H7.5V2.25C7.5 2.84674 7.73705 3.41903 8.15901 3.84099C8.58097 4.26295 9.15326 4.5 9.75 4.5H10.5V7.938L10.03 7.47C9.5 6.939 8.882 6.462 8.21 6.272C7.85077 6.16562 7.46967 6.15699 7.106 6.247C6.88038 6.30545 6.66633 6.40182 6.473 6.532C5.90762 6.45488 5.33196 6.51717 4.79617 6.71342C4.26037 6.90968 3.78068 7.23397 3.39888 7.65803C3.01708 8.08209 2.74476 8.59307 2.60562 9.14646C2.46648 9.69985 2.46476 10.2789 2.60059 10.8331C2.73643 11.3873 3.0057 11.8999 3.38497 12.3262C3.76423 12.7525 4.24198 13.0797 4.7766 13.2791C5.31122 13.4786 5.88649 13.5443 6.45232 13.4705C7.01815 13.3968 7.55736 13.1858 8.023 12.856C8.061 13.54 8.154 14.283 8.392 14.94ZM4 10C3.99985 9.56447 4.14187 9.1408 4.40449 8.79335C4.6671 8.44591 5.03595 8.19368 5.455 8.075C5.41644 8.37087 5.43959 8.67152 5.523 8.958C5.713 9.631 6.188 10.249 6.72 10.781L7.385 11.443C7.10214 11.7145 6.7457 11.8969 6.36001 11.9675C5.97432 12.0381 5.57639 11.9937 5.2157 11.84C4.85502 11.6862 4.54748 11.4298 4.33133 11.1027C4.11519 10.7755 3.99997 10.3921 4 10ZM1.5 2.25C1.5 2.05109 1.57902 1.86032 1.71967 1.71967C1.86032 1.57902 2.05109 1.5 2.25 1.5H3V2.25C3 2.44891 2.92098 2.63968 2.78033 2.78033C2.63968 2.92098 2.44891 3 2.25 3H1.5V2.25ZM9 1.5H9.75C9.94891 1.5 10.1397 1.57902 10.2803 1.71967C10.421 1.86032 10.5 2.05109 10.5 2.25V3H9.75C9.55109 3 9.36032 2.92098 9.21967 2.78033C9.07902 2.63968 9 2.44891 9 2.25V1.5ZM10.5 17V17.75C10.5 17.9489 10.421 18.1397 10.2803 18.2803C10.1397 18.421 9.94891 18.5 9.75 18.5H9V17.75C9 17.5511 9.07902 17.3603 9.21967 17.2197C9.36032 17.079 9.55109 17 9.75 17H10.5ZM3 18.5H2.25C2.05109 18.5 1.86032 18.421 1.71967 18.2803C1.57902 18.1397 1.5 17.9489 1.5 17.75V17H2.25C2.44891 17 2.63968 17.079 2.78033 17.2197C2.92098 17.3603 3 17.5511 3 17.75V18.5Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">30 DAYS MONEY BACK GUARANTEE</span>
                        </div>
                        <div class="right_side">
                           <span class="icon">
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M10.6761 20.197L12.3461 19.029C14.4812 17.5344 16.1338 15.4493 17.1013 13.0293C18.0688 10.6093 18.3093 7.95961 17.7931 5.405C17.7676 5.27911 17.7135 5.16078 17.635 5.05916C17.5564 4.95755 17.4555 4.87537 17.3401 4.819L9.52913 1L1.71913 4.819C1.60354 4.87525 1.50245 4.95738 1.42372 5.059C1.34499 5.16062 1.29072 5.27902 1.26513 5.405C0.749111 7.9597 0.989703 10.6095 1.95741 13.0294C2.92512 15.4494 4.5779 17.5345 6.71313 19.029L8.38313 20.197C8.71921 20.4321 9.11946 20.5582 9.52963 20.5582C9.9398 20.5582 10.34 20.4321 10.6761 20.197V20.197Z" stroke="#086FB5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M9.28573 14V10.2C9.28573 10.0267 9.28573 9.85 9.28573 9.67C9.2924 9.48333 9.29573 9.29333 9.29573 9.1C9.07573 9.3 8.8324 9.47667 8.56573 9.63C8.29907 9.77667 8.01907 9.87667 7.72573 9.93L7.56573 8.51C7.73907 8.49667 7.9224 8.45333 8.11573 8.38C8.31573 8.30667 8.5124 8.21667 8.70573 8.11C8.89907 8.00333 9.0724 7.89 9.22573 7.77C9.37907 7.64333 9.49573 7.52 9.57573 7.4H10.9457V14H9.28573Z" fill="#086FB5"/>
                              </svg>
                           </span>
                           <span class="text">FREE 1 YEAR WARRANTY</span>
                        </div>
                                   {% if template contains 'camera-v3s' %}
                                   <div class="left_side Unbeatable-Battery ">
                           <span class="icon">
                             <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M6.45703 18.3332C6.27995 18.3332 6.13151 18.2733 6.01172 18.1535C5.89193 18.0337 5.83203 17.8853 5.83203 17.7082V3.62484C5.83203 3.44775 5.89193 3.29932 6.01172 3.17952C6.13151 3.05973 6.27995 2.99984 6.45703 2.99984H8.33203V1.6665H11.6654V2.99984H13.5404C13.7174 2.99984 13.8659 3.05973 13.9857 3.17952C14.1055 3.29932 14.1654 3.44775 14.1654 3.62484V17.7082C14.1654 17.8853 14.1055 18.0337 13.9857 18.1535C13.8659 18.2733 13.7174 18.3332 13.5404 18.3332H6.45703ZM7.08203 9.74984H12.9154V4.24984H7.08203V9.74984Z" fill="#086FB5"/>
   </svg>
   
                           </span>
                           <span class="text">Unbeatable Battery </span>
                        </div>
                                   <div class="right_side ">
                           <span class="icon">
                              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M2.70703 14.979H3.95703V13.729H2.70703V14.979ZM2.70703 11.729H3.95703V8.27067H2.70703V11.729ZM6.33203 14.979H7.58203V11.4373H6.33203V14.979ZM6.33203 9.52067H7.58203V8.27067H6.33203V9.52067ZM10.1237 14.979H11.3737V13.729H10.1237V14.979ZM10.1237 11.729H11.3737V8.27067H10.1237V11.729ZM1.58203 17.3332C1.2487 17.3332 0.957031 17.2082 0.707031 16.9582C0.457031 16.7082 0.332031 16.4165 0.332031 16.0832V5.64567L5.3112 0.666504H12.4154C12.7487 0.666504 13.0404 0.791504 13.2904 1.0415C13.5404 1.2915 13.6654 1.58317 13.6654 1.9165V16.0832C13.6654 16.4165 13.5404 16.7082 13.2904 16.9582C13.0404 17.2082 12.7487 17.3332 12.4154 17.3332H1.58203ZM1.58203 16.0832H12.4154V1.9165H5.8737L1.58203 6.21077V16.0832Z" fill="#086FB5"/>
                               </svg>
                           </span>
                           <span class="text">Free {{ cntry }} Sim Card</span>
                        </div>
                                   {% endif %}
                     </div>
                     <!--<p class="offer-mode 8">Offer ends in <span class="countdown">48:00:06</span></p>
                        <p class="getoff">{% for variantis in prod.variants %}
                              {% if forloop.last == true  %}
                             {{variantis.compare_at_price | minus : variantis.price  | money}}
                              {% endif %}
                              {% endfor %} OFF</p>--->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   {% schema %}
      {
       "name": "product--tab-select",
        "class":"index-section",
       "settings": [
   {
               "type": "text",
               "id": "wireless1x",
               "label": "Wirelss 1x"
             },
               {
                  "type": "image_picker",
                  "id": "img01",
                  "label": "Select your Image"
               },
               {
                  "type": "image_picker",
                  "id": "img02",
                  "label": "Select your Image"
               },
               {
                  "type": "image_picker",
                  "id": "img03",
                  "label": "Select your Image"
               },
               {
                  "type": "image_picker",
                  "id": "img04",
                  "label": "Select your Image"
               },
       
             {
               "type": "text",
               "id": "wireless5x",
               "label": "Wirelss 5x"
             },{
               "type": "text",
               "id": "fourg1x",
               "label": "4g 1x"
             },{
               "type": "text",
               "id": "fourg5x",
               "label": "4g 5x"
             },
            {
             "type": "text",
             "id": "sub_info_text",
             "label": "Rating Number wifi 1x"
             },
            {
             "type": "text",
             "id": "sub_info_text2",
             "label": "Rating Number wifi 5x"
             },
            {
             "type": "text",
             "id": "sub_info_text3",
             "label": "Rating Number 4g 1x"
             },
            {
             "type": "text",
             "id": "sub_info_text4",
             "label": "Rating Number 4g 5x"
             }
   
       ],
     "presets": [
       {
         "name": "product--tab-select"
       }
     ]
     }
   {% endschema %}
   {{ 'product--tab-select.css' | asset_url | stylesheet_tag }}
   
   
   <style>
      .buy_now_custom {
         margin: 10px 0;
     }
      button.product-form__submit.button.button--full-width.button--primary {
         font-size: 14px;
     }

      .buynow-btn {
        
        padding-bottom: 0 !important;
    }
    button.product-form__submit.button.button--full-width.button--primary {
      background-color: #086fb5;
    }
    </style>
   
   <script>
        $(document).ready(function() {
     $('.choose--from ul li').click(function(){
     
     if($(this).hasClass('one')){
     
   
   var getVld=$('select#CurrencySelector option:selected').val()
       if(getVld=='USD'){
       
        $('p.shipday').text('2-4  Days USA Shipping');
       
       }else{
       
      
       
       }
   
   
   
     $('.choose--from ul li').removeClass('active');
     $(this).addClass('active');
      $('.tab--data.wifi').addClass('active');
     $('.tab--data.active.g4g').removeClass('active');
     }else{
     var getVld=$('select#CurrencySelector option:selected').val()
       if(getVld=='USD'){
       
       $('p.shipday').text('8-12 Days USA Shipping');
       
       }else{
       
       
       
       }
     $('.choose--from ul li').removeClass('active');
     $(this).addClass('active');
    
     
     
     $('.tab--data.active.wifi').removeClass('active');
     $('.tab--data.g4g').addClass('active');
     
     
     }
     
     })
            $('.minus').click(function () {
               var $input = $(this).parent().find('input');
               var count = parseInt($input.val()) - 1;
               count = count < 1 ? 1 : count;
               $input.val(count);
               $input.change();
               return false;
            });
            $('.plus').click(function () {
               var $input = $(this).parent().find('input');
               $input.val(parseInt($input.val()) + 1);
               $input.change();
               return false;
            });
         });
   </script>
   
                                           </div>