 <div id="shopify-section-wifior4g wifior4g-v3s" class="wifi-or-4g-v3s">   
 
 <div class="page-width product-page-width">
 {% if section.settings.title != blank %}
<h3 class="section-title">{{ section.settings.title }}</h3>
   {% endif %}




      <div class="tabs">
        <div class="tabs-nav-main">
  <ul id="tabs-nav">
    <li><a href="#tab1"> <h3><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12" cy="12" r="12" fill="white"/>
<path d="M9.33333 8H7.55554V12.5H5.77779V8H4V14.3H7.55554V17H9.33333V14.3H11.1111V12.5H9.33333V8ZM16.4445 11.6V13.4H18.2222V15.2H13.7778V9.80002H20C20 8.81 19.2 8 18.2222 8H13.7778C12.8 8 12 8.81 12 9.80002V15.2C12 16.19 12.8 17 13.7778 17H18.2222C19.2 17 20 16.19 20 15.2V11.6H16.4445Z" fill="#086FB5"/>
</svg>

Connect With 4G Sim Card</h3></a></li>
    <li><a href="#tab2"> <h3><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12" cy="12" r="12" fill="#161515"/>
<path d="M11.618 5.1876C14.7636 5.2303 17.3926 6.30119 19.5723 8.45539C20.0238 8.90176 20.127 9.43813 19.8381 9.80808C19.5433 10.1854 18.9578 10.2275 18.4295 9.8968H18.4294C18.2784 9.7997 18.1376 9.68756 18.009 9.56232C14.5364 6.25134 9.2103 6.1438 5.59196 9.31738C5.24165 9.62465 4.85886 9.83448 4.37908 9.80175C4.04358 9.77891 3.77363 9.63497 3.62256 9.32253C3.46761 9.00112 3.56024 8.70834 3.76237 8.44318C3.85351 8.32932 3.95509 8.22418 4.06573 8.12913C6.23864 6.17968 8.79889 5.23607 11.618 5.1875L11.618 5.1876Z" fill="white"/>
<path d="M11.84 8.84672C14.0068 8.89046 15.7989 9.71091 17.3927 11.0234C17.5926 11.188 17.7342 11.4114 17.8291 11.6549C17.9496 11.9642 17.9696 12.2752 17.7368 12.5432C17.4983 12.8173 17.1792 12.863 16.8424 12.7875C16.4805 12.7064 16.2019 12.4829 15.9309 12.2411C13.7703 10.3071 10.5657 10.1733 8.28197 11.9197C8.0772 12.0763 7.88955 12.2549 7.69544 12.425C7.39746 12.6856 7.06266 12.8483 6.6554 12.8158C6.1251 12.7737 5.81728 12.326 5.96282 11.817C6.03903 11.5565 6.18675 11.3227 6.389 11.1421C7.94935 9.70869 9.76198 8.87721 11.84 8.84668L11.84 8.84672Z" fill="white"/>
<path d="M12.2455 12.6553C13.3676 12.6756 14.4346 13.1454 15.2071 13.9594C15.4799 14.2445 15.6683 14.5659 15.5606 14.9879C15.4243 15.5255 14.7777 15.7776 14.3274 15.3603C12.9261 14.0619 10.977 14.0523 9.49108 15.2861C9.0765 15.6303 8.81043 15.6585 8.47906 15.393C8.1477 15.1276 8.06734 14.6783 8.28784 14.2682C8.40675 14.0471 8.58064 13.8729 8.77347 13.7154C9.62446 13.0226 10.722 12.653 12.2455 12.6553L12.2455 12.6553Z" fill="white"/>
<path d="M13.2721 17.4552C13.2719 17.8171 13.1269 18.1638 12.8696 18.4184C12.6124 18.673 12.264 18.8143 11.9021 18.8107C11.1212 18.8068 10.5176 18.1953 10.5305 17.4198C10.5437 16.6141 11.1546 16.0057 11.9375 16.0218C12.692 16.0359 13.2786 16.6652 13.2721 17.4552Z" fill="white"/>
</svg>

Connect With WiFi</h3></a></li>
  </ul> </div><!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
     <div class="internal---con">  <ul>
        <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.62271 6.2205H5.82635C6.25425 6.2248 6.6634 6.4058 6.96446 6.72488C7.26552 7.04361 7.43464 7.4743 7.43464 7.92324V8.79499L8.96963 7.32832H8.96929C9.98773 6.35606 10.5684 4.97813 10.5677 3.53334V0.918037C10.5677 0.671928 10.6618 0.436194 10.8292 0.263419C10.9966 0.0910005 11.2226 -0.00415556 11.4572 0.000139334H11.8629C12.7403 0.0015702 13.5814 0.367513 14.2016 1.01855C14.8218 1.66924 15.1709 2.55134 15.1723 3.47177V8.26657H22.7095C23.0464 8.2612 23.372 8.39642 23.6137 8.64253C23.8558 8.88899 23.9945 9.22596 24 9.57935V11.5947C23.9956 12.0687 23.7467 12.5026 23.3498 12.7284V12.831V14.9898C23.3498 15.3493 23.2141 15.6942 22.972 15.9489C22.7303 16.2036 22.4019 16.3474 22.0593 16.3488H22.0054V17.8874C22.0034 18.3696 21.8148 18.8307 21.4824 19.164C21.525 19.3017 21.5482 19.4452 21.5509 19.5897V21.7436C21.5458 22.0973 21.4091 22.435 21.1697 22.6843C20.9304 22.9333 20.6075 23.0742 20.2702 23.0771H7.25867C7.12331 23.3536 6.9184 23.5861 6.66574 23.7489C6.4131 23.9116 6.12293 23.9986 5.8263 24H1.62266C1.19237 24 0.779465 23.8208 0.475294 23.5013C0.170818 23.1823 0 22.7491 0 22.2976V7.92298C0 7.47154 0.170818 7.03835 0.475294 6.71895C0.77943 6.39986 1.19233 6.22029 1.62266 6.22029L1.62271 6.2205ZM7.43466 21.6665H20.1966V19.6615H17.308C16.9534 19.63 16.6813 19.3192 16.6813 18.9461C16.6813 18.573 16.9534 18.2621 17.308 18.2306H20.3139C20.4977 18.2306 20.6464 18.0747 20.6464 17.8819V16.3433H18.4615V16.3436C18.0834 16.3436 17.7772 16.0221 17.7772 15.6257C17.7772 15.229 18.0834 14.9078 18.4615 14.9078H21.9955V12.9078H19.7469C19.3926 12.8759 19.1205 12.5651 19.1205 12.1923C19.1205 11.8192 19.3926 11.5084 19.7469 11.4769H22.6358V9.69723H14.683C14.3673 9.69723 14.0928 9.47044 14.0182 9.14849C13.8743 8.98681 13.7928 8.77504 13.7887 8.55361V3.47154C13.7891 2.94498 13.5968 2.43811 13.251 2.05642C12.9049 1.67438 12.4327 1.44651 11.9312 1.4204V3.53305C11.9261 5.38241 11.1811 7.14424 9.87823 8.38939L7.43425 10.7278L7.43466 21.6665ZM1.34924 22.3179H1.3489C1.3489 22.3895 1.37652 22.4582 1.42528 22.5082C1.47403 22.5587 1.53983 22.5859 1.60803 22.5848H5.81168C5.87987 22.5859 5.94602 22.5587 5.99478 22.5082C6.04354 22.4582 6.07081 22.3895 6.07081 22.3179V7.92319C6.07081 7.85165 6.04354 7.78297 5.99478 7.73289C5.94602 7.68245 5.87988 7.65527 5.81168 7.65634H1.60803C1.53984 7.65527 1.47403 7.68245 1.42528 7.73289C1.37652 7.78297 1.3489 7.85166 1.3489 7.92319L1.34924 22.3179Z" fill="#006BB3"/>
</svg>
<p>
          <span class="boldsec">Pros:</span> Set up camera in more locations, as long as there's network coverage</p></li>
        <li><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.3228 11.3019V11.2035V9.13468C24.3228 8.79016 24.1814 8.45969 23.9292 8.21558C23.6774 7.97151 23.3354 7.83369 22.9785 7.83232H22.9223V6.35788C22.9202 5.89578 22.7238 5.45388 22.3775 5.13443C22.4219 5.00245 22.4461 4.86498 22.4489 4.72649V2.6624C22.4436 2.32336 22.3012 1.99975 22.0518 1.76085C21.8025 1.52225 21.4662 1.38719 21.1149 1.38444H7.56113C7.42012 1.11946 7.20668 0.896626 6.94349 0.740652C6.68032 0.584678 6.37807 0.501369 6.06908 0.5H1.69027C1.24205 0.5 0.811944 0.671743 0.495098 0.977873C0.177935 1.28366 0 1.69879 0 2.13146V15.907C0 16.3396 0.177935 16.7548 0.495098 17.0609C0.811907 17.3666 1.24201 17.5387 1.69027 17.5387H6.06908C6.5148 17.5346 6.941 17.3612 7.25461 17.0554C7.56822 16.7499 7.74438 16.3372 7.74438 15.907V15.0715L9.34334 16.4771H9.34298C10.4039 17.4088 11.0087 18.7293 11.0079 20.1139V22.6202C11.0079 22.8561 11.106 23.082 11.2804 23.2476C11.4547 23.4128 11.6902 23.504 11.9346 23.4999H12.3572C13.2711 23.4985 14.1473 23.1478 14.7933 22.5239C15.4393 21.9003 15.803 21.055 15.8044 20.1729V15.5779H23.6557C24.0066 15.5831 24.3458 15.4535 24.5976 15.2176C24.8498 14.9815 24.9943 14.6585 25 14.3199V12.3885C24.9954 11.9342 24.7361 11.5184 24.3227 11.3021L24.3228 11.3019ZM6.33927 15.9069C6.33927 15.9754 6.31086 16.0413 6.26007 16.0893C6.20928 16.1376 6.14038 16.1636 6.06934 16.1626H1.69054C1.6195 16.1636 1.55095 16.1376 1.50016 16.0893C1.44938 16.0413 1.42061 15.9754 1.42061 15.9069V2.11204C1.42061 2.04348 1.44938 1.97766 1.50016 1.92966C1.55095 1.88133 1.6195 1.85527 1.69054 1.8563H6.06934C6.14038 1.85527 6.20928 1.88133 6.26007 1.92966C6.31086 1.97766 6.33927 2.04348 6.33927 2.11204V15.9069ZM23.5799 14.2066H15.2957C14.9669 14.2066 14.6809 14.4239 14.6032 14.7324C14.4533 14.8874 14.3684 15.0903 14.3641 15.3025V20.1728C14.3645 20.6774 14.1642 21.1631 13.804 21.5289C13.4436 21.8951 12.9516 22.1134 12.4292 22.1384V20.1138C12.4253 18.3422 11.651 16.6539 10.2957 15.4599L7.7499 13.219V2.73614H21.0391V4.65763H18.0301C17.6607 4.6878 17.3773 4.9857 17.3773 5.34325C17.3773 5.70079 17.6607 5.9987 18.0301 6.02886H21.1615H21.1612C21.2532 6.02886 21.3413 6.06383 21.4059 6.12657C21.4709 6.1893 21.5075 6.27432 21.5075 6.3631V7.83754L19.2316 7.8372C18.8377 7.8372 18.5188 8.14538 18.5188 8.52521C18.5188 8.90539 18.8377 9.21323 19.2316 9.21323H22.9129V11.1347H20.5705V11.1351C20.2015 11.1652 19.9181 11.4631 19.9181 11.8207C19.9181 12.1779 20.2015 12.4761 20.5705 12.5063H23.5799L23.5799 14.2066Z" fill="#006BB3"/>
</svg>

        <p>  <span class="boldsec"> Cons: </span>Monthly data costs</p>
        
        
        
        </li>
      </ul>
    
    <div class="last--pargraph">
   
          <span class="currencytext_usa">
          
            {% for block in section.blocks %}
              {%- case block.type -%}
          {%- when 'richtext' -%}

{% if request.host contains 'ca.' %}
  

{{ block.settings.ca }}


  {% elsif  request.host contains 'au.'%}
 
     {{ block.settings.au }}            


   {% elsif  request.host contains 'eu.'%}
  
{{ block.settings.eu }}


              {% elsif  request.host contains 'nz.'%}
  
{{ block.settings.nz }}



  {% elsif  request.host contains 'sa.'%}
  
{{ block.settings.sa }}
  {% elsif  request.host contains 'uk.'%}
  
{{ block.settings.uk }}

   {% else %}
  

{{ block.settings.usa }}
                 
   {%endif%}
   
{% endcase %}
        
             {% endfor %}
             </span>
     <span class="currencytext_all" style="display: none;">
            <span class="boldsec"> Note:</span> You're fully responsible for purchasing your own SIM card & data plan.
          </span>
      </div>
    </div>  
    </div>
    <div id="tab2" class="tab-content">
     <div class="internal---con"><ul>
        <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.62271 6.2205H5.82635C6.25425 6.2248 6.6634 6.4058 6.96446 6.72488C7.26552 7.04361 7.43464 7.4743 7.43464 7.92324V8.79499L8.96963 7.32832H8.96929C9.98773 6.35606 10.5684 4.97813 10.5677 3.53334V0.918037C10.5677 0.671928 10.6618 0.436194 10.8292 0.263419C10.9966 0.0910005 11.2226 -0.00415556 11.4572 0.000139334H11.8629C12.7403 0.0015702 13.5814 0.367513 14.2016 1.01855C14.8218 1.66924 15.1709 2.55134 15.1723 3.47177V8.26657H22.7095C23.0464 8.2612 23.372 8.39642 23.6137 8.64253C23.8558 8.88899 23.9945 9.22596 24 9.57935V11.5947C23.9956 12.0687 23.7467 12.5026 23.3498 12.7284V12.831V14.9898C23.3498 15.3493 23.2141 15.6942 22.972 15.9489C22.7303 16.2036 22.4019 16.3474 22.0593 16.3488H22.0054V17.8874C22.0034 18.3696 21.8148 18.8307 21.4824 19.164C21.525 19.3017 21.5482 19.4452 21.5509 19.5897V21.7436C21.5458 22.0973 21.4091 22.435 21.1697 22.6843C20.9304 22.9333 20.6075 23.0742 20.2702 23.0771H7.25867C7.12331 23.3536 6.9184 23.5861 6.66574 23.7489C6.4131 23.9116 6.12293 23.9986 5.8263 24H1.62266C1.19237 24 0.779465 23.8208 0.475294 23.5013C0.170818 23.1823 0 22.7491 0 22.2976V7.92298C0 7.47154 0.170818 7.03835 0.475294 6.71895C0.77943 6.39986 1.19233 6.22029 1.62266 6.22029L1.62271 6.2205ZM7.43466 21.6665H20.1966V19.6615H17.308C16.9534 19.63 16.6813 19.3192 16.6813 18.9461C16.6813 18.573 16.9534 18.2621 17.308 18.2306H20.3139C20.4977 18.2306 20.6464 18.0747 20.6464 17.8819V16.3433H18.4615V16.3436C18.0834 16.3436 17.7772 16.0221 17.7772 15.6257C17.7772 15.229 18.0834 14.9078 18.4615 14.9078H21.9955V12.9078H19.7469C19.3926 12.8759 19.1205 12.5651 19.1205 12.1923C19.1205 11.8192 19.3926 11.5084 19.7469 11.4769H22.6358V9.69723H14.683C14.3673 9.69723 14.0928 9.47044 14.0182 9.14849C13.8743 8.98681 13.7928 8.77504 13.7887 8.55361V3.47154C13.7891 2.94498 13.5968 2.43811 13.251 2.05642C12.9049 1.67438 12.4327 1.44651 11.9312 1.4204V3.53305C11.9261 5.38241 11.1811 7.14424 9.87823 8.38939L7.43425 10.7278L7.43466 21.6665ZM1.34924 22.3179H1.3489C1.3489 22.3895 1.37652 22.4582 1.42528 22.5082C1.47403 22.5587 1.53983 22.5859 1.60803 22.5848H5.81168C5.87987 22.5859 5.94602 22.5587 5.99478 22.5082C6.04354 22.4582 6.07081 22.3895 6.07081 22.3179V7.92319C6.07081 7.85165 6.04354 7.78297 5.99478 7.73289C5.94602 7.68245 5.87988 7.65527 5.81168 7.65634H1.60803C1.53984 7.65527 1.47403 7.68245 1.42528 7.73289C1.37652 7.78297 1.3489 7.85166 1.3489 7.92319L1.34924 22.3179Z" fill="#006BB3"/>
</svg>
<p>
<span class="boldsec">Pros: </span>No additional monthly costs</p></li>
        <li><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.3228 11.3019V11.2035V9.13468C24.3228 8.79016 24.1814 8.45969 23.9292 8.21558C23.6774 7.97151 23.3354 7.83369 22.9785 7.83232H22.9223V6.35788C22.9202 5.89578 22.7238 5.45388 22.3775 5.13443C22.4219 5.00245 22.4461 4.86498 22.4489 4.72649V2.6624C22.4436 2.32336 22.3012 1.99975 22.0518 1.76085C21.8025 1.52225 21.4662 1.38719 21.1149 1.38444H7.56113C7.42012 1.11946 7.20668 0.896626 6.94349 0.740652C6.68032 0.584678 6.37807 0.501369 6.06908 0.5H1.69027C1.24205 0.5 0.811944 0.671743 0.495098 0.977873C0.177935 1.28366 0 1.69879 0 2.13146V15.907C0 16.3396 0.177935 16.7548 0.495098 17.0609C0.811907 17.3666 1.24201 17.5387 1.69027 17.5387H6.06908C6.5148 17.5346 6.941 17.3612 7.25461 17.0554C7.56822 16.7499 7.74438 16.3372 7.74438 15.907V15.0715L9.34334 16.4771H9.34298C10.4039 17.4088 11.0087 18.7293 11.0079 20.1139V22.6202C11.0079 22.8561 11.106 23.082 11.2804 23.2476C11.4547 23.4128 11.6902 23.504 11.9346 23.4999H12.3572C13.2711 23.4985 14.1473 23.1478 14.7933 22.5239C15.4393 21.9003 15.803 21.055 15.8044 20.1729V15.5779H23.6557C24.0066 15.5831 24.3458 15.4535 24.5976 15.2176C24.8498 14.9815 24.9943 14.6585 25 14.3199V12.3885C24.9954 11.9342 24.7361 11.5184 24.3227 11.3021L24.3228 11.3019ZM6.33927 15.9069C6.33927 15.9754 6.31086 16.0413 6.26007 16.0893C6.20928 16.1376 6.14038 16.1636 6.06934 16.1626H1.69054C1.6195 16.1636 1.55095 16.1376 1.50016 16.0893C1.44938 16.0413 1.42061 15.9754 1.42061 15.9069V2.11204C1.42061 2.04348 1.44938 1.97766 1.50016 1.92966C1.55095 1.88133 1.6195 1.85527 1.69054 1.8563H6.06934C6.14038 1.85527 6.20928 1.88133 6.26007 1.92966C6.31086 1.97766 6.33927 2.04348 6.33927 2.11204V15.9069ZM23.5799 14.2066H15.2957C14.9669 14.2066 14.6809 14.4239 14.6032 14.7324C14.4533 14.8874 14.3684 15.0903 14.3641 15.3025V20.1728C14.3645 20.6774 14.1642 21.1631 13.804 21.5289C13.4436 21.8951 12.9516 22.1134 12.4292 22.1384V20.1138C12.4253 18.3422 11.651 16.6539 10.2957 15.4599L7.7499 13.219V2.73614H21.0391V4.65763H18.0301C17.6607 4.6878 17.3773 4.9857 17.3773 5.34325C17.3773 5.70079 17.6607 5.9987 18.0301 6.02886H21.1615H21.1612C21.2532 6.02886 21.3413 6.06383 21.4059 6.12657C21.4709 6.1893 21.5075 6.27432 21.5075 6.3631V7.83754L19.2316 7.8372C18.8377 7.8372 18.5188 8.14538 18.5188 8.52521C18.5188 8.90539 18.8377 9.21323 19.2316 9.21323H22.9129V11.1347H20.5705V11.1351C20.2015 11.1652 19.9181 11.4631 19.9181 11.8207C19.9181 12.1779 20.2015 12.4761 20.5705 12.5063H23.5799L23.5799 14.2066Z" fill="#006BB3"/>
</svg>
<p>
          <span class="boldsec">Cons:</span> Cameras must be set within wifi range</p></li>
      </ul>
    <div class="last--pargraph">
   
          <span>
            {% for block in section.blocks %}
              {%- case block.type -%}
          {%- when 'text' -%}

{% if request.host contains 'ca.' %}
  

{{ block.settings.ca }}


  {% elsif  request.host contains 'au.'%}
 
     {{ block.settings.au }}            


   {% elsif  request.host contains 'eu.'%}
  
{{ block.settings.eu }}


              {% elsif  request.host contains 'nz.'%}
  
{{ block.settings.nz }}



  {% elsif  request.host contains 'sa.'%}
  
{{ block.settings.sa }}
  {% elsif  request.host contains 'uk.'%}
  
{{ block.settings.uk }}

   {% else %}
  

{{ block.settings.usa }}
                 
   {%endif%}
   
{% endcase %}
        
             {% endfor %}
          </span></div>
      </div>
     
    </div>
   
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->
</div></div>
<script>
  // Show the first tab and hide the rest
$('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function(){
  if ($(window).width() < 767) {
 if($(this).parent().hasClass('active')){
     $(this).parent().removeClass('active');
    $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
 }else{
   $(this).parent().addClass('active');
    $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
  
 }
  }
  else{
  $('#tabs-nav li').removeClass('active');
  $(this).addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
  }
});
 
</script>
<style>
 
ul#tabs-nav {
  list-style: none;
  margin: 0;
  overflow: auto;
}

.

</style>
{% schema %}
  {
    "name": "wifi 4g v3s",
     "class":"index-section",
    "max_blocks":2,
    "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      
    ],
"blocks": [
{
      "type": "text",
      "name": "Connect With WiFi",
       "limit":1,
      "settings": [
        {
          "type": "textarea",
          "id": "usa",
          "label": "USA text"
        },{
          "type": "textarea",
          "id": "ca",
          "label": "CA text"
        },
        {
          "type": "textarea",
          "id": "au",
          "label": "AU text"
        },{
          "type": "textarea",
          "id": "eu",
          "label": "EU text"
        },{
          "type": "textarea",
          "id": "nz",
          "label": "NZ text"
        },{
          "type": "textarea",
          "id": "sa",
          "label": "SA text"
        },{
          "type": "textarea",
          "id": "uk",
          "label": "UK text"
        }
]
},{
      "type": "richtext",
      "name": "Connect With 4G Sim Card",
  "limit":1,
    "settings": [
        {
          "type": "textarea",
          "id": "usa",
          "label": "USA text"
        },{
          "type": "textarea",
          "id": "ca",
          "label": "CA text"
        },
        {
          "type": "textarea",
          "id": "au",
          "label": "AU text"
        },{
          "type": "textarea",
          "id": "eu",
          "label": "EU text"
        },{
          "type": "textarea",
          "id": "nz",
          "label": "NZ text"
        },{
          "type": "textarea",
          "id": "sa",
          "label": "SA text"
        },{
          "type": "textarea",
          "id": "uk",
          "label": "UK text"
        }
]
}
],
  "presets": [
    {
      "name": "wifi 4g v3s"
    }
  ]
  }
 
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

 {{ 'wifior4g.css' | asset_url | stylesheet_tag }}

