<div id="shopify-section-wireless-generation-sec" class="shopify-section"><div class="page-width wirless-generation"> 
  <div class="main_wire_gen desktop_view">
   <div class="left-wire_gen">
      <div class="product-single__description rte">
        <h2>{{ section.settings.heading_title_1 }}</h2>
        <div>{{ section.settings.prehead}}</div>
      </div>
   </div>
   <div class="wire-gen-right">
      <div class="inner_gen_right first">
         <div class="first_media sem_wire_gen">
            <div class="twoway-main same_inner_wire">
               <div class="twoway-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/two-way.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="twoway-body">
                  <h4 class="wire_heading">Two-way Voice Intercom</h4>
               </div>
            </div>
         </div>
         <div class="second_media sem_wire_gen">
            <div class="star_technology same_inner_wire">
               <div class="star-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/starlight.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="star-body">
                  <h4 class="wire_heading">Starlight Technology</h4>
               </div>
            </div>
         </div>
         <div class="third_media sem_wire_gen">
            <div class="simple_instll same_inner_wire">
               <div class="install_left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/simple_installation.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="right-body">
                  <h4 class="wire_heading">Simple Installation</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="inner_gen_right second">
         <div class="first_media sem_wire_gen">
            <div class="privacy-main same_inner_wire">
               <div class="privacy-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/protect_privecy.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="privacy-body">
                  <h4 class="wire_heading">Protects Privacy</h4>
               </div>
            </div>
         </div>
         <div class="second_media sem_wire_gen">
            <div class="human_technology same_inner_wire">
               <div class="human-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/human_detection.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="human-body">
                  <h4 class="wire_heading">Human Detection</h4>
               </div>
            </div>
         </div>
         <div class="third_media sem_wire_gen">
            <div class="netork4g_main same_inner_wire">
               <div class="netork4g_left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/4g.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="netork4g-body">
                  <h4 class="wire_heading">Works on 4G Network</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
  <div class="main_wire_gen mobile_view">
   <div class="left-wire_gen">
      <div class="product-single__description rte">
         <h2>{{ section.settings.heading_title_2 }}</h2>
        <div>{{ section.settings.prehead1}}</div>
      </div>
   </div>
   <div class="wire-gen-right">
      <div class="inner_gen_right first">
         <div class="first_media sem_wire_gen">
            <div class="twoway-main same_inner_wire">
               <div class="twoway-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/two-way.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="twoway-body">
                  <h4 class="wire_heading">Two-way Voice <br>Intercom</h4>
               </div>
            </div>
         </div>
         <div class="second_media sem_wire_gen">
            <div class="star_technology same_inner_wire">
               <div class="star-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/starlight.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="star-body">
                  <h4 class="wire_heading">Starlight <br>Technology</h4>
               </div>
            </div>
         </div>
      </div>
      <div class="inner_gen_right second">
	      <div class="third_media sem_wire_gen">
            <div class="simple_instll same_inner_wire">
               <div class="install_left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/simple_installation.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="right-body">
                  <h4 class="wire_heading">Simple <br>Installation</h4>
               </div>
            </div>
         </div>
         <div class="first_media sem_wire_gen">
            <div class="privacy-main same_inner_wire">
               <div class="privacy-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/protect_privecy.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="privacy-body">
                  <h4 class="wire_heading">Protects <br>Privacy</h4>
               </div>
            </div>
         </div>
         </div>
		<div class="inner_gen_right third">
         <div class="second_media sem_wire_gen">
            <div class="human_technology same_inner_wire">
               <div class="human-left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/human_detection.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="human-body">
                  <h4 class="wire_heading">Human <br>Detection</h4>
               </div>
            </div>
         </div>
         <div class="third_media sem_wire_gen">
            <div class="netork4g_main same_inner_wire">
               <div class="netork4g_left">
                  <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/4g.svg?v=1649523821" class="media-wiregen">
               </div>
               <div class="netork4g-body">
                  <h4 class="wire_heading">Works on 4G <br>Network</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
{% schema %}
   {
    "name": "wireless generation sec",
    "settings": [
       {
      "type": "text",
      "id": "heading_title_1",
      "label": "Desktop Heading"
    },
    {
      "type": "html",
       "id": "prehead",
      "label": "Desktop Peragraph"
      },
       {
      "type": "text",
      "id": "heading_title_2",
      "label": "Mobile Heading"
    },
    {
      "type": "html",
       "id": "prehead1",
      "label": "Mobile Peragraph"
      }
    ],
   "presets": [
       {
         "name": "wireless generation sec"
       
       }
      ]
      }
{% endschema %}
{{ 'wireless-generation-sec.css' | asset_url | stylesheet_tag }}

