<div class="wireless-competition-section padd-80">
  <div class="page-width">
    <div class="wireless-competition-table table-responsive ctm-flex">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{ section.settings.wtitle }}</th>
            <th scope="col">{{ section.settings.ctitle }}</th>
          </tr>
        </thead>
        <tbody>
          {% for block in section.blocks %}
            <tr>
                <th scope="row">{{ block.settings.tabletitle }}</th>
                <td>{{ block.settings.wtitle }}</td>
                <td>{{ block.settings.ctitle }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Wireless Competition",
    "settings": [
        {
          "type": "text",
          "id": "wtitle",
          "label": "Add Wireless Title"
        },
        {
          "type": "text",
          "id": "ctitle",
          "label": "Add Competition Title"
        }
    ],
    "blocks":[
      {
        "type": "maintitle",
        "name": "Maintitle Column",
        "settings":[
          {
            "type": "text",
            "id": "tabletitle",
            "label": "Add Title Here"
          },
          {
            "type": "text",
            "id": "wtitle",
            "label": "Add Wireless Content"
          },
          {
            "type": "text",
            "id": "ctitle",
            "label": "Add Competition Content"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Wireless Competition"
      }
    ]
  }
{% endschema %}